
    <!-- Footer -->
    <div class="container-fluid py-5" style="background-color: #555; color: #BBB">
      <div class="container py-4">
        <div class="row">
          <div class="col pb-5">
            <div class="row">
              <div class="col">
                <h5 style="color: #EEE">About</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="extern" href="https://opensource.org/licenses/MIT">License</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="extern" href="https://github.com/qooxdoo/qooxdoo">Source</a>
                  </li>
<!---
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" href="#">Team</a>
                  </li>
-->
                </ul>
              </div>
              <div class="col">
                <h5 style="color: #EEE">Learn &amp; Code</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="docs" href="/docs">Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="apiviewer" href="/apps/apiviewer">API Viewer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="demobrowser" href="https://qooxdoo.org/qxl.demobrowser">Demobrowser</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="playground" href="https://qooxdoo.org/qxl.playground">Playground</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="widgetbrowser" href="https://qooxdoo.org/qxl.widgetbrowser">Widgetbrowser</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="mobileshowcase" href="https://qooxdoo.org/qxl.mobileshowcase">Mobileshowcase</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="extern" href="https://qooxdoo.org/qxl.packagebrowser">Browse packages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" target="extern" href="https://news.qooxdoo.org">Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h5 style="color: #EEE">Support</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link p-0 text-nowrap" style="color: #BBB" target="extern" href="https://github.com/qooxdoo/qooxdoo/issues">GitHub Issues</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0 text-nowrap" style="color: #BBB" target="extern" href="https://gitter.im/qooxdoo/qooxdoo">Chat on Gitter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0 text-nowrap" style="color: #BBB" target="extern" href=https://stackoverflow.com/questions/tagged/qooxdoo">Q/A</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-0" style="color: #BBB" href="#">FAQ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md text-center pb-5">
            <a class="btn btn-link p-0 mx-1 text-light" data-toggle="tooltip" data-placement="top" title="" target="extern" href="https://github.com/qooxdoo/qooxdoo" data-original-title="Qooxdoo on GitHub">
              <i class="fab fa-2x fa-github mx-1"></i>
            </a>
            <a class="btn btn-link p-0 mx-1 text-light" data-toggle="tooltip" data-placement="top" title="" target="extern" href="https://gitter.im/qooxdoo/qooxdoo" data-original-title="Chat with us on Gitter">
              <i class="fab fa-2x fa-gitter mx-1"></i>
            </a>
            <a class="btn btn-link p-0 mx-1 text-light" data-toggle="tooltip" data-placement="top" title="" target="extern" href="https://news.qooxdoo.org" data-original-title="Qooxdoo Blog">
              <i class="fab fa-2x fa-medium mx-1"></i>
            </a>
            <a class="btn btn-link p-0 mx-1 text-light" data-toggle="tooltip" data-placement="top" title="" target="extern" href="https://twitter.com/qooxdoo" data-original-title="Qooxdoo on Twitter">
              <i class="fab fa-2x fa-twitter mx-1"></i>
            </a>
            <a class="btn btn-link p-0 mx-1 text-light" data-toggle="tooltip" data-placement="top" title="" target="extern" href="https://stackoverflow.com/questions/tagged/qooxdoo" data-original-title="Qooxdoo Q/A">
              <i class="fab fa-2x fa-stack-overflow mx-1"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="container text-center d-none d-sm-block p-4">
        <img class="img p-4" src="/assets/qx-white.svg">
        <span class="text-light">&copy; 2005-2018 Qooxdoo Contributors</span>
      </div>
      <div class="container text-center d-block d-sm-none p-4">
        <img class="img-fluid p-4" src="/assets/qx-white.svg">
        <p>&copy; 2005-2017 Qooxdoo Contributors</p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        var scroll = (function (event) {
          var scroll = $(window).scrollTop();
          if (scroll < 250) {
            $(navigatopnBar).css('background-color', 'transparent');
            $(navigationLogo).css('width', '0');
            $(navigationLogo).addClass('invisible');
          } else {
            $(navigatopnBar).css('background-color', 'rgba(0, 40, 56, 0.9)');
            $(navigationLogo).css('width', '');
            $(navigationLogo).removeClass('invisible');
          }
        });
        $(window).scroll(scroll);
        scroll();
    </script>

