<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/abel.css" >
    <link rel="icon" href="/assets/favicon.png" type="image/png">

    <!-- Github buttons -->
    <script src="/assets/buttons.js"></script>
    <script src="/assets/fontawesome-all.js"></script>

    <title>{{= it.title || it.site.title }}</title>
    <meta name="description" content="{{= it.excerpt || it.site.excerpt || "" }}">
    <link rel="stylesheet" type="text/css" href="/qooxdoo.css">
    <script type="text/javascript" src="/assets/bluebird.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/scripts/serve.js"></script>
</head>
