# CAUTION: .css files have been updated without changing the corresponding .less file!!
# before activating .gitignore, make sure changes are reflected back to .less!

# these are overwritten by lessc
/base.css
/layout.css
/pages.css
/reset.css
