body.community .community {
  background-color: #ffee00;
  padding: 5px 20px;
  color: #000;
  font-size: 10px;
}
body.community .community a {
  color: inherit;
  font-weight: bold;
}
body.community .community a:hover {
  text-decoration: underline;
}
body#community .atom {
  overflow: hidden;
}
body#community .atom > a {
  display: block;
  float: left;
  width: 95px;
  margin-left: 10px;
}
body#community .atom > a:first-child {
  margin-left: 0;
}
body#community .atom > a > img {
  width: 64px;
  height: 64px;
}
body.demos #tools {
  zoom: 1;
}
body.demos #tools:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body.demos #tools .tool {
  display: block;
  float: left;
  width: 410px;
  margin-left: 10px;
  margin-left: 0;
  margin-bottom: 21.6px;
}
body.demos #tools .tool:first-child {
  margin-left: 0;
}
body.demos #tools .screenshot {
  margin-left: 115px !important;
  display: block;
  float: left;
  width: 305px;
  margin-left: 10px;
}
body.demos #tools .screenshot:first-child {
  margin-left: 0;
}
body.demos #tools .screenshot a {
  zoom: 1;
}
body.demos #tools .screenshot a:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body.demos #tools .screenshot img {
  width: 285px;
  height: 177px;
  padding-left: 20px;
  margin-bottom: 21.6px;
}
body.demos .versions {
  zoom: 1;
}
body.demos .versions:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body.demos .versions .line {
  zoom: 1;
  clear: both;
}
body.demos .versions .line:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body.demos .versions .line + .line {
  margin-top: 2em;
}
body.demos .versions ul {
  display: block;
  float: left;
  width: 95px;
  margin-left: 10px;
  margin-top: 0;
}
body.demos .versions ul:first-child {
  margin-left: 0;
}
body.demos .versions ul.last {
  clear: both;
}
body#demos #content {
  width: auto;
}
body#demos #domains {
  margin-bottom: 21.6px;
  position: relative;
}
body#demos #show-all {
  display: none;
}
body#demos #domains section.domain {
  width: 830px;
  margin: 0 auto;
  zoom: 1;
  background-color: #f0f0f0;
  margin-bottom: 21.6px;
  border-left: 2px solid transparent;
}
body#demos #domains section.domain:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#demos #domains section.domain.expanded {
  background-color: #dddddd;
}
body#demos #domains section.domain.expanded .hint {
  display: block;
}
body#demos #domains section.domain.expanded .demo .note,
body#demos #domains section.domain.expanded .demo .primary,
body#demos #domains section.domain.expanded .demo .secondary,
body#demos #domains section.domain.expanded .demo ul {
  display: block !important;
}
body#demos #domains section.domain.expanded .demo img {
  width: 285px;
  height: 177px;
  display: block;
}
body#demos #domains section.domain.compact {
  background-image: url(../images/expand.png);
  background-repeat: no-repeat;
  background-position: 98% bottom;
}
body#demos #domains section.domain.compact:hover {
  cursor: pointer;
  background-color: #dddddd;
}
body#demos #domains section.domain .demo > a,
body#demos #domains section.domain .demo > div > a,
body#demos #domains section.domain .demo > div > h1,
body#demos #domains section.domain .demo > div > h2,
body#demos #domains section.domain .demo > div > h3,
body#demos #domains section.domain .demo > div > h4,
body#demos #domains section.domain .demo > div > p,
body#demos #domains section.domain .demo > div > ul,
body#demos #domains section.domain .demo > h1,
body#demos #domains section.domain .demo > h2,
body#demos #domains section.domain .demo > h3,
body#demos #domains section.domain .demo > h4,
body#demos #domains section.domain .demo > p,
body#demos #domains section.domain .demo > ul,
body#demos #domains section.domain .title > a,
body#demos #domains section.domain .title > div > a,
body#demos #domains section.domain .title > div > h1,
body#demos #domains section.domain .title > div > h2,
body#demos #domains section.domain .title > div > h3,
body#demos #domains section.domain .title > div > h4,
body#demos #domains section.domain .title > div > p,
body#demos #domains section.domain .title > div > ul,
body#demos #domains section.domain .title > h1,
body#demos #domains section.domain .title > h2,
body#demos #domains section.domain .title > h3,
body#demos #domains section.domain .title > h4,
body#demos #domains section.domain .title > p,
body#demos #domains section.domain .title > ul {
  padding: 0 5px;
}
body#demos #domains section.domain .demo > a:first-child,
body#demos #domains section.domain .title > a:first-child {
  padding-top: 10px;
}
body#demos #domains section.domain .demo > h2,
body#demos #domains section.domain .title > h2 {
  padding-top: 10px;
}
body#demos #domains section.domain .title {
  display: block;
  float: left;
  width: 200px;
  margin-left: 10px;
}
body#demos #domains section.domain .title:first-child {
  margin-left: 0;
}
body#demos #domains section.domain .hint {
  display: none;
  clear: both;
  padding-left: 210px;
}
body#demos #domains section.domain .demo {
  display: block;
  float: left;
  width: 305px;
  margin-left: 10px;
}
body#demos #domains section.domain .demo:first-child {
  margin-left: 0;
}
body#demos #domains section.domain .demo.first {
  margin-left: 210px;
}
body#demos #domains section.domain .demo > p {
  padding-right: 50px;
  height: 43.2px;
}
body#demos #domains section.domain .demo > a {
  display: block;
}
body#demos #domains section.domain .demo ul {
  display: none;
}
body#demos #domains section.domain .demo ul span {
  font-size: 10px;
}
body#demos #domains section.domain .demo .primary,
body#demos #domains section.domain .demo .secondary {
  display: block;
  float: left;
  width: 130px;
  margin-left: 10px;
  display: none;
  margin-bottom: 1em;
}
body#demos #domains section.domain .demo .primary:first-child,
body#demos #domains section.domain .demo .secondary:first-child {
  margin-left: 0;
}
body#demos #domains section.domain .demo .primary h3,
body#demos #domains section.domain .demo .secondary h3 {
  font-weight: normal;
}
body#demos #domains section.domain .demo .primary {
  margin-left: 0;
}
body#demos #domains section.domain .demo .secondary {
  margin-left: 45px !important;
}
body#demos #domains section.domain .demo img {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
body#demos #domains.all .expanded {
  background-color: #f0f0f0 !important;
}
body#demos section + p.note {
  margin-top: -1em;
}
body#docs #main #content {
  position: relative;
  display: block;
  float: left;
  width: 830px;
  margin-left: 10px;
  margin-left: 0;
}
body#docs #main #content:first-child {
  margin-left: 0;
}
body#docs code {
  font-family: monospace;
  white-space: pre;
  display: block;
}
body#docs h1 .headerlink, body#docs h2 .headerlink,
body#docs h3 .headerlink, body#docs h4 .headerlink,
body#docs h5 .headerlink {
  visibility: hidden;
}
body#docs h1:hover .headerlink, body#docs h2:hover .headerlink,
body#docs h3:hover .headerlink, body#docs h4:hover .headerlink,
body#docs h5:hover .headerlink {
  visibility: visible;
}
body#docs #boxes {
  position: relative;
  display: block;
  float: left;
  width: 830px;
  margin-left: 10px;
  margin-left: 0;
}
body#docs #boxes:first-child {
  margin-left: 0;
}
body#docs #boxes .versions {
  display: none;
  color: #707070;
}
body#docs #boxes .versions:hover {
  cursor: pointer;
}
body#docs #boxes .versions.show {
  display: inline;
}
body#docs #boxes .versions a {
  color: #707070;
  padding: 0 1px;
}
body#docs #boxes .versions a:hover {
  color: #3d72c9;
}
body#docs #boxes .teaser {
  display: block;
  float: left;
  width: 410px;
  margin-left: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  height: 216px;
}
body#docs #boxes .teaser:first-child {
  margin-left: 0;
}
body#docs #boxes .teaser > div {
  padding: 10px;
}
body#docs #boxes .teaser h2 {
  margin-top: 5px;
}
body#docs #boxes .teaser.row {
  clear: both;
  margin-left: 0;
}
body#docs #boxes .teaser p {
  margin-bottom: 0;
}
body#downloads #domains {
  display: block;
  float: left;
  width: 830px;
  margin-left: 10px;
  margin-left: 0;
  position: relative;
  margin-bottom: 21.6px;
}
body#downloads #domains:first-child {
  margin-left: 0;
}
body#downloads #domains .row {
  zoom: 1;
}
body#downloads #domains .row:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#downloads #domains .row + .row {
  margin-top: 10px;
}
body#downloads #domains .domain {
  display: block;
  float: left;
  width: 410px;
  margin-left: 10px;
  border-top: 2px solid transparent;
  background-color: #f0f0f0;
  height: 302px;
}
body#downloads #domains .domain > a,
body#downloads #domains .domain > div > a,
body#downloads #domains .domain > div > h1,
body#downloads #domains .domain > div > h2,
body#downloads #domains .domain > div > h3,
body#downloads #domains .domain > div > h4,
body#downloads #domains .domain > div > p,
body#downloads #domains .domain > div > ul,
body#downloads #domains .domain > h1,
body#downloads #domains .domain > h2,
body#downloads #domains .domain > h3,
body#downloads #domains .domain > h4,
body#downloads #domains .domain > p,
body#downloads #domains .domain > ul {
  padding: 0 10px;
}
body#downloads #domains .domain > a:first-child {
  padding-top: 15px;
}
body#downloads #domains .domain:first-child {
  margin-left: 0;
}
body#downloads #domains .domain ul {
  list-style-type: none;
  margin-left: 0;
}
body#downloads #domains .domain h2 {
  margin-bottom: 10.8px;
}
body#downloads #domains .domain p {
  margin-bottom: 0;
}
body#downloads #domains .domain .highlight {
  background-color: transparent;
}
body#home section#wrapper > h1 {
  display: none;
}
body#home #callout {
  width: 830px;
  margin: 50px auto;
  padding-left: 10px;
}
body#home #callout h1, body#home #callout h2 {
  margin: 0;
}
body#home #callout h1 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: 800;
}
body#home #callout h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
}
body#home #callout em {
  font-style: normal;
}
body#home #callout span {
  color: #f0f0f0;
}
body#home #domains {
  zoom: 1;
  clear: both;
  position: relative;
  height: 458px;
  margin-bottom: 43px;
  background: url(../images/domains-bg.png) repeat-x #f4f4f4;
}
body#home #domains:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#home #domains.active {
  background: url(../images/domains-bg-active.png) repeat-x #f4f4f4;
}
body#home #domains .container {
  zoom: 1;
  position: relative;
  left: -10px;
  width: 830px;
  margin: 0 auto;
}
body#home #domains .container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#home #domains .container .icons {
  zoom: 1;
  height: 105px;
  margin-right: -10px;
}
body#home #domains .container .icons:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#home #domains .container .icons img {
  float: left;
  width: 90px;
  display: block;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 110px;
  opacity: 0.5;
  cursor: pointer;
}
body#home #domains .container .icons img.active {
  opacity: 1;
}
body#home #domains h1, body#home #domains h2, body#home #domains p {
  margin-top: 0;
  margin-bottom: 0;
}
body#home #domains ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
}
body#home #domains section.domain {
  display: block;
  float: left;
  width: 200px;
  margin-left: 10px;
  position: relative;
  top: -85px;
  margin-top: 85px;
  font-size: 11px;
  color: #000;
}
body#home #domains section.domain:first-child {
  margin-left: 0;
}
body#home #domains section.domain#website {
  margin-left: 0;
}
body#home #domains section.domain:hover header h2 {
  text-decoration: underline;
}
body#home #domains section.domain.active:hover header h2 {
  text-decoration: inherit;
}
body#home #domains section.domain header {
  display: block;
  float: left;
  width: 200px;
  margin-left: 10px;
  position: relative;
  top: 1px;
  height: 54px;
  cursor: pointer;
  z-index: 2;
  border-style: solid;
  border-color: transparent;
  border-width: 1px 1px 0 1px;
}
body#home #domains section.domain header:first-child {
  margin-left: 0;
}
body#home #domains section.domain header div.tagline,
body#home #domains section.domain header h2 {
  padding: 0 10px;
}
body#home #domains section.domain header h2 {
  font-family: inherit;
  font-size: 13px;
  color: #262626;
  letter-spacing: 0.9px;
  line-height: 1.1;
  margin-top: 9px;
}
body#home #domains section.domain header div.tagline {
  color: #595959;
}
body#home #domains section.domain div.description {
  display: block;
  float: left;
  width: 200px;
  margin-left: 10px;
  margin-left: 0;
  height: 243px;
  padding: 8px 0 10px 0;
  position: relative;
}
body#home #domains section.domain div.description:first-child {
  margin-left: 0;
}
body#home #domains section.domain div.description div > * {
  color: #262626;
  padding: 0 10px;
  line-height: 18px;
}
body#home #domains section.domain div.description div.feature {
  position: absolute;
  height: 110px;
  top: 76px;
  margin-top: 11px;
}
body#home #domains section.domain div.description div.feature > * {
  padding: 0;
}
body#home #domains section.domain div.description p:first-child {
  min-height: 64px;
}
body#home #domains section.domain div.description h3 {
  margin: 5px 0 3px 0;
}
body#home #domains section.domain div.description div.introduction,
body#home #domains section.domain div.description div.sample {
  display: block;
  float: left;
  width: 200px;
  margin-left: 10px;
}
body#home #domains section.domain div.description div.introduction:first-child,
body#home #domains section.domain div.description div.sample:first-child {
  margin-left: 0;
}
body#home #domains section.domain div.description div.introduction div.feature {
  visibility: hidden;
}
body#home #domains section.domain div.description div.sample {
  display: block;
  float: left;
  width: 410px;
  margin-left: 10px;
  display: none;
}
body#home #domains section.domain div.description div.sample:first-child {
  margin-left: 0;
}
body#home #domains section.domain div.description div.sample .container {
  width: auto;
  margin-top: 6px;
  padding: 0 10px;
}
body#home #domains section.domain div.description div.sample .syntaxhighlighter {
  padding: 10px !important;
  margin: 0 !important;
  margin-left: -10px !important;
  font-size: 11px !important;
  height: 144px;
}
body#home #domains section.domain div.description div.sample .run {
  zoom: 1;
  margin-left: -10px;
}
body#home #domains section.domain div.description div.sample .run:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#home #domains section.domain div.description div.sample .run .button {
  display: block;
  float: left;
  width: 60px;
  margin-left: 10px;
  margin-top: 11px;
  line-height: 32px;
  background-color: #3d72c9;
  background-image: url("../images/arrow-left-light.png");
  background-position: 14% 48%;
  background-repeat: no-repeat;
  color: #fff;
}
body#home #domains section.domain div.description div.sample .run .button:first-child {
  margin-left: 0;
}
body#home #domains section.domain div.description div.action {
  display: block;
  float: left;
  width: 165px;
  margin-left: 10px;
  display: none;
  margin-top: 6px;
}
body#home #domains section.domain div.description div.action:first-child {
  margin-left: 0;
}
body#home #domains section.domain div.description div.action .button.download {
  background-image: url("../images/arrow.png");
  background-position: 6% 48%;
  background-repeat: no-repeat;
  padding-bottom: 3px;
}
body#home #domains section.domain div.description div.action .button.download > span {
  position: relative;
  top: -4px;
}
body#home #domains section.domain div.description div.action .button.download .note {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  text-indent: 2px;
  color: #4b4c4f;
  font-size: 9px;
}
body#home #domains section.domain div.description div.action .alternative {
  position: relative;
  top: -8px;
  font-size: 10px;
}
body#home #domains section.domain div.description div.action .alternative a {
  text-decoration: underline;
}
body#home #domains section.domain.active div.description {
  display: block;
  float: left;
  width: 830px;
  margin-left: 10px;
  margin-left: 0;
}
body#home #domains section.domain.active div.description:first-child {
  margin-left: 0;
}
body#home #domains section.domain.active div.description div.action,
body#home #domains section.domain.active div.description div.sample {
  display: block;
}
body#home #domains section.domain.active header {
  background: url("../images/close.png") no-repeat scroll 94% 29% #ffffff;
  border-color: #e0e0e0;
}
body#home #domains section.domain#mobile.active div.description {
  margin-left: -220px !important;
  padding-left: 10px;
}
body#home #domains section.domain#desktop.active div.description {
  margin-left: -430px !important;
  padding-left: 10px;
}
body#home #domains section.domain#server.active div.description {
  margin-left: -640px !important;
  padding-left: 10px;
}
body#home .show #main {
  overflow: visible;
  padding-top: 0;
}
body#home .show #main section#about {
  color: #262626;
  margin-top: 10.8px;
  zoom: 1;
}
body#home .show #main section#about:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
body#home .show #main section#about #content {
  display: block;
  float: left;
  width: 480px;
  margin-left: 10px;
}
body#home .show #main section#about #content:first-child {
  margin-left: 0;
}
body#home .show #main section#about #content h2 {
  font-weight: bold;
  margin-top: 0;
}
body#home .show #main section#about #content a:hover {
  text-decoration: underline;
}
body#home .show #main section#about .action {
  margin-left: 150px !important;
  display: block;
  float: left;
  width: 165px;
  margin-left: 10px;
}
body#home .show #main section#about .action:first-child {
  margin-left: 0;
}
