
#qx_divlog{
  position: absolute;
  font-size: 10px;
  font-family: "Bitstream Vera Sans Mono", "Courier New", "Courier", monospace;
  z-index: 1000000102;
}

#qx_divlog .log-body{
  overflow: auto;
  position: absolute;
  top: 30px;
  bottom: 0px;
  padding: 4px;
}

#qx_divlog .log-debug{
  color: gray;
  padding-left: 6px;
}

#qx_divlog .log-info{
  background: #DFEBFD;
  padding-left: 6px;
}

#qx_divlog .log-warn{
  background: #F5FAAD;
  padding-left: 6px;
}

#qx_divlog .log-error{
  background: #D2623E;
  color: black;
  padding-left: 6px;
}

#qx_divlog .log-group{
  margin-top: 4px;
  margin-bottom: 1px;
  text-decoration: underline;
}

#qx_divlog .log-head{
  padding: 8px 2px 4px;
}

#qx_divlog .log-head button{
  border: 1px solid #335EA8;
  margin: 0 2px;
  font-size: 11px;
  background: #EBE9ED;
  font-family: Tahoma, Verdana, sans-serif;
}

#qx_divlog .log-head button{
  visibility: visible;
}

