/* ==============================================
    OVERALL CONTENT
============================================== */

div.ClassViewer {
  color: #323335 !important; /* background-selected-dark */
}

.content a {
  color: #3d72c9; /* highlight */
}

.content h1 a {
  color: #323335; /* background-selected-dark */
}

/* ==============================================
    HEADER (TOP)
============================================== */

#header{
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

#header *{
  padding: 0;
  margin: 0
}

#header h1{
  font-size: 18px;
  font-weight: bold;
  color: #323335; /* background-selected-dark */
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0;
  padding: 0;
}

#header .version{
  font-size: 11px;
  text-transform: lowercase;
  color: #f4f4f4; /* light-background */
  margin-top: -14px;
  letter-spacing: 1px;
  word-spacing: 4px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
}








/* ==============================================
    LEGEND (BOTTOM-LEFT)
============================================== */

#legend{
  font-size: 11px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

#legend tr td{
  border-bottom: 1px solid #ECECEC;
}

#legend td,
#legend th{
  font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Tahoma, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 11px;
  padding: 6px 8px 6px;
}

#legend td.text{
  vertical-align: top;
  padding-top: 4px;
}

#legend td.icon,
#legend td.icon img{
  vertical-align: top;
  text-align: center;
}

#legend h3{
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
/*  color: #134275;*/
  font-size: 13px;
  margin: 0 !important;
}









/* ==============================================
    CONTENT (BOTTOM-RIGHT)
============================================== */

.content *{
  padding: 0;
  margin: 0
}

.content,
.content td,
.content th{
  font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Tahoma, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 11px;
  line-height: 1.4;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

.content h1{
  font-size: 24px;
  margin-bottom: 20px;
}

.content h1 small{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
  display: block;
}

.content h2{
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 4px;
  font-weight: bold;
}

.content h2.warning{
  color: #D61F1C;
}

.content h3{
  font-size: 14px;
  margin-bottom: 4px;
}

.content img{
  border: 0 none;
  vertical-align: middle;
}

.content ul,
.content ol{
  margin-left: 20px;
}

.content a:hover,
.content a:active{
  text-decoration: underline;
}

.content table{
  empty-cells: show;
}

.content td,
.content th{
  vertical-align: top;
  text-align: left;
}





/* ==============================================
    SOURCE CODE
============================================== */

.content code,
.content pre{
  font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", monospace;
  background: white;
  color: black;
  border: 1px solid #ECECEC;
  font-size: 11px;
  font-weight: normal;
}

.keyword {
	font-weight: bold;
}

.atom {
	color: orange;
	font-weight: bold;
}

.qxkey {
	font-weight: bold;
}

.ident {

}

.comment {
	color: #3f5fc0;
}

.string {
	color: green;
}


.content code{
  padding: 1px 3px;
}

.content pre{
  overflow: auto;
  padding: 4px 8px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.content b,
.content strong,
.content th{
  font-weight: bold;
  color: #535256;
}

.content p{
  margin-top: 3px;
  margin-bottom: 5px;
}

.content ul{
  list-style: square;
}





/* ==============================================
    CLASS VIEWER: TOC Items
============================================== */
.tocitem {
  margin: 2px 7px 10px 1px;
  line-height: 18px;
  cursor: pointer;
}

.tocitem img {
  vertical-align: bottom;
}

.tocContainer {
  margin-bottom: 10px;
}



/* ==============================================
    CLASS VIEWER: CLASS DESCRIPTION
============================================== */

.ClassViewer h1 span.type{
  color: #3d72c9; /* highlight */
  font-weight: normal;
}

.ClassViewer div.class-description{
  font-size: 12px;
  line-height: 1.6;
	overflow: auto;
	background: #f4f4f4; /* light-background */
	margin-bottom: 30px;
	border: 1px solid #f4f4f4; /* light-background */
  -moz-border-radius-topright: 20px;
  padding: 2px 20px;
  color: #000000; /* text */
}

.ClassViewer div.class-description p,
.ClassViewer div.class-description ul,
.ClassViewer div.class-description ol{
  margin-top: 14px;
  margin-bottom: 14px;
  max-width: 600px;
}

.ClassViewer div.class-description em{
  color: #3d72c9; /* highlight */
  font-style: normal;
  font-weight: bold;
}








/* ==============================================
    CLASS VIEWER: INFO PANEL
============================================== */

.ClassViewer div.info-panel{
  margin-top: 30px;
}

.ClassViewer div.info-panel h2{
  cursor: default;
}









/* ==============================================
    CLASS VIEWER: INFO TABLE
============================================== */

.ClassViewer table.info{
  table-layout: fixed;
}

.ClassViewer table.info tr{
  background: #f4f4f4; /* light-background */
  color: #000000; /* text */
}

.ClassViewer table.info tr.marked{
  background: #E1EEFF;
}

.ClassViewer table.info tr.item-protected{
  background: #FFFAED !important;
}

.ClassViewer table.info tr.item-private{
	background: #FFE3E4 !important;
}

.ClassViewer table.info tr.item-internal{
	background: #FFF3F4 !important;
}

.ClassViewer table.info tr tr{
  background: none !important;
}









/* ==============================================
    CLASS VIEWER: INFO TABLE: COLUMNS
============================================== */

.ClassViewer table.info tr td{
  border-top: 3px solid #fff;
  overflow: hidden;
  padding: 4px 4px 2px;
}

.ClassViewer table.info tr td td{
  border-top: 0 none;
  padding: 0;
}

.ClassViewer table.info td.icon{
  text-align: left;
  width: 24px;
}

.ClassViewer table.info td.type{
  width: 170px;
}

.ClassViewer table.info td.type,
.ClassViewer table.info td.type a{
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  color: #3d72c9; /* highlight */
}

.ClassViewer table.info td.toggle{
  text-align: center;
  width: 16px;
  padding: 6px 1px 0;
}

.ClassViewer table.info td.toggle img{
  cursor: default;
}

.ClassViewer table.info td.text{
  padding-right: 10px;
}

.ClassViewer table.info td.text h3{
  cursor: default;
}

.ClassViewer table.info td.text table{
	padding: 0;
}

.ClassViewer table.info td.text table td{
	padding: 1px 3px;
}

.ClassViewer table.info td.text table th{
	text-align: left;
	font-weight: normal;
	padding: 1px 3px;
}










/* ==============================================
    CLASS VIEWER: METHOD SIGNATURE
============================================== */

.ClassViewer span.method-signature{
  color: #3d72c9; /* highlight */
}

.ClassViewer span.method-signature a{
  color: #3d72c9; /* highlight */
}

.ClassViewer span.method-signature span.separator,
.ClassViewer span.method-signature span.parenthesis{
/*  color: #134275;*/
  font-weight: bold;
}

.ClassViewer span.method-signature span.parameter-type{
  font-style: italic;
  font-size: 11px;
}









/* ==============================================
    CLASS VIEWER: ITEM DETAILS
============================================== */

.ClassViewer div.item-detail-headline{
  font-weight: bold;
  color: #1D65B3;
  margin-top: 10px;
}

.ClassViewer div.item-detail-error{
  font-weight: bold;
  color: #D61F1C;
  margin-top: 10px;
}

.ClassViewer div.item-detail-text{
  padding-left: 12px;
  margin-bottom: 6px;
}

.ClassViewer div.item-detail-text p{
  display: inline;
}

.ClassViewer span.item-detail-optional{
  font-style: italic;
}

.ClassViewer span.item-deprecated,
.ClassViewer span.item-deprecated *{
	text-decoration: line-through;
	color: #7193b9;
}
