/* TABLE */
.ins_dom_table {
  width: 100%;
}



/* RETURN PATH */
.ins_dom_return_path_main {
  font: bold 11px Helvetica;
  border-bottom: 1px #555555 solid;
  padding: 5px;
  background-color: #000000;
  color: #FFFFFF;
}

.ins_dom_return_path_selected {
  color: #666666;
  font: bold 11px Helvetica;  
}

.ins_dom_return_path_link {
  cursor: pointer;
}



/* VALUES */
.ins_dom_object {
  color: green;
  cursor: pointer;
  font: bold 11px Helvetica;
}

.ins_dom_object a:hover {
  text-decoration: underline;
}

.ins_dom_array_more {
  font: bold 11px Helvetica;
}

.ins_dom_self_ref {
  color: #AAAAAA;
  font: italic 11px Helvetica;
}

.ins_dom_basic {
  color: darkblue;  
  font: normal 11px "Courier New", Courier, monospace;
}

.ins_dom_string {
  color: red;
  font: normal 11px "Courier New", Courier, monospace;  
}

.ins_dom_null {
  color: white;
  background-color: #999999;
  border: 1px #666666 solid;
  font: normal 11px Helvetica;
}

.ins_dom_func_object {
  color: green;
  cursor: pointer;
  font: normal 11px "Courier New", Courier, monospace;
}

.ins_dom_func_object a:hover{
  text-decoration: underline;
}



/* KEYS */ 
.ins_dom_no_prop {
  padding: 10px;
  color: #999999;
  font: normal 11px Helvetica;
}

.ins_dom_func {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px #666666 solid;
}

.ins_dom_key {
  font: bold 11px Helvetica;
  vertical-align: top;
  margin-left: 5px;
  width: 30%;
  white-space: nowrap;  
}

.ins_dom_key a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.ins_dom_key_number {
  font: bold 11px Helvetica;
  vertical-align: top;
  margin-left: 5px;
  width: 30%;
  white-space: nowrap;
  color: #6A5ACD;
}

.ins_dom_key_number a:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.ins_dom_front_image {
  width: 16;
  height: 12;
  padding-right: 3px;
}