//
// ANDROID THEME 
//

$navigationbar-height: 45px;

$application-font: sans-serif;

$android-orange: #e89c00;
$android-light-orange: #ffdb66;
$android-light-orange-2: #fdd824;
$android-dark-grey: #636363;

$button-color: #f4f4f4;
$border-color: #6b6d6b;
$background-color:#181818;

$dialog-background-color: #424242;

$highlighted-text-color: $android-orange;

$border-thickness: 1px;

// Collapsible

$collapsible-border-radius: 4px;
$collapsible-header-border-color: #888888;
$collapsible-header-text-color: #333333;
$collapsible-header-active-text-color: #333333;
$collapsible-header-background-color: #F4F4F4;
$collapsible-header-background-color-2: darken($collapsible-header-background-color, 20%);
$collapsible-header-active-background-color: $android-orange;
$collapsible-header-active-background-color-2: darken($collapsible-header-active-background-color, 20%);
$collapsible-header-padding: 10px;
$collapsible-header-content-distance: 10px;
$collapsible-content-border-color: #6b6d6b;
$collapsible-content-padding: 10px;
$collapsible-content-background-color: $background-color;
$collapsible-arrow-size: 8px;
$collapsible-arrow-color: #333333;
$collapsible-active-arrow-color: #333333;

// Checkbox

$checkbox-tick-color: $android-orange;
$checkbox-border-radius:  0.1em;
$checkbox-border-color:  #888888;
$checkbox-background-color: darken(#F4F4F4, 20%); 
$checkbox-background-color-2: lighten(#F4F4F4, 20%); 

// Radiobutton

$radiobutton-dot-color: $android-orange;
$radiobutton-background-color: darken(#F4F4F4, 20%);
$radiobutton-background-color-2: lighten(#F4F4F4, 20%);
$radiobutton-border-color: #888888;
$radiobutton-background-inner-color: #45484d;

// Slider

$slider-height: 10px;
$slider-background-color:  darken(white,10%);
$slider-background-color-2:  white;
$slider-active-area-color:  lighten($android-orange,10%);
$slider-active-area-color-2:  $android-orange;
$slider-border-radius:  20px; 
$slider-border-color:  #9e9e9e;
$slider-knob-border-radius: 4px;
$slider-knob-height: 30px;
$slider-knob-width: 30px;
$slider-knob-color:  lighten(#F4F4F4, 20%);
$slider-knob-color-2:  darken(#F4F4F4, 20%);
$slider-knob-border-color:  #9e9e9e;
$slider-shadow: rgba(0,0,0,0.4);
$slider-font-size:  0.8em;
$slider-font-color:  #888;

// Picker 

$picker-spinning-wheel-overlay-color-1:  rgba(#F4F4F4, 1);
$picker-spinning-wheel-overlay-color-2: rgba(#F4F4F4, 0);
$picker-spinning-wheel-text-color:  #333333; 
$picker-spinning-wheel-background-color:  #F4F4F4;
$picker-highlight-color:  rgba($android-orange, 0.5);
$picker-highlight-border-width:  2px;
$picker-spinning-wheel-border-radius:  4px;
$picker-spinning-wheel-divider-color:  #888;
$picker-spinning-wheel-divider-width:  2px;
$picker-label-height: 25px;
$picker-height: 300px;

@import "common/base";

@import "basic/blocker";
@import "basic/button";
@import "basic/checkbox";
@import "basic/collapsible";
@import "basic/form";
@import "basic/list";
@import "basic/masterdetail";
@import "basic/menu";
@import "basic/navigationbar";
@import "basic/navigation"; 
@import "basic/popup";
@import "basic/scrollbar";
@import "basic/selectbox";
@import "basic/spinner";
@import "basic/slider";
@import "basic/tabbar";
@import "basic/toolbar";
@import "basic/radiobutton";
@import "basic/carousel";
@import "basic/picker";
@import "basic/drawer";

@import "android/main";
@import "android/togglebutton";

@import "android/android";  


