
@import "common/base";

//
// iOS theme for qx.Mobile
//

$application-font: Helvetica;

$ios-button-bordercolor: #2d3f57;
$ios-button-backgroundcolor: #50709a;
$ios-button-gradient-stop-1: #7c97bb;
$ios-button-gradient-stop-2: #5a7caa;
$ios-button-gradient-stop-3: #476999;
$ios-button-gradient-stop-4: #4A6C9B;

$ios-button-active-bordercolor: #243346;
$ios-button-active-backgroundcolor: #476489;
$ios-button-active-gradient-stop-1: #6b89b2;
$ios-button-active-gradient-stop-2: #50709a;
$ios-button-active-gradient-stop-3: #476489;
$ios-button-active-gradient-stop-4: #3e5779;

$shadow-color: black;

$dialog-border-color: #c7d1e3; 
$button-border-color: #B4B4B4;

// NavigationBar

$navigationbar-height: 45px;

// Collapsible

$collapsible-border-radius: 4px;
$collapsible-header-border-color: #B4B4B4;
$collapsible-header-text-color: #666;
$collapsible-header-active-text-color: white;
$collapsible-header-background-color: white;
$collapsible-header-background-color-2: darken($collapsible-header-background-color, 20%);
$collapsible-header-active-background-color: #6d84a2;
$collapsible-header-active-background-color-2: darken($collapsible-header-active-background-color, 20%);
$collapsible-header-padding: 10px;
$collapsible-header-content-distance: 10px;
$collapsible-content-border-color: #B4B4B4;
$collapsible-content-padding: 10px;
$collapsible-content-background-color: white;
$collapsible-arrow-size: 8px;
$collapsible-arrow-color: #666;
$collapsible-active-arrow-color: white;

// ToggleButton

$togglebutton-width:  95px;
$togglebutton-height:  30px;
$togglebutton-border-radius:  30px;
$togglebutton-border-color:  #9e9e9e;
$togglebutton-text-color:  #888888; 
$togglebutton-active-text-color:  #ffffff;
$togglebutton-background-color:  darken(white,10%);
$togglebutton-background-color-2:  white;
$togglebutton-active-background-color:  #2591ed;
$togglebutton-active-background-color-2:  #6db5f3;
$togglebutton-knob-background-color:  #cfcfcf;
$togglebutton-knob-background-color-2:  #fdfdfd;
$togglebutton-knob-width:  30px;
$togglebutton-inset-shadow:  rgba(0,0,0,0.1);
$togglebutton-knob-shadow:  rgba(0,0,0,0.4);

// Slider

$slider-height: 14px;
$slider-background-color:  darken(white,10%);
$slider-background-color-2:  white;
$slider-active-area-color:  #6db5f3;
$slider-active-area-color-2:  #007FEA;
$slider-border-radius:  20px; 
$slider-border-color:  #9e9e9e;
$slider-knob-border-radius: 50%;
$slider-knob-width: 28px;
$slider-knob-height: 28px;
$slider-knob-color:  #cfcfcf;
$slider-knob-color-2:  #fdfdfd;
$slider-knob-border-color:  #9e9e9e;
$slider-shadow: rgba(0,0,0,0.4);
$slider-font-size:  0.8em;
$slider-font-color:  #888;

// Picker 

$picker-spinning-wheel-overlay-color-1:  rgba(#F4F4F4, 1);
$picker-spinning-wheel-overlay-color-2: rgba(#F4F4F4, 0);
$picker-spinning-wheel-text-color:  #333333; 
$picker-spinning-wheel-background-color:  #F4F4F4;
$picker-highlight-color:  rgba(#3D72C9, 0.5);
$picker-highlight-border-width:  2px;
$picker-spinning-wheel-border-radius:  4px;
$picker-spinning-wheel-divider-color:  #888;
$picker-spinning-wheel-divider-width:  2px;
$picker-label-height: 25px;
$picker-height: 300px;

@import "basic/blocker";
@import "basic/button";
@import "basic/checkbox";
@import "basic/collapsible";
@import "basic/form"; 
@import "basic/list";
@import "basic/drawer";
@import "basic/masterdetail";
@import "basic/menu";
@import "basic/popup";
@import "basic/scrollbar";
@import "basic/selectbox";
@import "basic/slider"; 
@import "basic/spinner"; 
@import "basic/togglebutton";
@import "basic/radiobutton";
@import "basic/toolbar";
@import "basic/navigation";
@import "basic/carousel";
@import "basic/picker";

@import "ios/main";
@import "ios/navigationbar";
@import "ios/tabbar";

@import "ios/ios"; 