qx={};
qx.Settings={};
qx.Settings._customSettings={};
qx.Settings._customSettings["qx.manager.object.AliasManager"]={};
qx.Settings._customSettings["qx.manager.object.AliasManager"]["resourceUri"]="./resource/qx";
qx.Settings._customSettings["custom.Application"]={};
qx.Settings._customSettings["custom.Application"]["resourceUri"]="./resource";

(function() {
  var sources = [
    "script/qx.js",
    "class/custom/Application.js"
  ];

  for(var i=0; i<sources.length; ++i) {
	document.write('<script type="text/javascript" src="' + sources[i] + '"></script>')
  }
}) ();
