#header{
  margin: 0;
  padding: 0;
  background-color: #134275;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

#header *{
  padding: 0;
  margin: 0
}

#header h1{
  font-size: 18px;
  font-weight: bold;
  color: #DEFF83;
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0;
  padding: 0;
}

#header .version{
  font-size: 11px;
  text-transform: lowercase;
  color: #F3FFD1;
  margin-top: -14px;
  letter-spacing: 1px;
  word-spacing: 4px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
}

.testResult{
  font-family: "Consolas", "Courier New", monospace;
  font-size: 11px;
  margin: 4px;
  padding-top: 4px;
  background-color:lime;
}

.testResult * {
  padding-left: 20px;
}

.testResult strong {
  display: block;
}

.testResult h3{
  font-size: 11px;
  font-weight: bold;
  color: #134275;
  margin-left: 0px !important;
  margin: 0;
  white-space: nowrap;
  padding-left: 10px !important;
}

.resultPane {
  min-width: 100%;
}

.hiddenST{
  display: none;
}

.error,
.failure{
  background-color: #FEF4F4;
  border-left: 3px solid #9D1111;
}

.success{
  background-color: #FAFFED;
  border-left: 3px solid #DEFF83;
}

.skip {
  background-color: #F4F4F4;
  border-left: 2px solid #E5E5E5;
  color: #6EA4BC;
}

.level-debug,
.level-info,
.level-warn,
.level-error{
  margin: 4px;
}