qooxdoo/framework/cache
qooxdoo/application/playground/test
qooxdoo/application/feedreader/api
qooxdoo/application/performance/test
qooxdoo/application/performance/build
qooxdoo/application/portal/build
qooxdoo/application/performance/source/script
qooxdoo/component/inspector/source/script
qooxdoo/component/inspector/build
qooxdoo/component/inspector/test
qooxdoo/component/inspector/api
qooxdoo/documentation/manual/build
.settings/*