sudo: false
language: php
php: 5.6
dist: trusty
addons:
  sauce_connect:
    username: "qx-core"
  firefox: latest
  apt:
    packages:
    - python-sphinx
    - python-markdown

env:
  global:
  - secure: vW8wdbY/DmRITaFkQix8PUuE3jiwy2Yj0nn+k+yNqcwPde19ObQBq0rHJEiO5AJOBuNiWaie2n8sQQ6ceK72pU1IbIntPsztY/EFKP6x009wjmiLoifsVEGNP1kxLgFOnvCmlGjTIyGsqse5UsVt8HZs2jHK8xkkedTehuDNxtI=
  # SAUCE_ACCESS_KEY
  - secure: "QFvZbXLlQSdvPTGg8U4qPb/HREYXdpZZaqrZl0ab4f/w2WFPf9hS1aS/S5IG7HxdR4ie3eQZOQm/9Tj37dT9C4LAMiFGdt3awRKmgqoQmse2oKZsbv1HwamPbYkQQG3/UP/xVygk2Dt4IyikrRAYk1gTyFtWv23M9yMAn0+8Qxk="

cache:
  directories:
  - "/tmp/qx*"

install:
- .travis/prepare_npm
- gem install sass -v 3.4.20

before_script:
- cd framework

stages:
  - name: Lint-and-Coverage
    # do not run on master commits and releases
    if: (repo = qooxdoo/qooxdoo) AND (type IN (pull_request))
  - name: Local-Browser-Tests
    # do not run on master commits and releases
    if: (repo = qooxdoo/qooxdoo) AND (type IN (pull_request))
  - name: SL-Browser-Tests
    # do not run on master commits and releases
    if: (repo = qooxdoo/qooxdoo) AND (NOT type IN (pull_request)) AND (branch = master OR tag =~ ^v[0-9])
  - name: Deploy
    # run only on master commits and releases
    if: (repo = qooxdoo/qooxdoo) AND (NOT type IN (pull_request)) AND (branch = master OR tag =~ ^v[0-9])

jobs:
  include:
    - stage: Lint-and-Coverage
      name: Lint
      addons:
      install: npm install
      before_script: skip
      script:
        - ./.travis/check-if-docs-only > md_files || export CONTAINS_MD_ONLY=1;
        - export MD_FILES=$(cat md_files)
        - if [[ "$MD_FILES" != "" ]] ; then ./.travis/markdown-lint $MD_FILES ; fi
        - if [[ $CONTAINS_MD_ONLY == 1 ]] ; then echo "Markdown commit only, terminating build."; travis_terminate 0 ; fi
        - cd framework && ../.travis/lint
    - # parallel
      name: Coverage
      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
      script: ../.travis/coverage

    - stage: Local-Browser-Tests
      name: Firefox
      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
      script: ../.travis/test Firefox
    - # parallel
      name: Chrome
      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
      script: ../.travis/test Chrome_travis_ci
      
    - stage: SL-Browser-Tests
      name: SL Chrome
      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
      script: ../.travis/test ChromeSL
#    - # parallel
#      name: SL Firefox
#      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
#      script: ../.travis/test FirefoxSL
    - # parallel
      name: SL Edge
      before_install: ./.travis/check-github-label ci-skip-browser-tests && exit 0 || true
      script: ../.travis/test EdgeSL

    - stage: Deploy
      name: Deploy to website
      addons:
      script: ../.travis/deploy_website
    - # parallel
      name: Deploy to npm
      addons:
      script: ../.travis/deploy_npm
    - # parallel
      name: Deploy to GitHub
      addons:
      script: ../.travis/make-release-sdk || true
      before_deploy:
        - export RELEASE_PKG_FILE=$(ls dist/*.zip)
        - echo "deploying $RELEASE_PKG_FILE to GitHub releases"
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
        file_glob: true
        file: "${RELEASE_PKG_FILE}"
        skip_cleanup: true
        on:
          repo: qooxdoo/qooxdoo
          tags: true
