sudo: false
language: php
php: 5.6
dist: trusty
addons:
  sauce_connect:
    username: "qx-core"
  firefox: latest
  apt:
    packages:
    - python-sphinx
    - python-markdown

env:
  global:
  - secure: vW8wdbY/DmRITaFkQix8PUuE3jiwy2Yj0nn+k+yNqcwPde19ObQBq0rHJEiO5AJOBuNiWaie2n8sQQ6ceK72pU1IbIntPsztY/EFKP6x009wjmiLoifsVEGNP1kxLgFOnvCmlGjTIyGsqse5UsVt8HZs2jHK8xkkedTehuDNxtI=
  # SAUCE_ACCESS_KEY
  - secure: "QFvZbXLlQSdvPTGg8U4qPb/HREYXdpZZaqrZl0ab4f/w2WFPf9hS1aS/S5IG7HxdR4ie3eQZOQm/9Tj37dT9C4LAMiFGdt3awRKmgqoQmse2oKZsbv1HwamPbYkQQG3/UP/xVygk2Dt4IyikrRAYk1gTyFtWv23M9yMAn0+8Qxk="

cache:
  directories:
  - "/tmp/qx*"

before_install:
- .travis/check-if-docs-only > md_files || export CONTAINS_MD_ONLY=1;
- export MD_FILES=$(cat md_files)
- gem install sass -v 3.4.20
- .travis/prepare_npm

install:
- if [[ "$MD_FILES" != "" ]] ; then .travis/markdown-lint $MD_FILES ; fi
- if [[ $CONTAINS_MD_ONLY == 1 ]] ; then echo "Markdown commit only, terminating build."; travis_terminate 0 ; fi
- cd framework

stages:
  - name: Lint-and-Coverage
  - name: Local-Browser-Tests
  - name: SL-Browser-Tests
    if: repo = qooxdoo/qooxdoo AND (NOT type IN (pull_request))
  - name: Deploy
    if: repo = qooxdoo/qooxdoo AND (NOT type IN (pull_request)) AND ( branch = master OR tag =~ ^v[0-9] )

jobs:
  include:
    - stage: Lint-and-Coverage
      name: Lint
      script: ../.travis/lint
    - # parallel
      name: Coverage
      script: ../.travis/coverage
    - stage: Local-Browser-Tests
      name: Firefox
      script: ../.travis/test Firefox
    - # parallel
      name: Chrome
      script: ../.travis/test Chrome_travis_ci
    - stage: SL-Browser-Tests
      name: SL Chrome
      script: ../.travis/test ChromeSL
    - #
      name: SL Firefox
      script: ../.travis/test FirefoxSL
    - #
      name: SL Edge
      script: ../.travis/test EdgeSL
    - stage: Deploy
      name: Deploy
      script: ../.travis/deploy
    - #
      name: Deploy to npm
      script: ../.travis/deploy_npm
      before_deploy:
        - export RELEASE_PKG_FILE=$(ls dist/*.zip)
        - echo "deploying $RELEASE_PKG_FILE to GitHub releases"
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
        file_glob: true
        file: "${RELEASE_PKG_FILE}"
        skip_cleanup: true
        on:
          repo: qooxdoo/qooxdoo
          tags: true
