#sidebar ul li ul {
  margin-bottom: 0;
}

#sidebar h4 {
  color: #707070;
}

#content a.headerlink,
#content a.headerlink:hover {
  display: none;
  padding-left: 5px;
  text-decoration: none;
}

#content h1:hover a.headerlink,
#content h2:hover a.headerlink,
#content h3:hover a.headerlink,
#content h4:hover a.headerlink {
  display: inline;
}

#content .note {
  margin: 1em 0;
  padding: 10px;
  background-color: #f0f0f0; /* @lightShade */
}

#content .note .admonition-title {
  font-weight: bold;
  margin-bottom: 0;
}