  "common-XXX" :
  {
    "library" :
    [
      {
        "encoding" : "utf-8",
        "path" : "../../framework/source",
        "uri" : "../../../../../framework/source"
      },

      {
        "encoding" : "utf-8",
        "path" : "source",
        "uri" : "../.."
      }
    ],

    "include" : ["XXX"],

    "cache" :
    {
      "path" : "../../cache"
    },

    "settings" :
    {
      "qx.application" : "XXX",
      "qx.resourceUri" : "../../../../../framework/source/resource"
    }
  },

  "source-XXX" :
  {
    "extend" : ["common-XXX"],

    "settings" :
    {
      "demobrowser.resourceUri" : "../../resource"
    },

    "source" :
    {
      "file" : "source/script/XXX.js"
    }
  },

  "build-XXX" :
  {
    "extend" : ["common-XXX"],

    "settings" :
    {
      "demobrowser.resourceUri" : "../../resource"
    },

    "variants" :
    {
      "qx.debug" : ["off"],
      "qx.aspects" : ["off"]
    },

    "compile" :
    {
      "file" : "build/script/XXX.js",
      "uri"  : "../../script/XXX.js",
      "optimize" : [ "variables", "basecalls", "privates" ]
    }
  }
