    "common-XXX" :
    {
      "library" :
      [
        {
          "manifest" : "../../framework/Manifest.js",
          "uri"      : "../../../../../framework"
        },

        {
          "manifest" : "Manifest_samples.js",
          "uri"      : "../../.."
        }
      ],

      "include" :
      [
        "XXX",
        "qx.log.appender.Console",
        "qx.log.appender.Native"
      ],

      "require" :
      {
      	"qx.ui.core.Widget" : ["qx.theme.Classic"]
      },

      "themes" :
      {
        "qx.icontheme" : ["Oxygen"],
        "qx.theme"     : ["Modern"]
      },

      "cache" :
      {
        "path" : "../../cache"
      },

      "localize" :
      {
        "locales" : ["en", "en_US", "de", "de_DE"]
      }
    },

    "source-XXX" :
    {
      "extend" : ["common-XXX"],

      "settings" :
      {
        "qx.application" : "XXX",
        "qx.resourceUri" : "../../../../../framework/source/resource",
        "demobrowser.resourceUri" : "../../resource"
      },

      "script" :
      {
        "file" : "source/script/XXX.js"
      }
    },

    "build-XXX" :
    {
      "extend" : ["common-XXX"],

      "settings" :
      {
        "qx.application" : "XXX",
        "qx.resourceUri" : "../../resource",
        "demobrowser.resourceUri" : "../../resource"
      },

      "variants" :
      {
        "qx.debug" : ["off"],
        "qx.aspects" : ["off"]
      },

      "compile" :
      {
        "file" : "build/script/XXX.js",
        "uri"  : "../../script/XXX.js",
        "resourceUri" : "../..",
        "optimize" : [ "variables", "basecalls", "privates" ],
        "format" : "on"
      }
    }
