#header{
  margin: 0;
  padding: 0;
  background-color: #134275;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
}

#header *{
  padding: 0;
  margin: 0
}

#header h1{
  font-size: 18px;
  font-weight: bold;
  color: #DEFF83;
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0;
  padding: 0;
}

#header .version{
  font-size: 11px;
  text-transform: lowercase;
  color: #F3FFD1;
  margin-top: -14px;
  letter-spacing: 1px;
  word-spacing: 4px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
}

div.qxappender{
  font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;
  font-size:11px;
}