//
// GLOBAL
//

.title, .form-title {
  font-weight: bold;
}

.title {
  font-size: 1.4em;
  text-align: center;
}

.form-title {
  text-indent:4px;
  font-size:1em;
}

.root {
  font-weight: normal;
  font-size: 0.9em;
}

.fontNormal {
  font-size: 0.8em;
  font-weight: normal;
}


