//
// SLIDER
//

.slider {
  @include background-clip(padding-box);
  position: relative;
  overflow: visible;
  
  margin-top:8px;
  margin-bottom:8px;

  @include border-radius(.6em);
  height: 15px;
}

.slider > div {
  @include background-clip(padding-box);
  position: absolute;
  background-color:#fff;

  position:relative;
  top: -6px;
  left: 0%;  

  $size:25px;
  height:$size;
  width:50px;

  @include border-radius(0.4em);
}