//
// TOGGLEBUTTON 
//

$toggleButtonWidth: 60px;

.toggleButton {
  @extend .clickable;
  position: relative;
  height: 45px;
  width: $toggleButtonWidth;

  overflow-y: visible;
  font-size: 14px;
  font-weight: normal;

  @include border-radius(0.4em);
}

.toggleButton.checked .toggleButtonSwitch {
  @extend .clickable-active;
}

.toggleButton:before {
  width: $toggleButtonWidth;
  text-align:center;
  display:block;
  line-height:30px;
}

.toggleButton.checked:before {
  content: ' 'attr(data-label-checked);
}

.toggleButton:not(.checked):before {
  content: ' 'attr(data-label-unchecked);
}

.toggleButtonSwitch {
  position: absolute;
  bottom: 10px;
  left: 10px;

  background-color: #ffffff;
  @include box-inset-shadow(0 1px 1px #999);
  @include border-radius(7px);

  height: 7px;
  width: 70%;
}
