@import url(../core.css);
@import url(../test.css);
@import url(../themes.css);
@import url(../widgets.css);

body, html{
  /*
    We need to use overflow hidden and width/height 100% to be able to
    have control over the scroll bars
  */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/*
  Use -moz-scrollbars-unscrollable instead of hidden because Moz 1.4 treats
  hidden as non-accisible
*/
:root,
:root > body {
  overflow: -moz-scrollbars-unscrollable;
}

/*
  We want to scroll content with body
*/
html > body {
  position: relative;
}

