html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#header {
  width: auto;
  padding-left: 15px;
  padding-bottom: 0px;
}

#header h1 {
  width: auto;
}

h2 {
  font-size: 1rem;
}

label, p, button, td, code, li {
  font-size: 0.75rem;
}

#header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#content {
  margin-top: 82px;
  padding: 20px;
}

.disable {
  float: right;
  margin: 0 5px;
  padding-top: 10px;
}

.disable label,
.disable input {
  vertical-align: middle;
  line-height: 1.2;
}

.demo-options {
  margin: 10px;
}

.demo-cell {
  margin-top: 2rem;
}

pre.demo-cell {
  margin-top: 0;
}

.demo-cell:first-child {
  margin-top: 0px;
}

.code-header {
  margin: 1em 0 0 0;
}

#sizeSlider {
  position: relative;
  width: 50%;
  float: right;
  top: -20px;
  margin-right: 20px;
}

#sizeSlider > * {
  font-size: 100%;
}

#sizeSlider > .qx-slider-knob {
  width: 50px;
  height: 20px;
  margin-top: 7px;
  border: 1px solid #7B7B7B;
  font-size: 13px;
}

#sizeSlider.qx-slider {
  padding: 0 18px;
}

#sizeSlider.qx-slider:before {
  border: 1px solid #7B7B7B;
  display: inline-block;
  top: 26px;
  height: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
