//
// MASTER DETAIL
//

.master-detail {
  overflow:hidden;
}

.master-detail-detail {
  height: 100%;
}

.root.portrait .drawer:not(.hidden) + .master-detail-detail {
  @include pointer-none();
}

.master-detail-master.right {
  border-left: px-to-rem(1) solid $navigationpage-border-color;
}

.master-detail-master.left {
  border-right: px-to-rem(1) solid $navigationpage-border-color;
}

.master-detail-master.top {
  border-bottom: px-to-rem(1) solid $navigationpage-border-color;
}

.master-detail-master.bottom {
  border-top: px-to-rem(1) solid $navigationpage-border-color;
}

.root.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px px-to-rem(10) px-to-rem(5) rgba(0,0,0,0.5));
}