body.demos {
  #tools {
    @include clearfix();

    .tool {
      @include columns(12);
      @include first();
      margin-bottom: $line;
    }

    .screenshot {
      @include push(3);
      @include columns(9);

      a {
        @include clearfix();
      }

      img {
        width: 285px;
        height: 177px;
        padding-left: 20px;
        margin-bottom: $line;
      }
    }
  }

  .versions {
    @include clearfix();

    .line {
      @include clearfix();
      clear: both;
    }

    .line + .line {
      margin-top: 2em;
    }

    ul {
      @include columns(3);
      margin-top: 0;

      &.last {
        clear: both;
      }
    }
  }
}

body#demos {

  #content {
    width: auto;
  }

  #domains {
    margin-bottom: $line;
    position: relative;
  }

  #show-all {
    display: none;
  }

  #domains {
    section.domain {
      @include container();
      background-color: $lightShade;
      margin-bottom: $line * 1;
      border-left: $bar solid transparent;

      &.expanded {
        background-color: $shade;

        .hint {
          display: block;
        }

        .demo {
          ul, .primary, .secondary, .note {
            display: block !important;
          }

          img {
            width: 285px;
            height: 177px;
            display: block;
          }
        }
      }

      &.compact {
        background-image: url(../images/expand.png);
        background-repeat: no-repeat;
        background-position: 98% bottom;

        &:hover {
          cursor: pointer;
          background-color: $shade;
        }
      }

      .title, .demo {
        @include inset();

        & > h2 {
          padding-top: 10px;
        }
      }

      .title {
        @include columns(6);
      }

      .hint {
        display: none;
        clear: both;
        padding-left: 210px;
      }

      .demo {
        @include columns(9);

        &.first {
          margin-left: ($gridColumnWidth + $gridGutterWidth) * 6;
        }

        & > p {
          padding-right: 50px;
          height: 43.2px;
        }

        & > a {
          display: block;
        }

        ul {
          display: none;

          span {
            font-size: $fontSize - 2;
          }
        }

        .primary, .secondary {
          @include columns(4);
          display: none;
          margin-bottom: 1em;

          h3 {
            font-weight: normal;
          }
        }

        .primary {
          margin-left: 0;
        }

        .secondary {
          @include push(1);
        }

        img {
          display: none;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }

    &.all {
      .expanded {
        background-color: $lightShade !important;
      }
    }
  }

  section + p.note {
    margin-top: -1em;
  }
}
