body#docs {

  #main #content {
    position: relative;
    @include columns(24);
    @include first();
  }

  code {
    font-family: monospace;
    white-space: pre;
    display: block;
  }

  h1, h2, h3, h4, h5 {

    .headerlink {
      visibility: hidden;
    }

    &:hover {
      .headerlink {
        visibility: visible;
      }
    }
  }

  #boxes {
    position: relative;
    @include columns(24);
    @include first();

    .versions {
      display: none;
      color: $mediumShade;

      &:hover {
        cursor: pointer;
      }

      &.show {
        display: inline;
      }

      a {
        color: $mediumShade;
        padding: 0 1px;

        &:hover {
          color: $spot;
        }
      }
    }

    .teaser {
      @include columns(12);
      background-color: $lightShade;
      margin-bottom: $gridGutterWidth;
      height: $line * 10;

      & > div {
        padding: 10px;
      }

      h2 {
        margin-top: 5px;
      }

      &.row {
        clear: both;
        @include first();
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
