body#downloads {

  #domains {
    @include columns(24);
    @include first();
    position: relative;
    margin-bottom: 21.6px;

    .row {
      @include clearfix();
    }

    .row + .row {
      margin-top: $gridGutterWidth;
    }

    .domain {
      @include inset(10px);
      @include columns(12);

      border-top: $bar solid transparent;
      background-color: $lightShade;
      height: round($line * 14);

      ul {
        list-style-type: none;
        margin-left: 0;
      }

      h2 {
        margin-bottom: 10.8px;
      }

      p {
        margin-bottom: 0;
      }

      .highlight {
        background-color: transparent;
      }
    }
  }
}
