body#home {

  section#wrapper > h1 {
    display: none;  
  }

  #callout {
    width: $siteWidth;
    margin: 50px auto;
    padding-left: 10px;

    h1, h2 {
      margin: 0;
    }

    h1 {
      position: relative;
      font-size: 32px;
      letter-spacing: 1px;
      margin-bottom: 5px;
      font-weight: 800;
    }

    h2 {
      font-size: 22px;
      font-style: normal;
      // font-weight: 100; // Museo Slab, 100
      font-weight: normal;
    }

    em {
      font-style: normal;
    }

    span {
      color: $lightShade;
    }
  }

  #domains {
    @include clearfix();
    clear: both;
    position: relative;
    height: 458px;
    margin-bottom: round($line * 2);
    background: url(../images/domains-bg.png) repeat-x #f4f4f4;

    &.active {
      background: url(../images/domains-bg-active.png) repeat-x #f4f4f4;
    }

    /*
    top: -10px;
    margin: 0 -12px;
    border: 12px solid #f7f7f7;
    border-radius: 11px;
    background-color: #f7f7f7;
    */

    .container {
      @include clearfix();
      position: relative;
      left: -10px;
      width: $siteWidth;
      margin: 0 auto;

      .icons {
        @include clearfix();
        height: 105px;
        margin-right: -10px;

        img {
          float: left;
          width: 90px;
          display: block;
          padding-top: 30px;
          padding-left: 10px;
          padding-right: 110px;
          opacity: 0.5;
          cursor: pointer;

          &.active {
            opacity: 1;
          }
        }
      }
    }

    p, h1, h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    ul {
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 1.5em;
    }

    section.domain {
      @include columns(6);
      $bleedingHeight: 85px;  // Hovering icons hovers header
      position: relative;
      top: -$bleedingHeight;
      margin-top: $bleedingHeight;
      font-size: $fontSize - 1;
      color: #000;

      &#website {
        @include first();
      }

      &:hover header h2 {
        text-decoration: underline;
      }

      &.active:hover header h2 {
        text-decoration: inherit;
      }

      header {
        @include columns(6);
        position: relative;
        top: 1px;
        height: 54px;
        cursor: pointer;
        z-index: 2;
        border-style: solid;
        border-color: transparent;
        border-width: 1px 1px 0 1px;

        h2, div.tagline {
          padding: 0 10px;
        }

        h2 {
          font-family: inherit;
          font-size: 13px;
          color: #262626;
          letter-spacing: 0.9px;
          line-height: 1.1;
          margin-top: 9px;
        }

        div.tagline {
          color: lighten($fg, 20%);
        }
      }

      div.description {
        @include columns(6);
        @include first();
        height: 243px;
        padding: 8px 0 10px 0;
        position: relative;

        div {
          & > * {
            color: $fg;
            padding: 0 10px;
            line-height: $fontSize + 6;
          }
        }

        div.feature {
          position: absolute;
          height: 110px;
          top: 76px;
          margin-top: round($line * 0.5);

          & > * {
            padding: 0;
          }
        }

        p:first-child {
          min-height: ($fontSize + 4) * 4;
        }

        h3 {
          margin: 5px 0 3px 0;
        }

        div.introduction, div.sample {
          @include columns(6);
        }

        div.introduction div.feature {
          // Position changed by script, prevent flicker
          visibility: hidden;
        }

        div.sample {
          @include columns(12);
          display: none;

          .container {
            width: auto;
            margin-top: 6px;
            padding: 0 10px;
          }

          .syntaxhighlighter {
            padding: 10px !important;
            margin: 0 !important;
            margin-left: -10px !important;
            font-size: $fontSize - 1 !important;
            height: 144px;
          }

          .run {
            zoom: 1;
            margin-left: -10px;

            &:after {
              display: block;
              visibility: hidden;
              height: 0;
              clear: both;
              content: ".";
            }

            .button {
              @include columns(2);
              margin-top: 11px;
              line-height: 32px;
              background-color: #3d72c9;
              background-image: url("../images/arrow-left-light.png");
              background-position: 14% 48%;
              background-repeat: no-repeat;
              color: #fff;
            }
          }
        }

        div.action {
          @include columns(5);
          display: none;
          margin-top: 6px;

          .button {
            &.download {
              background-image: url("../images/arrow.png");
              background-position:  6% 48%;
              background-repeat: no-repeat;
              padding-bottom: 3px;

              & > span {
                position: relative;
                top: -4px;
              }

              .note {
                display: inline-block;
                position: absolute;
                top: 8px;
                left: 0;
                width: 100%;
                text-indent: 2px;
                color: #4b4c4f;
                font-size: 9px;
              }
            }
          }

          .alternative {
            position: relative;
            top: -8px;
            font-size: 10px;

            a {
              text-decoration: underline;
            }
          }
        }
      }

      &.active div.description {
        @include columns(24);
        @include first();

        div.sample, div.action {
          display: block;
        }
      }

      &.active header {
        background: url("../images/close.png") no-repeat scroll 94% 29% #fff;
        border-color: #e0e0e0;
      }

      &#mobile.active div.description {
        @include pull(6);
        padding-left: $gridGutterWidth;
      }

      &#desktop.active div.description {
        @include pull(12);
        padding-left: $gridGutterWidth;
      }

      &#server.active div.description {
        @include pull(18);
        padding-left: $gridGutterWidth;
      }
    }
  }

  .show #main {
    overflow: visible;
    padding-top: 0;

    section#about {
      color: $fg;
      margin-top: $line / 2;
      // clear: both;
      @include clearfix();

      #content {
        @include columns(14);

        h2 {
          font-weight: bold;
          margin-top: 0;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .action {
        @include push(4);
        @include columns(5);
      }
    }

  }

}
