//
// ANDROID CLICKABLE STYLE
//

.clickable {
  color: #222222;

  // Less "darken method" helps to make use of gradient-buttons easier. 
  // It takes button-color and darkens it. 
  // No second gradient color is needed.
  @include gradient-vertical($button-color, darken($button-color, 20%));
  border: 1px solid #555555;
}

.clickable-active {
  color:black;
  @include gradient-vertical-three($android-light-orange, $android-orange, $android-light-orange-2);
}

//
// GLOBAL
//

.fontNormal {
  color: #ffffff;
}

.page, .drawer, .scroll {
  background: $background-color;
}

.root {
  background: $background-color;
  color: #ffffff;

  font-family: Helvetica;
}

a, a:active, a:visited {
  color: $android-orange;
}

a:hover {
  color: $android-orange;
}

h1 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

h2 {
  text-shadow: rgba(255,255,255,.2) 0 1px 1px;
  color: #bdbebd;
  background-color: #212021;
  border-bottom: 1px solid #313431;
}

//
// BUTTON
//

.button {
  @extend .clickable;
}

.button.active{
  @extend .clickable-active;
}

.content.group > .button {
  margin:5px;
}

//
// LIST
//

li:first-child, li:first-child a {
  @include border-radius-top(0px);
}


li:last-child, li:last-child a {
  @include border-radius-bottom(0px);
}

ul {
  background-color:$background-color;
  //border:1px solid $border-color;
  @include border-radius(0);
}

ul li {
  color: #ffffff;
  border-top: 1px #313431 solid;
}

ul li.active.arrow, ul li.selected.arrow, ul li.active, ul li.selected {
  @extend .clickable-active;
}

ul li .subtitle {
  color: #949a94;
}

ul li.active .subtitle {
  color: #313429;
}

//
// GROUP
//

.group:not(.content){
  margin:5px;
}

.bordered {
  
}

//
// FORM 
//

input[type="text"]:not(.selectbox), input[type="number"], input[type="password"], textarea {
  @include border-radius(0);
}

input[type="text"]:not(.selectbox):not(.invalid), input[type="number"]:not(.invalid), input[type="password"]:not(.invalid), textarea:not(.invalid) {
  border: 0px solid #242424;
}

input.invalid {
  border: 1px solid red !important;
}


.formRowContent {
  $ul-padding:5px;
  padding: $ul-padding $ul-padding*2 $ul-padding $ul-padding*2;
}

//
// SCROLL CONTAINER
//

$scShadowOffset: 10px;
$scShadowColor: rgba(0,0,0,0.3);
$scShadowColorLight: rgba(0,0,0,0.2);
$scGradientVerticalOffset: 15px;

.scroll-container {
  background-color:white;

  @include box-inset-multi-shadow (
      0px $scShadowOffset $scShadowOffset -1*($scShadowOffset) $scShadowColorLight, 
      0px -1*($scShadowOffset) $scShadowOffset -1*($scShadowOffset) $scShadowColorLight
  );
}

.scroll-container textarea {
  padding:2px;
  border:none;
  background:none;
}

.scroll-container:before {
  position:absolute;
  top:0px;
  z-index:500;

  @include box-inset-multi-shadow(
      0px $scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  content:"";
  width:100%;
  height:0px;
}

.scroll-container.scrollable-top:before {
  height:30px;
}

.scroll-container:after {
  position:absolute;
  bottom:0px;
  z-index:500;

  @include box-inset-multi-shadow (
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px -1*$scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  content:"";
  width:100%;
  height:0px;
}

.scroll-container.scrollable-bottom:after {
  height:30px;
}

//
// FORM RENDERING
//

.formSeparationRow {
  background-color: $border-color;
}

.formRowGroupTitle {
  text-shadow: rgba(255,255,255,.2) 0 1px 1px;
  color: #bdbebd;
  background-color: #212021;
  font-size: 0.8em;
  padding: 0px 10px 0px 10px;
}

.formRowGroupFirstItem {
  padding:0px;
  height:0px;
}

.formRowGroupLastItem {
  height:0px;
  border-top:none;
  padding:0px;
}

//
// SLIDER 
//

.slider {
  @include box-inset-multi-shadow(0 2px 2px rgba(0,0,0,0.4), 0 8px 1px rgba(0,0,0,0.1));
  @include border-radius(0.6em);
  background-color: #5B5D5A;
}

.slider > div {
  @include border-radius(0.6em);
  @include gradient-vertical-four(#ecd343, #fab907, #f0b705, #f8ce2e, 85%, 95%);
}

.slider > div:after {
  @include gradient-vertical($button-color, #c4c4c4);
  @include border-radius(0.4em);
  @include box-shadow(0 0 2px 1px #4A4A4A);
}

//
// TABBAR   
//

.tabBar {
  border-bottom: 3px solid $android-orange;
}

.tabButton {
  color:white;

  background: $android-dark-grey;
  background: -moz-linear-gradient(top,  $android-dark-grey 83%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%,$android-dark-grey), color-stop(100%,#444444));
  background: -webkit-linear-gradient(top,  $android-dark-grey 83%,#444444 100%);
  background: linear-gradient(top,  $android-dark-grey 83%,#444444 100%);

  border: 1px solid lighten($android-dark-grey, 10%);
}


.tabButton.active, .tabButton.selected {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 2%, $android-light-orange 4%, $android-light-orange-2 49%, $android-orange 53%, $android-orange 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(4%,$android-light-orange), color-stop(49%,$android-light-orange-2), color-stop(53%,$android-orange), color-stop(100%,$android-orange));
  background: -webkit-linear-gradient(top,  #ffffff 2%,$android-light-orange 4%,$android-light-orange-2 49%,$android-orange 53%,$android-orange 100%);
  background: linear-gradient(top,  #ffffff 2%,$android-light-orange 4%,$android-light-orange-2 49%,$android-orange 53%,$android-orange 100%);

  color:black;
  border: 1px solid $android-orange;
}

//
// NAVIGATIONBAR 
//

.navigationbar {
  @include gradient-vertical(#9a9a9a, #7c7e7c);
  border-bottom: 1px solid #2d3642;
}

.navigationbar-button, .navigationbar-backbutton {
  @extend .clickable;
}

.navigationbar-button.active, .navigationbar-backbutton.active {
  @extend .clickable-active;
}

//
// SCROLLBAR 
//

.scrollbarV > div {
  @include gradient-vertical(#b5b6b5, #949294);
  border: 1px solid #000;
}

//
// CHECKBOX
//

.checkbox {
  position:relative;
  @extend .clickable;

  box-sizing:border-box;

  @include border-radius(.3em);
}

.checkbox:before {
  @include gradient-vertical(darken($button-color, 60%),darken($button-color, 40%));
  @include border-radius(.1em);
}


// The tick of the checkbox.
.checkbox:after {
  $checkbox-check-color:$android-orange;

  opacity: 0;
  content: '';
  position: absolute;
  width: 11px;
  height: 6px;
  background: 
  transparent;
  top: 8px;
  left: 8px;
  border: 3.5px solid lighten($checkbox-check-color,10%);
  border-top: 0;
  border-right: 0;
  @include transform(rotate(-45deg));
  @include box-shadow(-1px 1px 1px 0px $checkbox-check-color);
}

.checkbox.checked:after {
    opacity: 1;
}

//
// RADIOBUTTON
//

// Border style
input[type=radio] + label {
  background: #fcfff4;
  @include gradient-vertical-three(#fcfff4, #dfe5d7, #b3bead, 40%);

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

  box-sizing:border-box;
}


// Inner Area
input[type=radio]+ label:before {
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  @include gradient-vertical(darken($button-color, 60%),darken($button-color, 40%));
}


// Color dot
input[type=radio] + label:after {
  background: $android-orange;

  $dot-color: $android-orange;
  $dot-dark-color: darken($dot-color, 10%);

  background: -webkit-linear-gradient(top, $dot-color 0%, $dot-dark-color 100%);
  background: -moz-linear-gradient(top, $dot-color 0%, $dot-dark-color 100%);
  background: linear-gradient(top, $dot-color 0%, $dot-dark-color 100%);

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}


//
// DIALOG 
//

.popup {
  background-color: $dialog-background-color;
  border: 2px solid #ffffff;
}

.dialog { 
  background-color: $dialog-background-color;
  border: 2px solid #ffffff;
}

@mixin arrow {
  position:absolute;
  content:"";
}

$arrow-size: 12px;

// ARROW TOP

.popupAnchorPointerTop:before, .popupAnchorPointerTopRight:before
{
  @include arrow;
  @include triangle-up($arrow-size+2, #ffffff);
}

.popupAnchorPointerTop:after, .popupAnchorPointerTopRight:after
{
  @include arrow;
  @include triangle-up($arrow-size, $dialog-background-color);
}

// ARROW BOTTOM

.popupAnchorPointerBottom:before,.popupAnchorPointerBottomRight:before
{
  @include arrow;
  @include triangle-down($arrow-size+2, #ffffff);
}

.popupAnchorPointerBottom:after,.popupAnchorPointerBottomRight:after
{
  @include arrow;
  @include triangle-down($arrow-size, $dialog-background-color);
}

// ARROW LEFT

.popupAnchorPointerLeft:before
{
  @include arrow;
  @include triangle-left($arrow-size+2, #ffffff);
}

.popupAnchorPointerLeft:after
{
  @include arrow;
  @include triangle-left($arrow-size, $dialog-background-color);
}

// ARROW RIGHT

.popupAnchorPointerRight:before
{
  @include arrow;
  @include triangle-right($arrow-size+2, #ffffff);
}

.popupAnchorPointerRight:after
{
  @include arrow;
  @include triangle-right($arrow-size, $dialog-background-color);
}

//
// TOOLBAR
// 

.toolbar-button {
  @extend .clickable;
}

.toolbar-button.active {
  @extend .clickable-active;
}

//
// SELECTBOX
//

.selectbox {
  @extend .clickable;
  background-color:transparent;
}

.selectbox.active {
  @include gradient-vertical-three($android-light-orange, $android-orange, $android-light-orange-2);
  color:#000000;
}

.selectbox-selected {
  @extend .clickable-active;
}

.selectbox-selected.active > div > .list-itemlabel {
  color:black;
}

.selectbox-selected > div > .list-itemlabel:after {
  border: 0px solid transparent;
}

//
// MENU
//

.item-selected {
  @extend .clickable-active;
}

.menu ul {
  border: 1px solid $border-color;
}

.menu-scroller {
  background-color: black;
}

//
// MASTER DETAIL
// 

.master-detail-master {
  border-right: 1px solid $border-color;
}

.master-detail.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px rgba(0,0,0,0.4));
}

//
// CAROUSEL
//

$pagination-label-size:8px;

.carousel-pagination-label {
  @include box-shadow(0px 0px 2px rgba(0,0,0,0.5));
  opacity:0.4;
  background-color:white;

  width:$pagination-label-size;
  height:$pagination-label-size;
  text-align:center;
  line-height:$pagination-label-size;
  @include border-radius(15px);

  font-size:1px;
  font-color:transparent;
}

.carousel-pagination-label.active {
  opacity:1.0;
}

.carousel-pagination {
  top: -($pagination-label-size+15px);
}

//
// PICKER
//

.picker-container {
  background-color:darken($android-dark-grey,20%);
  @include box-shadow(0px 1px 1px rgba(255, 255, 255, 0.5));
}

.picker-label {
  color:white;
  font-weight:bold;
}

.picker-slot:before, .picker-slot:after {
  background-color: $border-color;
}

// Spinning Wheel Overlay Gradient
.picker-container:after {
  @include gradient-vertical-four(rgba(0,0,0,0.8),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0,0,0,0.8),33%,66%);
}

// Selected Area Overlay
.picker-container:before {
  top:33px;
  height:28px;

  @include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));

  border-top:1px solid $android-orange;
  border-bottom:1px solid $android-orange;
}

//
// DRAWER
//

.drawer:not(.master-detail-master):not(.hidden) {
  @include box-shadow(0px 0px 10px 5px rgba(0,0,0,0.4));
}

.root.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px rgba(0,0,0,0.4));
}

.drawer.top:not(.master-detail-master) {
  border-bottom:1px solid $android-orange;
}

.drawer.left:not(.master-detail-master) {
  border-right:1px solid $android-orange;
}

.drawer.right:not(.master-detail-master) {
  border-left:1px solid $android-orange;
}

.drawer.bottom:not(.master-detail-master) {
  border-top:1px solid $android-orange;
}

.drawer.below.left:before, .drawer.below.right:before, .drawer.below.top:before, .drawer.below.bottom:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:500;

  pointer-events:none;
  
  @include box-inset-shadow(0px 0px 10px 5px rgba(0,0,0,0.4));
}