#DetailViewer,
#DetailViewer td,
#DetailViewer th{
  font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Tahoma, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 11px;
  line-height: 150%;
}

#DetailViewer h1,
#DetailViewer h2,
#DetailViewer h3,
#DetailViewer h4,
#DetailViewer h5,
#DetailViewer h6{
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  color: #134275;
}

#DetailViewer *{
  margin: 0;
  padding: 0;
}

#DetailViewer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#DetailViewer h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

#DetailViewer h3 {
  font-size: 14px;
}

#DetailViewer img {
  border: 0 none;
  vertical-align: middle;
}

#DetailViewer a:link,
#DetailViewer a:visited{
  color: #134275;
}

#DetailViewer a:hover,
#DetailViewer a:active{
  color: #134275;
  text-decoration: underline;
}

#DetailViewer td{
  vertical-align: top;
  padding: 2px;
}




#DetailViewer div.classDescription{
  font-size: 12px;

  background: #E9F2FB;
  border: 1px solid #E9F2FB;

  -moz-border-radius: 5px;
  padding: 12px;

  width: 450px;
}

#DetailViewer div.classDescription p{
  margin-top: 10px;
}

#DetailViewer div.packageName{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}

#DetailViewer span.typeInfo{
  color: #83B300;
  font-weight: normal;
}






#DetailViewer div.infoPanel {
  margin-top: 30px;
}

#DetailViewer div.infoPanel h2{
  cursor: default;
}

#DetailViewer div.infoPanel span.inheritCheck {
  font-weight: normal;
  float: right;
  font-size: 11px;
  vertical-align: bottom;
}

#DetailViewer div.infoPanel span.inheritCheck input,
#DetailViewer div.infoPanel span.inheritCheck label{
  vertical-align: middle;
}

#DetailViewer div.infoPanel span.inheritCheck label{
  margin-left: 3px;
}







#DetailViewer table.info {
  table-layout: fixed;
}

#DetailViewer table.info tr {
  background: #FBFFEF;
}

#DetailViewer table.info tr.marked {
  background: #DEFF83;
}

#DetailViewer table.info tr td,
#DetailViewer div.empty-info-body {
  border-top: 1px solid #ECECEC;
}

#DetailViewer table.info tr td{
  overflow: hidden;
}

#DetailViewer table.info tr td td{
  border-top: 0 none;
  padding: 0;
}

#DetailViewer table.info td.icon{
  text-align: center;
  width: 20px;
}

#DetailViewer table.info td.type{
  width: 100px;
  font-size: 12px;
  color: #83B300;
  font-weight: bold;
}

#DetailViewer table.info td.toggle{
  text-align: center;
  width: 16px;
  padding: 1px;
}

#DetailViewer table.info td.toggle img{
  cursor: default;
}

#DetailViewer table.info td.text h3{
  cursor: default;
}

#DetailViewer span.methodSignature{
  font-size: 12px;
  color: #83B300;
}

#DetailViewer table.info td.type a,
#DetailViewer span.methodSignature a{
  color: #83B300 !important;
}

#DetailViewer span.methodSignature span.parameterType{
  font-style: italic;
}







#DetailViewer div.item-detail-headline {
  font-weight: bold;
  color: #1D65B3;
}

#DetailViewer div.item-detail-text {
  padding-left: 20px;
}

#DetailViewer div.item-detail-error {
  font-weight: bold;
  color: #D61F1C;
}

#DetailViewer span.item-detail-optional {
  font-style: italic;
}

#DetailViewer span.item-detail-param-name {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", monospace;
  background: #E9F2FB;
  padding: 1px;
}
