/*
Syntax error: Undefined variable: "$slider-knob-height".
        on line 15 of basic/_slider.scss
        from line 91 of ./android.scss

10: $android-light-orange: #ffdb66;
11: $android-light-orange-2: #fdd824;
12: $android-dark-grey: #636363;
13: 
14: $button-color: #f4f4f4;
15: $border-color: #6b6d6b;
16: $background-color:#181818;
17: 
18: $dialog-background-color: #424242;
19: 
20: $highlighted-text-color: $android-orange;

Backtrace:
basic/_slider.scss:15
./android.scss:91
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/variable.rb:48:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/operation.rb:64:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:301:in `visit_prop'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/engine.rb:265:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:309:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:182:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:179:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:262:in `watch'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `initialize'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `new'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:44:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:270:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:482:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:324:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/sass:9
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$slider-knob-height\".\A         on line 15 of basic/_slider.scss\A         from line 91 of ./android.scss\A \A 10: $android-light-orange: #ffdb66;\A 11: $android-light-orange-2: #fdd824;\A 12: $android-dark-grey: #636363;\A 13: \A 14: $button-color: #f4f4f4;\A 15: $border-color: #6b6d6b;\A 16: $background-color:#181818;\A 17: \A 18: $dialog-background-color: #424242;\A 19: \A 20: $highlighted-text-color: $android-orange;"; }
