* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
  height: 100%;
}
.root {
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-family: Helvetica;
  height: 100%;
}
.page {
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  -moz-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  transform: translate3d(0, 0, 0) rotate(0) scale(1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  width: 100%;
}
.selectable, input, textarea {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
}
.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroll {
  position: relative;
  width: auto;
  /* your desired width, auto and 100% are fine */

  height: auto;
  /* element height */

  overflow: hidden;
}
.iscroll {
  width: 100%;
  position: absolute;
  padding-bottom: 10px;
  /* todo: experimental*/

}
.animationParent {
  -webkit-perspective: 800;
  -moz-perspective: 800;
  perspective: 800;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* We have to remove this property after animation, otherwise the dialog widget is not shown in Chrome. See Bug #5891 */

}
.animationChild {
  position: absolute;
  /* We have to remove this property after animation, otherwise the list widget is not shown in Webkit Browsers. See Bug #5935 */

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.in {
  z-index: 10;
}
.out {
  z-index: 0;
}
.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /* Persist the last frame of the animation */

}
/* Slide left */
.slide.in {
  -webkit-animation-name: slideLeftIn;
  -moz-animation-name: slideLeftIn;
  animation-name: slideLeftIn;
}
.slide.out {
  -webkit-animation-name: slideLeftOut;
  -moz-animation-name: slideLeftOut;
  animation-name: slideLeftOut;
}
@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
  }
  100% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes slideLeftIn {
  0% {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
  }
  100% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
}
@-webkit-keyframes slideLeftOut {
  0% {
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    transform: translatex(0px);
  }
  100% {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
  }
}
@-moz-keyframes slideLeftOut {
  0% {
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    transform: translatex(0px);
  }
  100% {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
  }
}
/* Slide right */
.slide.in.reverse {
  -webkit-animation-name: slideRightIn;
  -moz-animation-name: slideRightIn;
  animation-name: slideRightIn;
}
.slide.out.reverse {
  -webkit-animation-name: slideRightOut;
  -moz-animation-name: slideRightOut;
  animation-name: slideRightOut;
}
@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes slideRightIn {
  0% {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
}
@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
  }
}
@-moz-keyframes slideRightOut {
  0% {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
  }
}
/* Fade */
.fade.in {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fade.out {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Pop */
.pop.in {
  -webkit-animation-name: popIn;
  -moz-animation-name: popIn;
  animation-name: popIn;
}
.pop.out {
  -webkit-animation-name: popOut;
  -moz-animation-name: popOut;
  animation-name: popOut;
}
@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes popIn {
  0% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
}
@-moz-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
}
/* Dissolve */
.dissolve.in {
  -webkit-animation-name: dissolveIn;
  -moz-animation-name: dissolveIn;
  animation-name: dissolveIn;
}
.dissolve.out {
  -webkit-animation-name: dissolveOut;
  -moz-animation-name: dissolveOut;
  animation-name: dissolveOut;
}
@-webkit-keyframes dissolveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes dissolveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dissolveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes dissolveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Slide up */
.slideup.in {
  z-index: 10;
  -webkit-animation-name: slideUpIn;
  -moz-animation-name: slideUpIn;
  animation-name: slideUpIn;
}
.slideup.out {
  z-index: 0;
  -webkit-animation-name: slideUpOut;
  -moz-animation-name: slideUpOut;
  animation-name: slideUpOut;
}
@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translatey(100%);
    -moz-transform: translatey(100%);
    transform: translatey(100%);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
@-moz-keyframes slideUpIn {
  0% {
    -webkit-transform: translatey(100%);
    -moz-transform: translatey(100%);
    transform: translatey(100%);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
@-webkit-keyframes slideUpOut {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
@-moz-keyframes slideUpOut {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: slideDownIn;
  -moz-animation-name: slideDownIn;
  animation-name: slideDownIn;
}
.slideup.out.reverse {
  z-index: 10;
  -webkit-animation-name: slideDownOut;
  -moz-animation-name: slideDownOut;
  animation-name: slideDownOut;
}
@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
@-moz-keyframes slideDownIn {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
}
@-webkit-keyframes slideDownOut {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(100%);
    -moz-transform: translatey(100%);
    transform: translatey(100%);
  }
}
@-moz-keyframes slideDownOut {
  0% {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(100%);
    -moz-transform: translatey(100%);
    transform: translatey(100%);
  }
}
/* Flip Left */
.flip {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip.in {
  -webkit-animation-name: flipLeftIn;
  -moz-animation-name: flipLeftIn;
  animation-name: flipLeftIn;
}
.flip.out {
  -webkit-animation-name: flipLeftOut;
  -moz-animation-name: flipLeftOut;
  animation-name: flipLeftOut;
}
@-webkit-keyframes flipLeftIn {
  0% {
    -webkit-transform: rotatey(180deg) scale(0.8);
    -moz-transform: rotatey(180deg) scale(0.8);
    transform: rotatey(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
}
@-moz-keyframes flipLeftIn {
  0% {
    -webkit-transform: rotatey(180deg) scale(0.8);
    -moz-transform: rotatey(180deg) scale(0.8);
    transform: rotatey(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
}
@-webkit-keyframes flipLeftOut {
  0% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotatey(-180deg) scale(0.8);
    -moz-transform: rotatey(-180deg) scale(0.8);
    transform: rotatey(-180deg) scale(0.8);
  }
}
@-moz-keyframes flipLeftOut {
  0% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotatey(-180deg) scale(0.8);
    -moz-transform: rotatey(-180deg) scale(0.8);
    transform: rotatey(-180deg) scale(0.8);
  }
}
/* Flip Right */
.flip.in.reverse {
  -webkit-animation-name: flipRightIn;
  -moz-animation-name: flipRightIn;
  animation-name: flipRightIn;
}
.flip.out.reverse {
  -webkit-animation-name: flipRightOut;
  -moz-animation-name: flipRightOut;
  animation-name: flipRightOut;
}
@-webkit-keyframes flipRightIn {
  0% {
    -webkit-transform: rotatey(-180deg) scale(0.8);
    -moz-transform: rotatey(-180deg) scale(0.8);
    transform: rotatey(-180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
}
@-moz-keyframes flipRightIn {
  0% {
    -webkit-transform: rotatey(-180deg) scale(0.8);
    -moz-transform: rotatey(-180deg) scale(0.8);
    transform: rotatey(-180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
}
@-webkit-keyframes flipRightOut {
  0% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotatey(180deg) scale(0.8);
    -moz-transform: rotatey(180deg) scale(0.8);
    transform: rotatey(180deg) scale(0.8);
  }
}
@-moz-keyframes flipRightOut {
  0% {
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotatey(180deg) scale(0.8);
    -moz-transform: rotatey(180deg) scale(0.8);
    transform: rotatey(180deg) scale(0.8);
  }
}
/* Swap Left */
.swap {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-transform: perspective(800);
  -moz-transform: perspective(800);
  transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.swap.in {
  -webkit-animation-name: swapLeftIn;
  -moz-animation-name: swapLeftIn;
  animation-name: swapLeftIn;
}
.swap.out {
  -webkit-animation-name: swapLeftOut;
  -moz-animation-name: swapLeftOut;
  animation-name: swapLeftOut;
}
@-webkit-keyframes swapLeftIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    -moz-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
  }
}
@-moz-keyframes swapLeftIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    -moz-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
  }
}
@-webkit-keyframes swapLeftOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    -moz-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    opacity: 0;
  }
}
@-moz-keyframes swapLeftOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    -moz-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    opacity: 0;
  }
}
/* Swap Right */
.swap.in.reverse {
  -webkit-animation-name: swapRightIn;
  -moz-animation-name: swapRightIn;
  animation-name: swapRightIn;
}
.swap.out.reverse {
  -webkit-animation-name: swapRightOut;
  -moz-animation-name: swapRightOut;
  animation-name: swapRightOut;
}
@-webkit-keyframes swapRightIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    -moz-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
}
@-moz-keyframes swapRightIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    -moz-transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    transform: translate3d(-180px, 0px, -400px) rotatey(20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes swapRightOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    -moz-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    opacity: 0;
  }
}
@-moz-keyframes swapRightOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    -moz-transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    transform: translate3d(0px, 0px, 0px) rotatey(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    -moz-transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    transform: translate3d(180px, 0px, -400px) rotatey(-20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    -moz-transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    transform: translate3d(0px, 0px, -800px) rotatey(-70deg);
    opacity: 0;
  }
}
/* Cube Left */
.cube {
  -webkit-animation-duration: 0.55s;
  -moz-animation-duration: 0.55s;
  animation-duration: 0.55s;
}
.cube.in {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation-name: cubeLeftIn;
  -moz-animation-name: cubeLeftIn;
  animation-name: cubeLeftIn;
}
.cube.out {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation-name: cubeLeftOut;
  -moz-animation-name: cubeLeftOut;
  animation-name: cubeLeftOut;
}
@-webkit-keyframes cubeLeftIn {
  0% {
    -webkit-transform: rotatey(90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(90deg) translatez(100%) scale(0.5);
    transform: rotatey(90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotatey(0deg) translatez(0) scale(1);
    -moz-transform: rotatey(0deg) translatez(0) scale(1);
    transform: rotatey(0deg) translatez(0) scale(1);
    opacity: 1;
  }
}
@-moz-keyframes cubeLeftIn {
  0% {
    -webkit-transform: rotatey(90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(90deg) translatez(100%) scale(0.5);
    transform: rotatey(90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotatey(0deg) translatez(0) scale(1);
    -moz-transform: rotatey(0deg) translatez(0) scale(1);
    transform: rotatey(0deg) translatez(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes cubeLeftOut {
  0% {
    -webkit-transform: rotatey(0deg) translatex(0) scale(1);
    -moz-transform: rotatey(0deg) translatex(0) scale(1);
    transform: rotatey(0deg) translatex(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    transform: rotatey(-90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
}
@-moz-keyframes cubeLeftOut {
  0% {
    -webkit-transform: rotatey(0deg) translatex(0) scale(1);
    -moz-transform: rotatey(0deg) translatex(0) scale(1);
    transform: rotatey(0deg) translatex(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    transform: rotatey(-90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
}
/* Cube Right */
.cube.in.reverse {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation-name: cubeRightIn;
  -moz-animation-name: cubeRightIn;
  animation-name: cubeRightIn;
}
.cube.out.reverse {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation-name: cubeRightOut;
  -moz-animation-name: cubeRightOut;
  animation-name: cubeRightOut;
}
@-webkit-keyframes cubeRightIn {
  0% {
    -webkit-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    transform: rotatey(-90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotatey(0deg) translatez(0) scale(1);
    -moz-transform: rotatey(0deg) translatez(0) scale(1);
    transform: rotatey(0deg) translatez(0) scale(1);
    opacity: 1;
  }
}
@-moz-keyframes cubeRightIn {
  0% {
    -webkit-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(-90deg) translatez(100%) scale(0.5);
    transform: rotatey(-90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotatey(0deg) translatez(0) scale(1);
    -moz-transform: rotatey(0deg) translatez(0) scale(1);
    transform: rotatey(0deg) translatez(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes cubeRightOut {
  0% {
    -webkit-transform: rotatey(0deg) translatex(0) scale(1);
    -moz-transform: rotatey(0deg) translatex(0) scale(1);
    transform: rotatey(0deg) translatex(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(90deg) translatez(100%) scale(0.5);
    transform: rotatey(90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
}
@-moz-keyframes cubeRightOut {
  0% {
    -webkit-transform: rotatey(0deg) translatex(0) scale(1);
    -moz-transform: rotatey(0deg) translatex(0) scale(1);
    transform: rotatey(0deg) translatex(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(90deg) translatez(100%) scale(0.5);
    -moz-transform: rotatey(90deg) translatez(100%) scale(0.5);
    transform: rotatey(90deg) translatez(100%) scale(0.5);
    opacity: .5;
  }
}
.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  /*
         * -moz-box elements shrink-wrap by default. The spec states that "a block-level
         * box placed inside a block level element is positioned and sized as if it were
         * any other block". This is not true for the (non-standard) implementation in
         * Firefox.
         *
         * See https://bugzilla.mozilla.org/show_bug.cgi?id=625694
         *
         * TODO: Limit to Firefox, because setting an explicit width may have
         * undesirable side-effects.
         *
         */

  width: 100%;
  /*
          * Subtract padding and border from content width (100%) to prevent
          * 100% + X situation.
          */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hbox > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  /* See .hbox */

  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vbox > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.content {
  /* Force block formatting context so that elements are laid out
   * "one after the other", see http://www.w3.org/TR/CSS21/visuren.html#block-formatting
   *
   * Fixes clipped content in Firefox.
   *
   */

  overflow: hidden;
}
.boxSpacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.boxReverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  box-direction: reverse;
}
.boxAlignStart {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
}
.boxAlignCenter {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.boxAlignEnd {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
}
.boxPackStart {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
}
.boxPackCenter {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
.boxPackEnd {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
}
.boxFlex0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.boxFlex1, .boxFlex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.boxFlex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
}
.boxGroup1 {
  -webkit-box-flex-group: 1;
  -moz-box-flex-group: 1;
  box-flex-group: 1;
}
.boxGroup2 {
  -webkit-box-flex-group: 2;
  -moz-box-flex-group: 2;
  box-flex-group: 2;
}
.disabled {
  opacity: 0.35;
  cursor: default;
}
.transparent {
  opacity: 0 !important;
}
/* MAIN */
.root {
  background: #c5ccd3 url(../icon/ios/pinstripes.png);
  font-family: Helvetica;
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
}
.root > * {
  background: #c5ccd3 url(../icon/ios/pinstripes.png);
}
.content {
  padding: 10px;
}
/* FONTS */
.fontNormal {
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
}
/* HEADINGS */
h1, h2 {
  font-weight: bold;
}
h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  margin-left: 4px;
  margin-right: 4px;
}
h2 {
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
  color: #4c566c;
}
/* LINKS */
a:hover, a:active {
  outline: none;
}
a, a:active, a:visited {
  color: #4c566c;
}
a:hover {
  color: #4c566c;
}
/* BUTTONS */
.button {
  cursor: pointer;
  font-weight: bold;
  color: black;
  background: #fff;
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  line-height: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.button.active {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4583fd), to(#194ae4));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(top, #4583fd, #194ae4);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -moz-linear-gradient(top, #4583fd, #194ae4);
  /* FF 3.6+ */

  background-image: linear-gradient(to bottom, #4583fd, #194ae4);
  /* Standard (in flux) */

  color: #fff;
}
/* LISTS */
.list-itemimage {
  margin-right: 7px;
}
ul {
  color: black;
  background: #fff;
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  padding: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
ul li {
  color: #666;
  border-top: 1px solid #B4B4B4;
  list-style-type: none;
  padding: 10px 25px 10px 10px;
}
ul li.arrow {
  background: url("../icon/ios/arrow.png") no-repeat right center;
}
ul li.active.arrow, ul li.selected.arrow {
  background: url("../icon/ios/arrow_pressed.png") no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#4583fd), to(#194ae4));
  background: url("../icon/ios/arrow_pressed.png") no-repeat right center, -webkit-linear-gradient(top, #4583fd, #194ae4);
  background: url("../icon/ios/arrow_pressed.png") no-repeat right center, -moz-linear-gradient(top, #4583fd, #194ae4);
  background: url("../icon/ios/arrow_pressed.png") no-repeat right center, linear-gradient(to bottom, #4583fd, #194ae4);
}
ul li.active, ul li.selected {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4583fd), to(#194ae4));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(top, #4583fd, #194ae4);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -moz-linear-gradient(top, #4583fd, #194ae4);
  /* FF 3.6+ */

  background-image: linear-gradient(to bottom, #4583fd, #194ae4);
  /* Standard (in flux) */

  color: #fff;
}
ul li .subtitle {
  font-weight: normal;
  font-size: 0.8em;
  color: #585858;
}
/* when you have a first LI item on any list */
li:first-child, li:first-child a {
  border-top: 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
li:last-child, li:last-child a {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
/* FORMS */
input, select {
  vertical-align: middle;
}
input, select, textarea {
  font-family: Helvetica;
  font-size: .9em;
}
select {
  text-indent: 0;
  background: transparent no-repeat right center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin-left: -6px;
  width: 100%;
  color: #777;
  border: none;
}
ul.form {
  margin-bottom: 10px;
}
ul.form ul li {
  padding: 10px 10px 10px 10px;
}
ul.form ul li.error {
  border: 2px solid red;
}
ul.form ul li.error + li.error {
  border-top: 0;
}
ul.form ul li * {
  white-space: normal;
  text-overflow: ellipsis;
}
input[type="text"], input[type="password"], textarea {
  color: #777;
  background: #ffffff url(../.png);
  border: 0;
  font: normal 17px Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
  -moz-appearance: textarea;
  appearance: textarea;
  outline: none;
}
textarea {
  height: 120px;
  padding: 0;
  resize: none;
}
input[type="checkbox"], input[type="radio"] {
  margin: 0;
  color: #324f85;
  padding: 10px 10px;
}
/* TOGGLE BUTTON */
.toggleButton {
  width: 94px;
  height: 27px;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.toggleButton > div.checked {
  left: 0px;
}
.toggleButton > div {
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff url(../icon/ios/on_off.png) 0 0 no-repeat;
  height: 27px;
  overflow: hidden;
  width: 149px;
  border: 0;
  background-color: transparent;
  -webkit-transition: left 0.15s;
  -moz-transition: left 0.15s;
  transition: left 0.15s;
  position: absolute;
  top: 0px;
  left: -55px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
/* SLIDER */
.slider {
  position: relative;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #929292;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  height: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), color-stop(0.05, #bbbbbb), color-stop(0.5, #f6f6f6), to(#f9f9f9)) 0px 0px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#093887), color-stop(0.05, #2a5db1), color-stop(0.9, #6ca9f7), to(#4e8ad4)) 0px 0px no-repeat;
  background: -webkit-linear-gradient(top, #929292, #bbbbbb 5%, #f6f6f6 50%, #f9f9f9) 0px 0px no-repeat, -webkit-linear-gradient(top, #093887, #2a5db1 5%, #6ca9f7 90%, #4e8ad4) 0px 0px no-repeat;
  background: -moz-linear-gradient(top, #929292, #bbbbbb 5%, #f6f6f6 50%, #f9f9f9) 0px 0px no-repeat, -moz-linear-gradient(top, #093887, #2a5db1 5%, #6ca9f7 90%, #4e8ad4) 0px 0px no-repeat;
  background: linear-gradient(to bottom, #929292, #bbbbbb 5%, #f6f6f6 50%, #f9f9f9) 0px 0px no-repeat, linear-gradient(to bottom, #093887, #2a5db1 5%, #6ca9f7 90%, #4e8ad4) 0px 0px no-repeat;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  overflow: visible;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.slider > div {
  position: absolute;
  top: -8px;
  left: 0%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 1px #a9a9a9;
  -moz-box-shadow: 0 0 2px 1px #a9a9a9;
  box-shadow: 0 0 2px 1px #a9a9a9;
  width: 30px;
  height: 30px;
  background: -webkit-gradient(radial, 15 33, 6, 15 30, 29, from(#fcfcfc), color-stop(95%, #d1d1d1), to(#ffffff));
  background: -webkit-radial-gradient(50% 135%, 30px 44px, #ffffff, #fdfdfd, #d1d1d1 83%, #ffffff 95%);
  background: -moz-radial-gradient(50% 135%, 30px 44px, #ffffff, #fdfdfd, #d1d1d1 83%, #ffffff 95%);
  background: radial-gradient(50% 135%, 30px 44px, #ffffff, #fdfdfd, #d1d1d1 83%, #ffffff 95%);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
input[type="text"].invalid, input[type="password"].invalid, textarea.invalid {
  border: 1px solid red;
}
.formElementError {
  color: red;
}
/* TABBAR */
.tabBar {
  height: 45px;
  border-top: 1px solid #333333;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#232323), color-stop(50%, #111111), color-stop(51%, #000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #232323, #111111 50%, #000000 51%, #000000);
  background-image: -moz-linear-gradient(top, #232323, #111111 50%, #000000 51%, #000000);
  background-image: linear-gradient(to bottom, #232323, #111111 50%, #000000 51%, #000000);
}
.tabButton {
  height: 42px !important;
  text-align: center;
  line-height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tabButton.active, .tabButton.selected {
  color: #ffffff;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#393939), color-stop(50%, #292929), color-stop(51%, #1d1d1d), to(#1c1c1c));
  background-image: -webkit-linear-gradient(top, #393939, #292929 50%, #1d1d1d 51%, #1c1c1c);
  background-image: -moz-linear-gradient(top, #393939, #292929 50%, #1d1d1d 51%, #1c1c1c);
  background-image: linear-gradient(to bottom, #393939, #292929 50%, #1d1d1d 51%, #1c1c1c);
}
/* NAVIGATIONBAR */
.navigationbar {
  border-bottom: 1px solid #2d3642;
  padding-left: 10px;
  padding-right: 10px;
  height: 45px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cdd5df), color-stop(50%, #8195af), to(#6d84a2));
  background-image: -webkit-linear-gradient(top, #cdd5df, #8195af 50%, #6d84a2);
  background-image: -moz-linear-gradient(top, #cdd5df, #8195af 50%, #6d84a2);
  background-image: linear-gradient(to bottom, #cdd5df, #8195af 50%, #6d84a2);
}
.navigationbar-button, .navigationbar-backbutton {
  text-align: center;
  cursor: pointer;
  border-width: 0 5px;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
  text-decoration: none;
  background: none;
  -webkit-border-image: url(../icon/ios/toolButton.png) 0 5 0 5;
  -moz-border-image: url(../icon/ios/toolButton.png) 0 5 0 5;
}
.navigationbar-button.active {
  -webkit-border-image: url(../icon/ios/toolButton_pressed.png) 0 5 0 5;
  -moz-border-image: url(../icon/ios/toolButton_pressed.png) 0 5 0 5;
}
.navigationbar-backbutton {
  padding: 0;
  max-width: 55px;
  border-width: 0 8px 0 14px;
  -webkit-border-image: url(../icon/ios/backButton.png) 0 8 0 14;
  -moz-border-image: url(../icon/ios/backButton.png) 0 8 0 14;
}
.navigationbar-backbutton.active {
  -webkit-border-image: url(../icon/ios/backButton_pressed.png) 0 8 0 14;
  -moz-border-image: url(../icon/ios/backButton_pressed.png) 0 8 0 14;
}
/* SCROLLBAR */
.scrollbarV {
  position: absolute;
  z-index: 100;
  width: 6px;
  bottom: 7px;
  top: 2px;
  right: 2px;
}
.scrollbarV > div {
  border: none;
  background-image: -webkit-gradient(linear, center left, center right, from(#62666a), to(#65696c));
  background-image: -webkit-linear-gradient(left, #62666a, #65696c);
  background-image: -moz-linear-gradient(left, #62666a, #65696c);
  background-image: linear-gradient(to right, #62666a, #65696c);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* CHECKBOX */
input[type="checkbox"] {
  background-color: #929292;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 2px solid #4c4c4c;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#cecece));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(top, #fefefe, #cecece);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -moz-linear-gradient(top, #fefefe, #cecece);
  /* FF 3.6+ */

  background-image: linear-gradient(to bottom, #fefefe, #cecece);
  /* Standard (in flux) */

}
input[type="checkbox"]:checked {
  background: url(../icon/ios/checkbox.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#353535), to(#8f8f8f)) 0px 0px no-repeat;
  background: url(../icon/ios/checkbox.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #353535, #8f8f8f) 0px 0px no-repeat;
  background: url(../icon/ios/checkbox.png) 50% 50% no-repeat, -moz-linear-gradient(top, #353535, #8f8f8f) 0px 0px no-repeat;
  background: url(../icon/ios/checkbox.png) 50% 50% no-repeat, linear-gradient(to bottom, #353535, #8f8f8f) 0px 0px no-repeat;
}
.disabled input[type="checkbox"]:disabled {
  border: 2px solid #b8b8b8;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ebebeb));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  /* FF 3.6+ */

  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  /* Standard (in flux) */

}
/*  TOOLBAR  */
.toolbar-button {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: bold 17px Helvetica;
  height: 50px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  width: 0;
  /* this is for equal sizes od the buttons when aded in a toolbar or other container with flex :1*/

}
.toolbar-button.active {
  font-weight: bolder;
}
.toolbar-button img {
  vertical-align: middle;
}
.toolbar-button > div {
  height: 50px;
  /* Hidden overflow breaks box-pack: center in Firefox */

  /* overflow: hidden; */

}
.toolbar-button .label {
  height: auto;
}
.toolbar-separator {
  width: 5px;
}
.toolbar {
  width: 100%;
  z-index: 1;
  /*
  border-top: 1px solid #2d3033;
  background: -webkit-gradient(linear,left top,left bottom,from(#d8dee6), color-stop(0.05, #b0bbce), color-stop(0.5, #8e9fb6), color-stop(0.5, #8195af), to(#778ca8));
  background: -webkit-linear-gradient(top, #d8dee6, #b0bbce 5%,#8e9fb6 50%, #8195af 50%, #778ca8);
  */

  border-top: 1px solid #2d3642;
  height: 55px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cdd5df), color-stop(50%, #8195af), to(#6d84a2));
  background-image: -webkit-linear-gradient(top, #cdd5df, #8195af 50%, #6d84a2);
  background-image: -moz-linear-gradient(top, #cdd5df, #8195af 50%, #6d84a2);
  background-image: linear-gradient(to bottom, #cdd5df, #8195af 50%, #6d84a2);
  -webkit-transition: bottom 0.65s;
  -moz-transition: bottom 0.65s;
  transition: bottom 0.65s;
}
/*  BLOCKER  */
.blocker {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: gray;
  opacity: 0.7;
  color: black;
}
/*  SPINNER  */
.spinnerContainer {
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.spinner {
  height: 20px;
  width: 20px;
  background-image: url(../icon/ios/spinner.png);
  -webkit-animation-name: spinnerRotate;
  -moz-animation-name: spinnerRotate;
  animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  margin: 0 auto;
  vertical-align: middle;
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*  SPLITPANE  */
.splitPaneLeft {
  width: 25%;
}
/*  POPUP  */
.popup {
  position: absolute;
  background: -webkit-gradient(radial, 100 -180, 215, 100 -180, 225, from(#637396), to(#1d3566));
  background: -webkit-radial-gradient(100px -195px, 230px 230px, #637396 99%, #1d3566);
  background: -moz-radial-gradient(100px -195px, 230px 230px, #637396 99%, #1d3566);
  width: auto;
  padding: 6px;
  border: 2px solid #c7d1e3;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
  z-index: 99;
  clear: both;
  color: #fff;
}
.popupAnchorPointer {
  height: 0;
  width: 0;
  float: left;
}
.popupAnchorPointerBottom {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
}
.popupAnchorPointerTop {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}
.popupAnchorPointerLeft {
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.popupAnchorPointerRight {
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/*  DIALOG  */
.dialog {
  position: fixed;
  background: -webkit-gradient(radial, 100 -180, 215, 100 -180, 225, from(#637396), to(#1d3566));
  background: -webkit-radial-gradient(100px -195px, 230px 230px, #637396 99%, #1d3566);
  background: -moz-radial-gradient(100px -195px, 230px 230px, #637396 99%, #1d3566);
  width: auto;
  padding: 6px;
  border: 2px solid #c7d1e3;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
  z-index: 99;
  min-width: 200px;
  color: #fff;
}
.dialogButton {
  width: 0;
  margin-top: 6px;
  margin-left: 1px;
  margin-right: 1px;
}
.dialogTitleUnderline {
  font-weight: 800;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.dialogTitleUnderline:after {
  display: none;
}
