/*
Syntax error: Undefined variable: "$slider-knob-height".
        on line 15 of basic/_slider.scss
        from line 98 of ./ios.scss

10: $ios-button-bordercolor: #2d3f57;
11: $ios-button-backgroundcolor: #50709a;
12: $ios-button-gradient-stop-1: #7c97bb;
13: $ios-button-gradient-stop-2: #5a7caa;
14: $ios-button-gradient-stop-3: #476999;
15: $ios-button-gradient-stop-4: #4A6C9B;
16: 
17: $ios-button-active-bordercolor: #243346;
18: $ios-button-active-backgroundcolor: #476489;
19: $ios-button-active-gradient-stop-1: #6b89b2;
20: $ios-button-active-gradient-stop-2: #50709a;

Backtrace:
basic/_slider.scss:15
./ios.scss:98
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/variable.rb:48:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/operation.rb:64:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:301:in `visit_prop'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:325:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:230:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/engine.rb:265:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:309:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:182:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:179:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:262:in `watch'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `initialize'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `new'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:44:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin/compiler.rb:270:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:482:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:324:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/../lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.195/bin/sass:9
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$slider-knob-height\".\A         on line 15 of basic/_slider.scss\A         from line 98 of ./ios.scss\A \A 10: $ios-button-bordercolor: #2d3f57;\A 11: $ios-button-backgroundcolor: #50709a;\A 12: $ios-button-gradient-stop-1: #7c97bb;\A 13: $ios-button-gradient-stop-2: #5a7caa;\A 14: $ios-button-gradient-stop-3: #476999;\A 15: $ios-button-gradient-stop-4: #4A6C9B;\A 16: \A 17: $ios-button-active-bordercolor: #243346;\A 18: $ios-button-active-backgroundcolor: #476489;\A 19: $ios-button-active-gradient-stop-1: #6b89b2;\A 20: $ios-button-active-gradient-stop-2: #50709a;"; }
