#DetailViewer {
  font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Tahoma, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 11px;
}

#DetailViewer h1,
#DetailViewer h2,
#DetailViewer h3,
#DetailViewer h4,
#DetailViewer h5,
#DetailViewer h6{
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  color: #134275;
}

#DetailViewer *{
  margin: 0;
  padding: 0;
}

#DetailViewer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#DetailViewer h2 {
  font-size: 18px;
  margin-bottom: 4px;
  margin-top: 10px;
}

#DetailViewer h3 {
  font-size: 14px;
}

#DetailViewer img {
  border: 0 none;
  vertical-align: middle;
}

#DetailViewer a:link,
#DetailViewer a:visited{
  color: #134275;
}

#DetailViewer a:hover,
#DetailViewer a:active{
  color: #134275;
  text-decoration: underline;
}








#DetailViewer div.infoPanel {
  margin-top: 20px;
}

#DetailViewer div.infoPanel span.inheritCheck {
  font-weight: normal;
  float: right;
  font-size: 11px;
  vertical-align: bottom;
}

#DetailViewer div.infoPanel span.inheritCheck input,
#DetailViewer div.infoPanel span.inheritCheck label{
  vertical-align: middle;
}

#DetailViewer div.infoPanel span.inheritCheck label{
  margin-left: 3px;
}







#DetailViewer table.info {
}

#DetailViewer table.info div.empty-info-body {
  border-top: 1px solid #ECECEC;
  background-color: #FDFFF7;
}

#DetailViewer table.info tr {
  background-color: #FDFFF7;
}

#DetailViewer table.info tr.marked {
  background: #DEFF83;
}







#DetailViewer td.icon,
#DetailViewer td.type,
#DetailViewer td.text{
  border-top: 1px solid #ECECEC;
  padding: 4px;
  vertical-align: top;
}

#DetailViewer td.icon {
  text-align: center;
  width: 20px;
}

#DetailViewer td.type {
  width: 120px;
}







#DetailViewer div.item-detail-headline {
  font-weight: bold;
}

#DetailViewer div.item-detail-text {
  padding-left: 20px;
}

#DetailViewer div.item-detail-error {
  font-weight: bold;
  color: red;
}

#DetailViewer span.item-detail-optional {
  font-style: italic;
}

#DetailViewer span.item-detail-param-name {
  font-family: monospace;
  font-weight: bold;
}
