<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="format-detection" content="telephone=no" />
  <title>Test Runner</title>
  <script type="text/javascript">
    if (!window.qx) {window.qx = {}}
    if (!qx.$$environment) {qx.$$environment = {}}
    qx.$$environment["qx.testPageUri"] = "html/tests-source.html";
  </script>
  <script type="text/javascript" src="script/testrunner.js"></script>
</head>
<body>
</body>
</html>
