.bottommenu .built-menu .built-menu {
  display: none;
}
.bottommenu li.l1.hover .built-menu.l2, .bottommenu li.l1:hover
.built-menu.l2 {
  display: block;
}
.bottommenu li.l2.hover .built-menu.l3, .bottommenu li.l2:hover
.built-menu.l3 {
  display: block;
}
.bottommenu li.l3.hover .built-menu.l4, .bottommenu li.l3:hover
.built-menu.l4 {
  display: block;
}
.bottommenu li.post_items, .bottommenu li.pre_items {
  display: none !important;
}
.bottommenu ul.l1 {
  margin: 0;
  padding: 0;
  list-style: none;
  background-clip: padding-box;
}
.bottommenu ul.l1 li.l1.current::after, .bottommenu ul.l1
li.l1.current::before {
  background-clip: padding-box;
  background: none;
}
.bottommenu ul.l1 li.l1.current .a.l1, .bottommenu ul.l1 li.l1.current
a.l1 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l1 li.l1.current .a.l1 .label, .bottommenu ul.l1
li.l1.current a.l1 .label {
  color: #444444;
}
.bottommenu ul.l1 li.l1.current .a.l1.folder .tag, .bottommenu ul.l1
li.l1.current a.l1.folder .tag {
  padding-right: 12px;
  background: url("static/assets/menus_arrow_up-wnLGaSK_Ainl9LupmmwNyA.png")
    no-repeat right center;
}
.bottommenu ul.l1 li.l1.hover::after, .bottommenu ul.l1
li.l1.hover::before, .bottommenu ul.l1 li.l1:hover::after, .bottommenu
ul.l1 li.l1:hover::before, .bottommenu ul.l1.hover li.l1.hover::after,
.bottommenu ul.l1.hover li.l1.hover::before, .bottommenu ul.l1.hover
li.l1:hover::after, .bottommenu ul.l1.hover li.l1:hover::before,
.bottommenu ul.l1:hover li.l1.hover::after, .bottommenu ul.l1:hover
li.l1.hover::before, .bottommenu ul.l1:hover li.l1:hover::after,
.bottommenu ul.l1:hover li.l1:hover::before {
  background: none;
}
.bottommenu ul.l1 li.l1.hover .a.l1, .bottommenu ul.l1 li.l1.hover
a.l1, .bottommenu ul.l1 li.l1:hover .a.l1, .bottommenu ul.l1
li.l1:hover a.l1, .bottommenu ul.l1.hover li.l1.hover .a.l1,
.bottommenu ul.l1.hover li.l1.hover a.l1, .bottommenu ul.l1.hover
li.l1:hover .a.l1, .bottommenu ul.l1.hover li.l1:hover a.l1,
.bottommenu ul.l1:hover li.l1.hover .a.l1, .bottommenu ul.l1:hover
li.l1.hover a.l1, .bottommenu ul.l1:hover li.l1:hover .a.l1,
.bottommenu ul.l1:hover li.l1:hover a.l1 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l1 li.l1.hover .a.l1 .label, .bottommenu ul.l1
li.l1.hover a.l1 .label, .bottommenu ul.l1 li.l1:hover .a.l1 .label,
.bottommenu ul.l1 li.l1:hover a.l1 .label, .bottommenu ul.l1.hover
li.l1.hover .a.l1 .label, .bottommenu ul.l1.hover li.l1.hover a.l1
.label, .bottommenu ul.l1.hover li.l1:hover .a.l1 .label, .bottommenu
ul.l1.hover li.l1:hover a.l1 .label, .bottommenu ul.l1:hover
li.l1.hover .a.l1 .label, .bottommenu ul.l1:hover li.l1.hover a.l1
.label, .bottommenu ul.l1:hover li.l1:hover .a.l1 .label, .bottommenu
ul.l1:hover li.l1:hover a.l1 .label {
  color: #444444;
}
.bottommenu ul.l1 li.l1.hover .a.l1.folder .tag, .bottommenu ul.l1
li.l1.hover a.l1.folder .tag, .bottommenu ul.l1 li.l1:hover
.a.l1.folder .tag, .bottommenu ul.l1 li.l1:hover a.l1.folder .tag,
.bottommenu ul.l1.hover li.l1.hover .a.l1.folder .tag, .bottommenu
ul.l1.hover li.l1.hover a.l1.folder .tag, .bottommenu ul.l1.hover
li.l1:hover .a.l1.folder .tag, .bottommenu ul.l1.hover li.l1:hover
a.l1.folder .tag, .bottommenu ul.l1:hover li.l1.hover .a.l1.folder
.tag, .bottommenu ul.l1:hover li.l1.hover a.l1.folder .tag,
.bottommenu ul.l1:hover li.l1:hover .a.l1.folder .tag, .bottommenu
ul.l1:hover li.l1:hover a.l1.folder .tag {
  padding-right: 12px;
  background: url("static/assets/menus_arrow_up-wnLGaSK_Ainl9LupmmwNyA.png")
    no-repeat right center;
}
.bottommenu ul.l1 li.l1, .bottommenu ul.l1.hover li.l1, .bottommenu
ul.l1:hover li.l1 {
  position: relative;
  display: inline-block;
  *vertical-align: middle;
  z-index: 50;
}
.bottommenu ul.l1 li.l1:hover, .bottommenu ul.l1.hover li.l1:hover,
.bottommenu ul.l1:hover li.l1:hover {
  z-index: 100;
}
.bottommenu ul.l1 li.l1 .a.l1::after, .bottommenu ul.l1 li.l1
.a.l1::before, .bottommenu ul.l1 li.l1 a.l1::after, .bottommenu ul.l1
li.l1 a.l1::before, .bottommenu ul.l1 li.l1::after, .bottommenu ul.l1
li.l1::before, .bottommenu ul.l1.hover li.l1 .a.l1::after, .bottommenu
ul.l1.hover li.l1 .a.l1::before, .bottommenu ul.l1.hover li.l1
a.l1::after, .bottommenu ul.l1.hover li.l1 a.l1::before, .bottommenu
ul.l1.hover li.l1::after, .bottommenu ul.l1.hover li.l1::before,
.bottommenu ul.l1:hover li.l1 .a.l1::after, .bottommenu ul.l1:hover
li.l1 .a.l1::before, .bottommenu ul.l1:hover li.l1 a.l1::after,
.bottommenu ul.l1:hover li.l1 a.l1::before, .bottommenu ul.l1:hover
li.l1::after, .bottommenu ul.l1:hover li.l1::before {
  display: none;
}
.bottommenu ul.l1 li.l1 .a.l1, .bottommenu ul.l1 li.l1 a.l1,
.bottommenu ul.l1.hover li.l1 .a.l1, .bottommenu ul.l1.hover li.l1
a.l1, .bottommenu ul.l1:hover li.l1 .a.l1, .bottommenu ul.l1:hover
li.l1 a.l1 {
  display: inline-block;
  background-clip: padding-box;
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l1 li.l1 .a.l1 img.icon, .bottommenu ul.l1 li.l1 a.l1
img.icon, .bottommenu ul.l1.hover li.l1 .a.l1 img.icon, .bottommenu
ul.l1.hover li.l1 a.l1 img.icon, .bottommenu ul.l1:hover li.l1 .a.l1
img.icon, .bottommenu ul.l1:hover li.l1 a.l1 img.icon {
  vertical-align: middle;
}
.bottommenu ul.l1 li.l1 .a.l1 .tag, .bottommenu ul.l1 li.l1 a.l1 .tag,
.bottommenu ul.l1.hover li.l1 .a.l1 .tag, .bottommenu ul.l1.hover
li.l1 a.l1 .tag, .bottommenu ul.l1:hover li.l1 .a.l1 .tag, .bottommenu
ul.l1:hover li.l1 a.l1 .tag {
  vertical-align: middle;
}
.bottommenu ul.l1 li.l1 .a.l1 .label, .bottommenu ul.l1 li.l1 a.l1
.label, .bottommenu ul.l1.hover li.l1 .a.l1 .label, .bottommenu
ul.l1.hover li.l1 a.l1 .label, .bottommenu ul.l1:hover li.l1 .a.l1
.label, .bottommenu ul.l1:hover li.l1 a.l1 .label {
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: #444444;
  padding: 0 12px;
  height: 20px;
  line-height: 20px;
}
.bottommenu ul.l1 li.l1 .a.l1.center .label, .bottommenu ul.l1 li.l1
a.l1.center .label, .bottommenu ul.l1.hover li.l1 .a.l1.center .label,
.bottommenu ul.l1.hover li.l1 a.l1.center .label, .bottommenu
ul.l1:hover li.l1 .a.l1.center .label, .bottommenu ul.l1:hover li.l1
a.l1.center .label {
  text-align: center;
}
.bottommenu ul.l1 li.l1 .a.l1.folder .tag, .bottommenu ul.l1 li.l1
a.l1.folder .tag, .bottommenu ul.l1.hover li.l1 .a.l1.folder .tag,
.bottommenu ul.l1.hover li.l1 a.l1.folder .tag, .bottommenu
ul.l1:hover li.l1 .a.l1.folder .tag, .bottommenu ul.l1:hover li.l1
a.l1.folder .tag {
  padding-right: 12px;
  background: url("static/assets/menus_arrow_up-wnLGaSK_Ainl9LupmmwNyA.png")
    no-repeat right center;
}
.bottommenu ul.l1 li.l1.folder.hover .a.l1, .bottommenu ul.l1
li.l1.folder.hover a.l1, .bottommenu ul.l1 li.l1.folder:hover .a.l1,
.bottommenu ul.l1 li.l1.folder:hover a.l1, .bottommenu ul.l1.hover
li.l1.folder.hover .a.l1, .bottommenu ul.l1.hover li.l1.folder.hover
a.l1, .bottommenu ul.l1.hover li.l1.folder:hover .a.l1, .bottommenu
ul.l1.hover li.l1.folder:hover a.l1, .bottommenu ul.l1:hover
li.l1.folder.hover .a.l1, .bottommenu ul.l1:hover li.l1.folder.hover
a.l1, .bottommenu ul.l1:hover li.l1.folder:hover .a.l1, .bottommenu
ul.l1:hover li.l1.folder:hover a.l1 {
  border-radius: 2px;
}
.bottommenu ul.l2 {
  margin: 0;
  padding: 0;
  list-style: none;
  background-clip: padding-box;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #006400;
  border-radius: 4px;
  transition: background 1s;
}
.bottommenu ul.l2.hover, .bottommenu ul.l2:hover {
  background: #ffffff;
}
.bottommenu ul.l2 li.l2.hover .a.l2, .bottommenu ul.l2 li.l2.hover
a.l2, .bottommenu ul.l2 li.l2:hover .a.l2, .bottommenu ul.l2
li.l2:hover a.l2, .bottommenu ul.l2.hover li.l2.hover .a.l2,
.bottommenu ul.l2.hover li.l2.hover a.l2, .bottommenu ul.l2.hover
li.l2:hover .a.l2, .bottommenu ul.l2.hover li.l2:hover a.l2,
.bottommenu ul.l2:hover li.l2.hover .a.l2, .bottommenu ul.l2:hover
li.l2.hover a.l2, .bottommenu ul.l2:hover li.l2:hover .a.l2,
.bottommenu ul.l2:hover li.l2:hover a.l2 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l2 li.l2.hover .a.l2 .label, .bottommenu ul.l2
li.l2.hover a.l2 .label, .bottommenu ul.l2 li.l2:hover .a.l2 .label,
.bottommenu ul.l2 li.l2:hover a.l2 .label, .bottommenu ul.l2.hover
li.l2.hover .a.l2 .label, .bottommenu ul.l2.hover li.l2.hover a.l2
.label, .bottommenu ul.l2.hover li.l2:hover .a.l2 .label, .bottommenu
ul.l2.hover li.l2:hover a.l2 .label, .bottommenu ul.l2:hover
li.l2.hover .a.l2 .label, .bottommenu ul.l2:hover li.l2.hover a.l2
.label, .bottommenu ul.l2:hover li.l2:hover .a.l2 .label, .bottommenu
ul.l2:hover li.l2:hover a.l2 .label {
  color: #444444;
}
.bottommenu ul.l2 li.l2.current .a.l2, .bottommenu ul.l2 li.l2.current
a.l2, .bottommenu ul.l2.hover li.l2.current .a.l2, .bottommenu
ul.l2.hover li.l2.current a.l2, .bottommenu ul.l2:hover li.l2.current
.a.l2, .bottommenu ul.l2:hover li.l2.current a.l2 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l2 li.l2.current .a.l2 .label, .bottommenu ul.l2
li.l2.current a.l2 .label, .bottommenu ul.l2.hover li.l2.current .a.l2
.label, .bottommenu ul.l2.hover li.l2.current a.l2 .label, .bottommenu
ul.l2:hover li.l2.current .a.l2 .label, .bottommenu ul.l2:hover
li.l2.current a.l2 .label {
  color: #444444;
}
.bottommenu ul.l2 li.l2, .bottommenu ul.l2.hover li.l2, .bottommenu
ul.l2:hover li.l2 {
  position: relative;
  z-index: 50;
  padding: 0 6px;
  margin: 2px 0;
}
.bottommenu ul.l2 li.l2:hover, .bottommenu ul.l2.hover li.l2:hover,
.bottommenu ul.l2:hover li.l2:hover {
  z-index: 100;
}
.bottommenu ul.l2 li.l2.first, .bottommenu ul.l2.hover li.l2.first,
.bottommenu ul.l2:hover li.l2.first {
  margin-top: 6px;
}
.bottommenu ul.l2 li.l2.last, .bottommenu ul.l2.hover li.l2.last,
.bottommenu ul.l2:hover li.l2.last {
  margin-bottom: 6px;
}
.bottommenu ul.l2 li.l2.separator, .bottommenu ul.l2.hover
li.l2.separator, .bottommenu ul.l2:hover li.l2.separator {
  padding: 0;
  font-size: 1px;
  border-top: 1px solid #008000;
}
.bottommenu ul.l2 li.l2 .a.l2, .bottommenu ul.l2 li.l2 a.l2,
.bottommenu ul.l2.hover li.l2 .a.l2, .bottommenu ul.l2.hover li.l2
a.l2, .bottommenu ul.l2:hover li.l2 .a.l2, .bottommenu ul.l2:hover
li.l2 a.l2 {
  display: inline-block;
  background-clip: padding-box;
  background: none;
  border-radius: 2px;
  width: 100%;
}
.bottommenu ul.l2 li.l2 .a.l2 img.icon, .bottommenu ul.l2 li.l2 a.l2
img.icon, .bottommenu ul.l2.hover li.l2 .a.l2 img.icon, .bottommenu
ul.l2.hover li.l2 a.l2 img.icon, .bottommenu ul.l2:hover li.l2 .a.l2
img.icon, .bottommenu ul.l2:hover li.l2 a.l2 img.icon {
  vertical-align: middle;
}
.bottommenu ul.l2 li.l2 .a.l2 .tag, .bottommenu ul.l2 li.l2 a.l2 .tag,
.bottommenu ul.l2.hover li.l2 .a.l2 .tag, .bottommenu ul.l2.hover
li.l2 a.l2 .tag, .bottommenu ul.l2:hover li.l2 .a.l2 .tag, .bottommenu
ul.l2:hover li.l2 a.l2 .tag {
  vertical-align: middle;
}
.bottommenu ul.l2 li.l2 .a.l2 .label, .bottommenu ul.l2 li.l2 a.l2
.label, .bottommenu ul.l2.hover li.l2 .a.l2 .label, .bottommenu
ul.l2.hover li.l2 a.l2 .label, .bottommenu ul.l2:hover li.l2 .a.l2
.label, .bottommenu ul.l2:hover li.l2 a.l2 .label {
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: #444444;
  padding: 2px 6px;
  height: 20px;
  line-height: 20px;
}
.bottommenu ul.l2 li.l2 .a.l2.center .label, .bottommenu ul.l2 li.l2
a.l2.center .label, .bottommenu ul.l2.hover li.l2 .a.l2.center .label,
.bottommenu ul.l2.hover li.l2 a.l2.center .label, .bottommenu
ul.l2:hover li.l2 .a.l2.center .label, .bottommenu ul.l2:hover li.l2
a.l2.center .label {
  text-align: center;
}
.bottommenu .built-menu.l2 {
  position: absolute;
  padding: 30px 30px 5px;
  margin: -30px -30px -5px;
  bottom: 20px;
}
.bottommenu .built-menu.l2 ul.l2 li.l2.first {
  margin-top: 4px !important;
}
.bottommenu .built-menu.l2 ul.l2 li.l2.last {
  margin-bottom: 4px !important;
}
.bottommenu ul.l3 {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 2px 10px;
  margin: 2px 0 0 0;
  background-clip: padding-box;
  transition: background 1s;
}
.bottommenu ul.l3 li.l3.hover .a.l3, .bottommenu ul.l3 li.l3.hover
a.l3, .bottommenu ul.l3 li.l3:hover .a.l3, .bottommenu ul.l3
li.l3:hover a.l3, .bottommenu ul.l3.hover li.l3.hover .a.l3,
.bottommenu ul.l3.hover li.l3.hover a.l3, .bottommenu ul.l3.hover
li.l3:hover .a.l3, .bottommenu ul.l3.hover li.l3:hover a.l3,
.bottommenu ul.l3:hover li.l3.hover .a.l3, .bottommenu ul.l3:hover
li.l3.hover a.l3, .bottommenu ul.l3:hover li.l3:hover .a.l3,
.bottommenu ul.l3:hover li.l3:hover a.l3 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l3 li.l3.hover .a.l3 .label, .bottommenu ul.l3
li.l3.hover a.l3 .label, .bottommenu ul.l3 li.l3:hover .a.l3 .label,
.bottommenu ul.l3 li.l3:hover a.l3 .label, .bottommenu ul.l3.hover
li.l3.hover .a.l3 .label, .bottommenu ul.l3.hover li.l3.hover a.l3
.label, .bottommenu ul.l3.hover li.l3:hover .a.l3 .label, .bottommenu
ul.l3.hover li.l3:hover a.l3 .label, .bottommenu ul.l3:hover
li.l3.hover .a.l3 .label, .bottommenu ul.l3:hover li.l3.hover a.l3
.label, .bottommenu ul.l3:hover li.l3:hover .a.l3 .label, .bottommenu
ul.l3:hover li.l3:hover a.l3 .label {
  color: #444444;
}
.bottommenu ul.l3 li.l3.current .a.l3, .bottommenu ul.l3 li.l3.current
a.l3, .bottommenu ul.l3.hover li.l3.current .a.l3, .bottommenu
ul.l3.hover li.l3.current a.l3, .bottommenu ul.l3:hover li.l3.current
.a.l3, .bottommenu ul.l3:hover li.l3.current a.l3 {
  background: none;
  border-radius: 2px;
}
.bottommenu ul.l3 li.l3.current .a.l3 .label, .bottommenu ul.l3
li.l3.current a.l3 .label, .bottommenu ul.l3.hover li.l3.current .a.l3
.label, .bottommenu ul.l3.hover li.l3.current a.l3 .label, .bottommenu
ul.l3:hover li.l3.current .a.l3 .label, .bottommenu ul.l3:hover
li.l3.current a.l3 .label {
  color: #444444;
}
.bottommenu ul.l3 li.l3, .bottommenu ul.l3.hover li.l3, .bottommenu
ul.l3:hover li.l3 {
  position: relative;
  z-index: 50;
  padding: 0 6px;
  margin: 2px 0;
}
.bottommenu ul.l3 li.l3:hover, .bottommenu ul.l3.hover li.l3:hover,
.bottommenu ul.l3:hover li.l3:hover {
  z-index: 100;
}
.bottommenu ul.l3 li.l3.first, .bottommenu ul.l3.hover li.l3.first,
.bottommenu ul.l3:hover li.l3.first {
  margin-top: 6px;
}
.bottommenu ul.l3 li.l3.last, .bottommenu ul.l3.hover li.l3.last,
.bottommenu ul.l3:hover li.l3.last {
  margin-bottom: 6px;
}
.bottommenu ul.l3 li.l3.separator, .bottommenu ul.l3.hover
li.l3.separator, .bottommenu ul.l3:hover li.l3.separator {
  padding: 0;
  font-size: 1px;
  border-top: 1px solid #008000;
}
.bottommenu ul.l3 li.l3 .a.l3, .bottommenu ul.l3 li.l3 a.l3,
.bottommenu ul.l3.hover li.l3 .a.l3, .bottommenu ul.l3.hover li.l3
a.l3, .bottommenu ul.l3:hover li.l3 .a.l3, .bottommenu ul.l3:hover
li.l3 a.l3 {
  display: inline-block;
  background-clip: padding-box;
  background: none;
  border-radius: 2px;
  width: 100%;
}
.bottommenu ul.l3 li.l3 .a.l3 img.icon, .bottommenu ul.l3 li.l3 a.l3
img.icon, .bottommenu ul.l3.hover li.l3 .a.l3 img.icon, .bottommenu
ul.l3.hover li.l3 a.l3 img.icon, .bottommenu ul.l3:hover li.l3 .a.l3
img.icon, .bottommenu ul.l3:hover li.l3 a.l3 img.icon {
  vertical-align: middle;
}
.bottommenu ul.l3 li.l3 .a.l3 .tag, .bottommenu ul.l3 li.l3 a.l3 .tag,
.bottommenu ul.l3.hover li.l3 .a.l3 .tag, .bottommenu ul.l3.hover
li.l3 a.l3 .tag, .bottommenu ul.l3:hover li.l3 .a.l3 .tag, .bottommenu
ul.l3:hover li.l3 a.l3 .tag {
  vertical-align: middle;
}
.bottommenu ul.l3 li.l3 .a.l3 .label, .bottommenu ul.l3 li.l3 a.l3
.label, .bottommenu ul.l3.hover li.l3 .a.l3 .label, .bottommenu
ul.l3.hover li.l3 a.l3 .label, .bottommenu ul.l3:hover li.l3 .a.l3
.label, .bottommenu ul.l3:hover li.l3 a.l3 .label {
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: #444444;
  padding: 2px 6px;
  height: 20px;
  line-height: 20px;
}
.bottommenu ul.l3 li.l3 .a.l3.center .label, .bottommenu ul.l3 li.l3
a.l3.center .label, .bottommenu ul.l3.hover li.l3 .a.l3.center .label,
.bottommenu ul.l3.hover li.l3 a.l3.center .label, .bottommenu
ul.l3:hover li.l3 .a.l3.center .label, .bottommenu ul.l3:hover li.l3
a.l3.center .label {
  text-align: center;
}
.bottommenu .built-menu.l3 {
  display: block;
}
.bottommenu .built-menu.l3 ul.l3 {
  border-top: 1px solid #008000;
}
