* {
  .tap-highlight-color(rgba(0,0,0,0));
  margin: 0;
  padding: 0;
}

html, body {
  height:100%;
}

.root {
  .user-select(none);
  .text-size-adjust(none);
  overflow-x: hidden;
  font-family: Helvetica;
  font-weight: normal;
  height:100%;
  font-size: 0.9em;
}

.page {
  .transform(translate3d(0,0,0) rotate(0) scale(1));
  .box-sizing(border-box);
  left: 0;
  width: 100%;
}


.selectable, input, textarea {
  .user-select(auto);
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exclude {
  display:none !important;
}

.space-top {
  margin-top:4px;
}

a:hover, a:active {
  outline: none;
}

.fontNormal {
  font-size: 0.8em;
  font-weight: normal;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

h2 {
  line-height: 20px;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  padding: 5px;
}
