.standard-button() {
  .border-radius(4px);
  cursor: pointer;
  
  padding-left:6px;
  padding-right: 6px;
  width: auto;
  
  font-weight:normal;
  font-size:16px;

  text-align: center;
}

//
// BUTTON
//

.button {
  .standard-button();
  .background-clip(padding-box);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:2px;
  padding-bottom:2px;

  margin-top:4px;
  
  height: 30px;
  width: auto;
  line-height: 30px;

  font-size: 15px;
}

//
// TOOLBAR
//

.toolbar-button {
  .standard-button();
  
  .box();
  .box-centered();
  .background-clip(padding-box);
  cursor: pointer;
  font-weight: bold;

  @padding:4px;
  padding-left:@padding;
  padding-right:@padding;
  
  overflow: hidden;

  // This is for equal sizes of the buttons when added in a toolbar or other container
  // with flex unfortunately, this can be used only in the case where the buttons are
  // similar in size, and the text is small if we will have a button with 100 characters
  // text and a button with 2 characters text the one with 100 characters gets clipped
  width: 0;

  font-size: 12px;
  
  line-height:normal;
}

.toolbar-separator {
  width: 4px;
}

.toolbar {
  width: 100%;
  z-index: 1;
  padding: 2px;
  height: 55px;
  height: -moz-calc(55px + 4px);
  .box-align(stretch);
}

.toolbar-button img {
  vertical-align: middle;
}

.toolbar-button .label {
  height: auto;
  padding-top:2px;
  text-align:center;
  // For displaying ellipsis correctly.
  max-width:100%;
}

.toolbar-separator {
  width: 5px;
}

.list-itemimage {
  margin-right: 7px;
}

//
// FORM 
//
ul.form {
  margin-bottom: 10px;
}

ul.form li {
    padding: 10px 10px 10px 10px;
}

ul.form ul li.error {
    border: 2px solid red;
}

ul.form li.error + li.error {
    border-top: 0;
}

ul.form li * {
    white-space: normal;
    text-overflow: ellipsis;
}

input[type="text"]:not(.selectbox),input[type="number"], input[type="password"], textarea {
  .border-radius(.4em);
  .background-clip(padding-box);
  text-indent:4px;
  height:1.7em;
}

input, select {
  vertical-align: middle;
}

input, select, textarea {
  font-family: Helvetica;
  font-size: 0.9em;
}

input[type="text"], input[type="password"],input[type="number"], textarea {
  .appearance(textarea);
  width: 100%;
  outline: none;
}

input[type="text"].invalid, input[type="password"].invalid, textarea.invalid {
  border: 1px solid red;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0;
  padding: 10px 10px;
}

textarea {
  height: 120px;
  resize: none;
  padding-top:4px;
}

.formElementError {
  color: red;
}

//
// SLIDER 
//

.slider {
  margin-top:8px;
  .border-radius(.6em);
  height: 15px;
 }

.slider > div {
  position:relative;
  top: -6px;
  left: 0%;  

  @size:25px;
  height:@size;
  width:@size;
  .border-radius(@size);
}

//
// TABBAR   
//


.tabButton.active, .tabButton.selected {

}

.tabBar {
  padding-top:4px;
  bottom: 1px;
}

.tabButton {
  // This is for equal sizes od the buttons when added in a toolbar or
  // other container with flex :1
  width: 0;

  .border-radius-top(6px);

  cursor:pointer;

  height:45px;
  line-height:45px;

  text-align: center;

  font-size: 15px;
  .background-clip(padding-box);
  .box-sizing(border-box);
  
  @margin-size:4px;
  margin-left:@margin-size;
  margin-right:@margin-size;
}

//
// NAVIGATIONBAR 
//

.navigationbar {
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

.navigationbar-button, .navigationbar-backbutton {
  .standard-button();

  text-align: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-overflow: ellipsis;

  .background-clip(padding-box);

  height: 30px;
  line-height: 30px;

  min-width: 40px;
  // Firefox uses border-box for flexbox children,
  // see http://bugzilla.qooxdoo.org/show_bug.cgi?id=5961.
  min-width: -moz-calc(40px + 10px);
  //height: -moz-calc(30px + 6px);
  
  
}

//
// SCROLLBAR 
//

.scrollbarV > div {
   .background-clip(padding-box);
  .box-sizing(border-box);
  .border-radius(4px);
  
  position: absolute;
  z-index: 100;
  width: 100%;
}

.scrollbarV {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 7px;
  width: 6px;
  z-index: 100;
}

//
// CHECKBOX
//


input[type="checkbox"] {
  cursor:pointer;
  .border-radius(.3em);
  .appearance(none);
  width: 30px;
  height: 30px;
}


//
// SPINNER
//

.spinner {
  .animation-name(spinnerRotate);
  .animation-duration(1s);
  .animation-iteration-count(infinite);
  .animation-timing-function(linear);
  background-image: url(../icon/common/spinner.png);
  margin: 0 auto;
  vertical-align: middle;
}

@-webkit-keyframes spinnerRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

@-moz-keyframes spinnerRotate {
  from {
    .transform(rotate(0deg));
  }
  to {
    .transform(rotate(360deg));
  }
}

.spinnerContainer {
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

//
// POPUP
//

.popup {
  .border-radius(.5em);
  position: absolute;
  width: auto;
  padding: 6px;
  z-index: 99;
  clear: both;
}

.popupAnchorPointer {
  height: 0;
  width: 0;

  // Remove from normal flow to avoid this box’s bottom margin edge
  // to determine the height of the containing element. Fixes clipped
  // height of popup in Firefox. Side-effect: Width grows by the
  // pointer’s border-box width (in Firefox).
  float: left;
}

.popupAnchorPointerBottom {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
}

.popupAnchorPointerTop {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

.popupAnchorPointerLeft {
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.popupAnchorPointerRight {
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

//
// DIALOG 
//

.dialog { 
  .border-radius(.5em);
  z-index: 99;
  min-width: 200px;
  min-width: -moz-calc(200px + 18px);
  position: fixed;
  width: auto;
  padding: 6px;
}

.dialogButton {
  width: 0;
  margin-top: 6px;
  margin-left: 1px;
  margin-right: 1px;
}

.dialogTitleUnderline {
  font-weight: 800;
  font-size: 16px;
  margin: 0 0 5px 0;
}

//
// TOGGLEBUTTON 
//

.toggleButton {
  .background-clip(padding-box);
  width: 84px;
  height: 29px;
  display: block;
  cursor:default;
  font-size:16px;
  font-weight:bold;

  cursor:pointer;
}

.toggleButton > div {
  .border-radius(15px);
  margin: 0;
  height: 27px;
  width: 80px;
  overflow:hidden;
}


div.checked .toggleButtonSwitch {
  position:relative;
  left: 53px;
}

div.checked .toggleButtonSwitch:after {
  display:block;
  content: "";
}

div.checked .toggleButtonSwitch:before {
  position:relative;
  content: "ON";
  left:-35px;
  line-height:27px;
  height:26px;
  overflow:visible;
}

.toggleButtonSwitch:after {
  content: "OFF";
  position:relative;
  left: 35px;
  line-height:27px;
  height:26px;
  overflow:visible;
}


.toggleButtonSwitch {
  position:relative;
  left: 0px;

  height:25px;
  width:25px;

  .border-radius(15px);
}

//
// SELECTBOX
//

.selectbox {
  .user-select(none);
  -moz-user-select: -moz-none;
    
  .hbox();
  .border-radius(4px);
  border:none;
  .boxAlignCenter();
  
  cursor:pointer;

  vertical-align:middle;
  height:35px;
  
  background-color:transparent;


  font-weight:normal;
  font-size:15px;
  text-indent: 4px;
}

.selectbox-selected > div > .list-itemlabel {
  background-image:url(../icon/common/checkbox-green.png);
  background-repeat:no-repeat;
  background-position: right;

  padding-top:3px;
  text-indent:4px;
}

.selectbox-unselected > div > .list-itemlabel {
  text-indent:4px;
}

.selectbox-selected > .list-itemimage {
  display:none;
}

.selectbox-unselected > .list-itemimage {
  display:none;
}

//
// BLOCKER
//

.blocker {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  color: black;
  background-color: #818181;
}

//
// SLIDER
//

.slider {
  .background-clip(padding-box);
  position: relative;
  overflow: visible;
}

.slider > div {
  .background-clip(padding-box);
  position: absolute;
  background-color:#fff;
}

//
// LIST
//

ul {
  .background-clip(padding-box);
  padding: 0;
  font: bold 17px Helvetica;
  .border-radius(.4em);

  cursor:pointer;
}

ul li {
  list-style-type: none;
  padding: 10px 25px 10px 10px;
}

ul li.active .subtitle {
}

ul li .subtitle {
  font-weight: normal;
  font-size: 0.8em;
}

li:first-child, li:first-child a {
  border-top: 0;
  .border-radius-top(.4em);
}


li:last-child, li:last-child a {
  .border-radius-bottom(.4em);
}
