<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Quickstart</title>

  <!-- Use settings to configure application -->
  <script type="text/javascript">
    qxsettings = { "qx.application" : "Application" };
  </script>

  <!-- Include compiled qooxdoo -->
  <script type="text/javascript" src="script/qx-0.js"></script>

  <!-- Add your own classes here -->
  <script type="text/javascript" src="Application.js"></script>
</head>
</html>
