<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <script src="qx.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="logger">
        
    </div>
    
    <script type="text/javascript" charset="utf-8">

var logger = document.getElementById("logger");
qx.bom.Element.addListener(document.body, "keydown", function(e) {
  logger.innerHTML += e.getKeyIdentifier() + "<br>";
  e.preventDefault(); 
});

    </script>
</body>
</html>
