<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="qx-bom.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <h1>BOM application demo</h1>
  This tiny application demo shows the low-level API in action.
  <h2>Type ahead!</h2>
  <div id="logger"></div>
      
  <script type="text/javascript" charset="utf-8">
	  // register callback
    qx.event.Registration.addListener(window, "ready", onReady);

    // executed when the application/scripts are loaded 
    function onReady()
    {
	    var logger = document.getElementById("logger");
	
	    var loggerStyle = {
	        "width" : "80%",
	        "height" : "250px",
	        "border" : "1px solid lightgrey",
	        "overflow" : "auto"     
	    };
	    qx.bom.element.Style.setStyles(logger, loggerStyle);

      // indicate startup
	    logger.innerHTML += "Application ready ..."; 

	    qx.bom.Element.addListener(document.body, "keydown", function(e) {
	      logger.innerHTML += e.getKeyIdentifier() + "<br>";
	    });
    }
  </script>
</body>
</html>