<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="qx-bom.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="logger"></div>
      
  <script type="text/javascript" charset="utf-8">
    var logger = document.getElementById("logger");
  
    qx.bom.Element.addListener(document.body, "keydown", function(e) {
      logger.innerHTML += e.getKeyIdentifier() + "<br>";
      e.preventDefault(); 
    });
  </script>
</body>
</html>
