.animationParent {
  @include perspective(800);
  @include transform-style(preserve-3d);
}

.animationChild {
  @include backface-visibility(hidden);
  @include background($navigationpage-background);
  position: absolute; // We have to remove this property after animation, otherwise the list widget is not shown in Webkit Browsers. See Bug #5935.
}

.in {
  z-index: 10; 
}

.out {
  z-index: 0;
}

//
// SLIDE UP
//

.slideup.in {
  z-index: 10;
}

.slideup.out {
  z-index: 0;
}

.slideup.in.reverse {
  z-index: 0;
}

.slideup.out.reverse {
  z-index: 10;
}

//
// FLIP 
//

.flip {
  @include backface-visibility(hidden);
}


//
// SWAP
//

.swap {
  @include transform(perspective(800));
}