.animationParent {
  @include perspective(800);
  @include transform-style(preserve-3d);
  -webkit-transform-style: preserve-3d; // We have to remove this property after animation, otherwise the dialog widget is not shown in Chrome. See Bug #5891.
}

.animationChild {
  @include backface-visibility(hidden);
  position: absolute; // We have to remove this property after animation, otherwise the list widget is not shown in Webkit Browsers. See Bug #5935.
}

.in {
  z-index: 10;
}

.out {
  z-index: 0;
}

.in, .out {
  @include animation-timing-function(ease-in-out);
  @include animation-duration(350ms);
  @include animation-fill-mode(both); // Apply first and persist the last frame of the animation
}

//
// SLIDE UP
//

.slideup.in {
    z-index: 10;
}

.slideup.out {
    z-index: 0;
}

.slideup.in.reverse {
  z-index: 0;
}

.slideup.out.reverse {
  z-index: 10;
}

//
// FLIP 
//

.flip {
  @include backface-visibility(hidden);
}


//
// SWAP
//

.swap {
    @include transform(perspective(800));
}


//
// CUBE LEFT
//

$cube-z-target: 0px;

.cube {
    // @include animation-duration(.55s);
}

//
// CUBE RIGHT
//

.cube.in.reverse {
    @include transform-origin(0% 50%);
    @include animation-name(cubeRightIn);
}

.cube.out.reverse {
    @include transform-origin(100% 50%);
    @include animation-name(cubeRightOut);
}

@mixin cubeRightInFrames {
    0% {
        @include transform(rotateY(-90deg) translateZ($cube-z-target) scale(.5));
        opacity: .5;
    }
    100% {
        @include transform(rotateY(0deg) translateZ(0) scale(1));
        opacity: 1;
    }
}

@mixin cubeRightOutFrames {
    0% {
        @include transform(rotateY(0deg) translateX(0) scale(1));
        opacity: 1;
    }
    100% {
        @include transform(rotateY(90deg) translateZ($cube-z-target) scale(.5));
        opacity: .5;
    }
}

@-webkit-keyframes cubeRightIn {@include cubeRightInFrames}
@-moz-keyframes cubeRightIn {@include cubeRightInFrames}
@keyframes cubeRightIn {@include cubeRightInFrames} 

@-webkit-keyframes cubeRightOut {@include cubeRightOutFrames}
@-moz-keyframes cubeRightOut {@include cubeRightOutFrames}
@keyframes cubeRightOut {@include cubeRightOutFrames}
