//
// COMMON
//
// This stylesheet contains all styles, which are necessary/useful for ALL themes.
//
//

 * {
  @include tap-highlight-color(rgba(0,0,0,0));
  margin: 0;
  padding: 0;
}

html, body {
  height:100%;
  overflow:hidden;
}

.mobile input {
  line-height:1;
  vertical-align:middle;
}

.mobile .selectable, .mobile input, .mobile textarea {
  @include user-select(auto);
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.exclude {
  display:none !important;
}

.space-top {
  margin-top:4px;
}

a:hover, a:active {
  outline: none;
}

.mobile.root {
  @include user-select(none);
  @include text-size-adjust(none);
  overflow-x: hidden;
  
  height:100%;
  width:100%;
}

img:not([src]) {
  display:none;
}

img:before {
  content:'';
  display:block; 
  position:absolute;
};

img.no-content {
  content: '';
  display: block; 
  position:relative;
}

// Bugfix for Android 2.x, adds a scale(1) to the element,
// to enable to transform child elements.
.fix-scale {
  @include transform(scale(1));
}

// WEBKIT ONLY

input::-webkit-input-placeholder {
  line-height:normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// PASSWORD INPUT FIELDS

.passwordField {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}

