//
// Card Layout
//

.layout-card {
  overflow:hidden;
  position: relative;
}

.layout-card-item {
  @include box-sizing(border-box);
}

//
// Box-Layout
//

.hbox, .vbox {
  // Subtract padding and border from content width (100%) to prevent
  // 100% + X situation.
  @include box-sizing(border-box);
}

// Devices which supports new flex syntax.
.mobile.flex-ready {
  .hbox, .vbox {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .hbox {
    @include flex-direction(row);
  }

  .vbox {
    @include flex-direction(column);
    width: 100%;
  }

  .hbox.flex-reverse {
    @include flex-direction(row-reverse);
  }

  .vbox.flex-reverse {
    @include flex-direction(column-reverse);
  }

  .flex-center {
    @include flex-align-items(center);
    @include flex-justify-content(center);
  }

  .flex-align-start {
    @include flex-align-items(flex-start);
  }

  .flex-align-center {
    @include flex-align-items(center);
  }

  .flex-align-end {
    @include flex-align-items(flex-end);
  }

  .flex-justify-start {
    @include flex-justify-content(flex-start);
  }

  .flex-justify-center {
    @include flex-justify-content(center);
  }

  .flex-justify-end {
    @include flex-justify-content(flex-end);
  }

  @for $i from 0 through 6 {
    .flex#{$i} { 
      @include flex($i);
    }
  }
}

// Devices which supports old flexbox syntax.
.mobile:not(.flex-ready) {
  .hbox, .vbox {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: box;
  }

  .hbox {
    @include box-orient(horizontal);
  }

  .vbox {
    @include box-orient(vertical);
    height: 100%;
    width:100%;
  }

  .hbox.flex-reverse, .vbox.flex-reverse {
    @include box-direction(reverse);
  }

  .flex-center {
    @include box-pack(center);
    @include box-align(center);
  }

  .flex-align-start {
    @include box-align(start);
  }

  .flex-align-center {
    @include box-align(center);
  }

  .flex-align-end {
    @include box-align(end);
  }

  .flex-justify-start {
    @include box-pack(start);
  }

  .flex-justify-center {
    @include box-pack(center);
  }

  .flex-justify-end {
    @include box-pack(end);
  }

  @for $i from 0 through 6 {
    .flex#{$i} { 
      @include box-flex($i);
    }
  }
}
