.scroll {
  position:relative;

  height:100%;

  overflow:hidden;
}

.iscroll {
  width:100%;
  position:absolute;
  padding-bottom:10px; // TODO: Experimental
}

// Bugfix for Android 2.x, adds a scale(1) to the element,
// to enable to transform child elements.
.root.android.v2 .iscroll {
  @include transform(scale(1));
}

.scroll-container {
  // iOS6 flickering bug fix
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
 
  position:relative;
  overflow:hidden;
}

.scroll-container-child {
  position:relative;
}

.scroll-container.scrollable-top:before, .scroll-container.scrollable-bottom:after {
  pointer-events:none;
}

.scroll.native {
  -webkit-overflow-scrolling:touch;
  overflow:scroll;
}

