//
// LIST
//

ul {
  .background-clip(padding-box);
  padding: 0;
  font: bold 17px Helvetica;

  cursor:pointer;
}

ul li {
  list-style-type: none;
  padding: 10px 25px 10px 10px;
}

ul li.active .subtitle {

}

ul li .subtitle {
  font-weight: normal;
  font-size: 0.8em;
}

li:first-child:not(.formRowGroupFirstItem), li:first-child a {
  border-top: 0;
}
