//
// POPUP
//

.popup {
  .border-radius(.5em);
  position: absolute;
  width: auto;
  padding: 6px;
  z-index: 101;
  clear: both;
}

@arrow-size: 12px;
@arrow-space: 2;
@arrow-position-offset:15px;

// Arrow-Top
.popupAnchorPointerTop:before {
  top:-(@arrow-size + 3);
  left: @arrow-position-offset;
}

.popupAnchorPointerTop:after {
  top:-(@arrow-size);
  left: @arrow-position-offset + 2;
}

// Arrow-Bottom
.popupAnchorPointerBottom:before {
  bottom:-(@arrow-size + 3);
  left: @arrow-position-offset;
}

.popupAnchorPointerBottom:after {
  bottom: -(@arrow-size);
  left: @arrow-position-offset + 2;
}

// Arrow-Left
.popupAnchorPointerLeft:before {
  left:-(@arrow-size + 3);
  top: @arrow-position-offset;
}

.popupAnchorPointerLeft:after {
  left: -(@arrow-size);
  top: @arrow-position-offset + 2;
}

// Arrow-Right
.popupAnchorPointerRight:before {
  right: -(@arrow-size + 3);
  top: @arrow-position-offset;
}

.popupAnchorPointerRight:after {
  right: -(@arrow-size);
  top: @arrow-position-offset + 2;
}



.popup-content {
  height : 100%;
}
