*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

#content{
  margin: 40px 20px 0;
  width: 400px;
}

h1{
  font-size: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: 14px;
}

a{
  color: #335EA8;
}

li{
  margin-left: 16px;
  list-style: square;
  margin-bottom: 20px;
}

p{
  font-size: 12px;
}