.qx-datepicker {
  font-size: px-to-rem(14);
  height: px-to-rem(16);
}

.qx-datepicker-icon {
  cursor: pointer;
  vertical-align: top;
  margin-left: px-to-rem(4);
  width: px-to-rem(22);
  height: px-to-rem(22);
}

.qx-datepicker[disabled] + .qx-datepicker-icon {
  cursor: default;
}