.qx-datepicker {
  font-size: rem(14);
  height: rem(16);
}

.qx-datepicker-icon {
  cursor: pointer;
  vertical-align: top;
  margin-left: rem(4);
  width: rem(22);
  height: rem(22);
}

.qx-datepicker[disabled] + .qx-datepicker-icon {
  cursor: default;
}