.qx-menu {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1000001;
  position: absolute;
  background-color: $background-color;
  border: px-to-rem(1) solid $border-color;
  padding: px-to-rem(0);
  margin: px-to-rem(0);
}

.qx-menu li {
  padding: px-to-rem(6) px-to-rem(10);
  list-style-type: none;
  cursor: pointer;
}

.qx-menu li:hover {
  color: $background-color;
  background-color: $highlight-color;
}
