.start {
  color: #333;
}

.success {
  color: #007F00;
}

.failure {
  color: #9E0000;
}

.skip {
  color: #666666;
}

#statusgroup {
  margin-bottom: 0;
}

#autframe {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 0;
  height: 0;
}