body {
  font-size: 18px;
  background-color: black;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #FEFEFE;
}

a {
  display: block;
  padding: 10px 0px;
  color: #00FFFF;
}

#out {
  margin-top: 10px;
  padding: 10px;
  color: #FFF;
  border-top : 1px solid #FEFEFE;
  font-family: monospace;
  font-weight: bold;
  line-height: 26px;
}
