@import "_lib";

html {
  height: 100%;
}

body {
  min-width: $siteWidth + 100px;
  height: 100%;
}

a.button {
  line-height: round($line * 1.5);
  font-size: $fontSize;
  text-align: center;
  display: block;
  margin-bottom: round($line * 0.5);
}

.large {
  font-size: $fontSize + 2;
}

.note {
  font-size: $fontSize - 1;
}

.alert {
  background-color: $attention;
  padding: 5px 20px;
  color: #000;
  font-size: $fontSize - 2;

  a {
    color: inherit;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.action {
  .button {
    @include span(5);
    float: left;
    background-color: $lightShade;

    &:hover {
     background-color: $shade;
     text-decoration: none !important;
    }
  }
}

// .todo, .todo a {
//   color: #f00 !important;
// }

#header-wrapper {
  background-color: $darkShade;
  @include gradient-vertical(lighten($darkShade, 12%), $darkShade);

  .decoration {
    $lightSpot: lighten($spot, 6%);
    height: 10px;
    background-color: $spot;
    // border-top: 1px solid $lightSpot;
    @include gradient-vertical-four($lightSpot, $lightSpot, $spot, $spot, 1px, 1px);
  }
}

#header {
  $fg: darken($shade, 15%);
  $hl: #ffffff;

  @include container();
  margin: 0 auto;
  min-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $fg;

  // Logo
  h1 {
    @include columns(6);
    font-size: 32px;
    // font-weight: 300;  // Museo Slab, 300
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: $hl;
  }

  nav {
    @include columns(12);
    font-size: $fontSize + 1;

    ul, ol {
      margin: 0;
      margin-top: 8px;

      li {
        margin-right: 20px;
        display: inline-block;

        a {
          border-bottom: $bar solid transparent;

          &:hover, &.active:hover {
            color: $hl;
            border-color: $hl;
          }

          &.active {
            border-color: $fg;
          }
        }
      }
    }
  }

  #search {
    @include clearfix();
    margin-top: 8px;
    margin-right: -($gridColumnWidth+10px); // Allow search to bleed

    select, input {
      height: $line;
    }

    input[type=search] {
      @include columns(4);
      @include appearance(none);
      @include border-radius(8px);
      font-size: $fontSize - 2;
      margin: 0;
      padding: 2px;
      border: none;
      background-color: $shade;
    }

    input[type=search]:focus {
      outline: none;
    }

    select {
      @include columns(3);
      margin-top: 2px;
      visibility: visible;
    }
  }
}

#main-wrapper {
  min-height: 100%;
  padding-bottom: round($footerLineCount * $line);
}

#main {
  @include container();
  position: relative;
  padding-top: round($line * 3 - 5px);
  padding-bottom: round($line * 5);

  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.25em;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.5em;
  }

  #breadcrumb {
    position: absolute;
    top: $line - 5px;
    color: $mediumShade;

    a {
      text-decoration: none;
    }
  }

  #sidebar {
    @include columns(6);
    margin-left: 0;
    padding-left: $gridWidth * 2;

    aside {
      margin-bottom: 1em;
    }

    // Limit TOC to two levels
    ul > li > ul > li > ul {
      display: none;
    }
  }

  #content {
    @include columns(16);
    @include first();
    clear: both;  // Force to new row

    pre {
      padding: $gridGutterWidth;
      background-color: $lightShade;
    }

    table {
      tr + tr {
        border-top: 1px solid $shade;
      }

      td {
        vertical-align: middle;
      }
    }

    .no-border table, table.no-border {
      tr {
        border-top-color: transparent;
      }
    }

  }
}

#footer-wrapper {
  border-top: 1px solid lighten($darkShade, 30);
  background-color: $darkShade;
  height: round($footerLineCount * $line);
  margin-top: round(-$footerLineCount * $line);
  padding-bottom: $line;
}

// Avoid Typekit badge to break layout
#footer-wrapper + img {
  display: none;
}

#footer {
  $fg: darken($shade, 15%);
  @include container();
  margin: 0 auto;
  padding-top: $line;
  color: $fg;

  #supported-by {
    @include columns(5);

    img {
      float: left;
      margin-right: 6px;
    }

    p {
      margin-left: 6px;
      margin-top: 3px;
      font-size: round($fontSize * 0.8);
    }

    .legal {
      padding-top: 2px;
      color: darken($fg, 30%);
    }
  }

  #sitemap {
    @include push(1);
    @include columns(12);

    h3 {
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }

    div {
      @include columns(4);
    }
  }

  #meta {
    @include columns(6);
    margin-left: $gridGutterWidth;
    font-size: 10px;

    .social {
      overflow: hidden;
      margin-bottom: $line * 0.5;
    }

    img {
      float: left;
    }

  }
}