//
// Application-specific theming template for qx.Mobile Applications
//
// Modify the values for customizing your theme 
// and run the qooxdoo generator job 'watch-scss' 

// Theme

$theme-color: #3D72C9;
$dark-color: #222;
$light-color: white;

$mix-color-dark-2:  mix($dark-color, $light-color, 90%); 
$mix-color-dark-1:  mix($dark-color, $light-color, 70%);
$mix-color-medium:  mix($dark-color, $light-color, 50%);
$mix-color-light-1: mix($dark-color, $light-color, 30%);
$mix-color-light-2: mix($dark-color, $light-color, 10%);

// Application

$application-font:  "Segoe UI","Slate Pro",sans-serif,Helvetica;
$application-text-color:  $dark-color;
$application-font-size:  100%;

// Page

$navigationpage-background-color: $mix-color-light-2;
$navigationpage-border-color: $mix-color-light-1;

// NavigationBar

$navigationbar-height:  rem(40);
$navigationbar-background:  linear,$mix-color-dark-1,$mix-color-dark-2;
$navigationbar-text-size:  $navigationbar-height/2;
$navigationbar-text-color:  $light-color;
$navigationbar-padding:  rem(4);

// NavigationBar Button
 
$navigationbarbutton-border-radius:  rem(4);
$navigationbarbutton-background:  linear,$light-color,$mix-color-light-1;
$navigationbarbutton-border-color:  $mix-color-dark-1;
$navigationbarbutton-text-color:  $mix-color-dark-2;
$navigationbarbutton-active-background:  linear,lighten($theme-color,20%),$theme-color;
$navigationbarbutton-active-text-color:  $light-color;
$navigationbarbutton-active-border-color:  $light-color;
 
// Dialog

$dialog-border-color: $theme-color; 
$dialog-background:  linear,$mix-color-dark-1,$mix-color-dark-2 50%,$mix-color-dark-2;
$dialog-arrow-up-color:  $mix-color-dark-1;
$dialog-arrow-down-color:  $mix-color-dark-2;
$dialog-border-radius: rem(4);
$dialog-title-text-color: $light-color;

// Group

$group-background-color:  $light-color;
$group-border-color:  $mix-color-light-1;
$group-title-text-color:  $theme-color;
$group-border-radius: rem(4);

// List

$list-background-color: $light-color;
$list-title-text-color: $mix-color-dark-2;
$list-title-font-size: rem(17);
$list-subtitle-text-color:  $theme-color;
$list-subtitle-font-size: rem(14);
$list-border-color: $mix-color-light-1;
$list-active-background:  linear,lighten($theme-color,20%),$theme-color;
$list-active-text-color:  $light-color;
$list-border-radius:  rem(4);
$list-arrow-size: rem(3);
$list-arrow-thickness: rem(2);
$list-arrow-color: $mix-color-dark-2;
$list-active-arrow-color: $light-color;

// Form

$form-background-color:  $light-color;
$form-title-text-color:  $theme-color;
$form-label-text-color:  $mix-color-dark-2;
$form-border-color:  $mix-color-light-1;
$form-border-radius:  rem(4);

// Input

$input-text-color:  $mix-color-dark-2;
$input-border-radius: rem(4);
$input-border-color: $mix-color-light-1;
$input-invalid-border-color: red;

// Checkbox

$checkbox-size:  rem(30);
$checkbox-tick-color: $theme-color;
$checkbox-tick-size:  rem(14);
$checkbox-tick-width:  rem(4);
$checkbox-border-radius:  rem(1);
$checkbox-border-color:  $mix-color-dark-1;
$checkbox-background: linear,$mix-color-light-1,$light-color; 

// RadioButton

$radiobutton-size: rem(32);
$radiobutton-dot-color: $theme-color;
$radiobutton-background: linear,$mix-color-light-1,$light-color;
$radiobutton-border-color: $mix-color-dark-1;

// Tabbar

$tabbar-height:  rem(45);
$tabbar-divider-color:  $theme-color;
$tabbar-active-background:  linear,lighten($theme-color,20%),$theme-color;
$tabbar-active-border-color:  $theme-color;
$tabbar-inactive-background:  linear,$mix-color-medium,$mix-color-dark-1;
$tabbar-inactive-border-color:  $mix-color-medium;
$tabbar-active-text-color:  $light-color;
$tabbar-inactive-text-color:  $light-color;
$tabbar-border-radius:  rem(4);
$tabbar-button-distance:  rem(4);

// ToggleButton

$togglebutton-width:  rem(100);
$togglebutton-height:  rem(30);
$togglebutton-border-radius:  rem(4);
$togglebutton-border-color:  $mix-color-dark-1;
$togglebutton-text-color:  $mix-color-dark-2; 
$togglebutton-background:  linear,$mix-color-light-2,$light-color;
$togglebutton-active-background:  linear,$theme-color,lighten($theme-color,20%);
$togglebutton-knob-background:  linear,$light-color,$mix-color-light-1;
$togglebutton-knob-width: rem(30);
$togglebutton-active-text-color:  $light-color;
$togglebutton-inset-shadow:  rgba(0,0,0,0.1);
$togglebutton-knob-shadow:  rgba(0,0,0,0.4);
$togglebutton-font-size: rem(13);

// Carousel

$carousel-pagination-size: rem(8);
$carousel-pagination-background-color: $light-color;
$carousel-pagination-active-background-color: $theme-color;
$carousel-pagination-border-radius: $carousel-pagination-size;
$carousel-pagination-font-size: 1px;
$carousel-pagination-font-color: rgba(0,0,0,0);

// Button

$button-text-color:  $mix-color-dark-2;
$button-font-size: rem(15);
$button-active-text-color:  $light-color;
$button-border-radius:  rem(4);
$button-border-color:  $mix-color-dark-1;
$button-active-border-color:  $mix-color-dark-1;
$button-background:  linear,$light-color,$mix-color-light-1;
$button-active-background:  linear,lighten($theme-color,20%),$theme-color;

// SelectBox

$selectbox-border-radius: rem(4);
$selectbox-border-color:  $mix-color-dark-1; 
$selectbox-text-color:  $mix-color-dark-2;
$selectbox-background:  linear,$light-color,$mix-color-light-1;
$selectbox-active-background:  linear,lighten($theme-color,20%),$theme-color;
$selectbox-active-text-color:  $light-color;
$selectbox-item-selected-text-color:  $light-color;
$selectbox-item-selected-background-color:  $theme-color;

// Slider

$slider-height: rem(7);
$slider-background:  linear,$mix-color-light-1,$light-color;
$slider-active-area:  linear,lighten($theme-color,20%),$theme-color;
$slider-border-radius:  rem(20); 
$slider-border-color:  $mix-color-dark-1;
$slider-knob-border-radius: rem(4);
$slider-knob-width: rem(30);
$slider-knob-height: rem(30);
$slider-knob-background:  linear,$light-color,$mix-color-light-1;
$slider-knob-border-color:  $mix-color-dark-1;
$slider-shadow: rgba(0,0,0,0.4);
$slider-font-color:  $mix-color-dark-1;

// Toolbar  

$toolbar-text-color:  $mix-color-dark-2;
$toolbar-background:  linear,$light-color,$mix-color-medium;
$toolbar-active-background:  linear,lighten($theme-color,20%),$theme-color;
$toolbar-active-text-color:  $light-color;
$toolbar-border-color:  $mix-color-dark-1;
$toolbar-border-radius: rem(4);

// Menu

$menu-item-selected-text-color:  $light-color;
$menu-item-selected-background-color:  $theme-color;

// Picker 

$picker-spinning-wheel-overlay:  linear,rgba($mix-color-light-2,1),rgba($mix-color-light-2,0) 40%,rgba($mix-color-light-2,0) 60%,rgba($mix-color-light-2,1);
$picker-spinning-wheel-text-color:  $mix-color-dark-2; 
$picker-spinning-wheel-background-color:  $mix-color-light-2;
$picker-highlight-color:  rgba($theme-color,0.5);
$picker-highlight-border-width:  rem(2);
$picker-spinning-wheel-border-radius:  rem(4);
$picker-spinning-wheel-divider-color:  $mix-color-dark-1;
$picker-spinning-wheel-divider-width:  rem(2);
$picker-label-height: rem(25);
$picker-label-font-size: rem(16);
$picker-height: rem(160);

// Drawer

$drawer-border-color:  $mix-color-dark-2; 
$drawer-above-background-color:  $mix-color-light-2;
$drawer-below-background-color:  $mix-color-dark-1;

// Collapsible

$collapsible-border-radius:  rem(4);
$collapsible-header-border-color:  $mix-color-dark-1;
$collapsible-header-text-color:  $mix-color-dark-2;
$collapsible-header-active-text-color: $light-color;
$collapsible-header-background:  linear,$light-color,$mix-color-medium;
$collapsible-header-active-background:  linear,lighten($theme-color,20%),$theme-color;
$collapsible-header-padding:  rem(10);
$collapsible-header-content-distance:  rem(10);
$collapsible-content-border-color:  $mix-color-light-1;
$collapsible-content-padding:  rem(10);
$collapsible-content-background-color:  $light-color;
$collapsible-arrow-size:  rem(8);
$collapsible-arrow-color:  $mix-color-dark-2;
$collapsible-active-arrow-color:  $light-color;