//
// Application-specific theming template for qx.Mobile Applications
//
// Modify the values for customizing your theme 
// and run the qooxdoo generator job 'watch-scss' 

// Application

$application-font:  "Segoe UI", "Slate Pro", sans-serif, Helvetica;
$application-text-color:  black;

// Page

$navigationpage-background-color: #F4F4F4;
$navigationpage-border-color: #DDDDDD;

// NavigationBar

$navigationbar-background-color:  lighten(#323335, 10%);
$navigationbar-background-color-2:  darken($navigationbar-background-color, 20%);
$navigationbar-text-color:  white;
$navigationbar-height:  45px;

// NavigationBar Button
 
$navigationbarbutton-border-radius:  4px;
$navigationbarbutton-background-color:  lighten(#F4F4F4,10%);
$navigationbarbutton-background-color-2:  darken(#F4F4F4,20%);
$navigationbarbutton-border-color:  #888888;
$navigationbarbutton-text-color:  #333333;
$navigationbarbutton-active-background-color:  lighten(#3D72C9,20%);
$navigationbarbutton-active-background-color-2:  #3D72C9;
$navigationbarbutton-active-text-color:  white;
$navigationbarbutton-active-border-color:  white;
 
// Dialog

$dialog-border-color: #3D72C9; 
$dialog-background-color: #323335;
$dialog-border-radius: 4px;
$dialog-title-text-color: white;

// Group

$group-background-color:  white;
$group-border-color:  #DDDDDD;
$group-title-text-color:  #3D72C9;
$group-border-radius: 4px;

// List

$list-background-color: white;
$list-title-text-color: #333333;
$list-subtitle-text-color:  #3D72C9;
$list-border-color: #DDDDDD;
$list-active-background-color:  lighten(#3D72C9, 20%);
$list-active-background-color-2:  darken($list-active-background-color, 20%);
$list-active-text-color:  white;
$list-border-radius:  4px;
$list-arrow-size: 3px;
$list-arrow-thickness: 2px;
$list-arrow-color: gray;
$list-active-arrow-color: white;

// Form

$form-background-color:  white;
$form-title-text-color:  #3D72C9;
$form-label-text-color:  #333333;
$form-border-color:  #DDDDDD;
$form-border-radius:  4px;

// Input

$input-text-color:  #333333;
$input-border-radius: 4px;
$input-border-color: #DDDDDD;
$input-invalid-border-color: red;

// Checkbox

$checkbox-tick-color: #3D72C9;
$checkbox-border-radius:  0.1em;
$checkbox-border-color:  #888888;
$checkbox-background-color: darken(#F4F4F4, 20%); 
$checkbox-background-color-2: lighten($checkbox-background-color, 20%); 

// RadioButton

$radiobutton-dot-color: #3D72C9;
$radiobutton-background-color: darken(#F4F4F4, 20%);
$radiobutton-background-color-2: lighten($radiobutton-background-color, 20%);
$radiobutton-border-color: #888888;

// Tabbar

$tabbar-height:  45px;
$tabbar-active-background-color:  lighten(#3D72C9, 20%);
$tabbar-active-background-color-2:  darken($tabbar-active-background-color,  20%);
$tabbar-active-border-color:  lighten($tabbar-active-background-color-2, 20%);
$tabbar-inactive-background-color:  lighten(#808080, 5%);
$tabbar-inactive-background-color-2:  darken($tabbar-inactive-background-color, 15%);
$tabbar-inactive-border-color:  lighten($tabbar-inactive-background-color, 20%);
$tabbar-active-text-color:  white;
$tabbar-inactive-text-color:  white;
$tabbar-border-radius:  4px;
$tabbar-button-distance:  4px;

// ToggleButton

$togglebutton-width:  95px;
$togglebutton-height:  30px;
$togglebutton-border-radius:  4px;
$togglebutton-border-color:  #9e9e9e;
$togglebutton-text-color:  #666666; 
$togglebutton-background-color:  darken(white,10%);
$togglebutton-background-color-2:  white;
$togglebutton-active-background-color:  darken(#3D72C9,10%);
$togglebutton-active-background-color-2:  #3D72C9;
$togglebutton-knob-background-color:  #cfcfcf;
$togglebutton-knob-background-color-2:  #fdfdfd;
$togglebutton-knob-width:  30px;
$togglebutton-active-text-color:  white;
$togglebutton-inset-shadow:  rgba(0,0,0,0.1);
$togglebutton-knob-shadow:  rgba(0,0,0,0.4);

// Carousel

$carousel-pagination-background-color: white;
$carousel-pagination-active-background-color: #3D72C9;
$carousel-pagination-border-radius: 15px;

// Button

$button-text-color:  #333333;
$button-active-text-color:  white;
$button-border-radius:  4px;
$button-border-color:  #888888;
$button-active-border-color:  #888888;
$button-background-color:  lighten(#F4F4F4, 40%);
$button-background-color-2:  darken($button-background-color, 20%);
$button-active-background-color:  lighten(#3D72C9, 20%);
$button-active-background-color-2:  darken($button-active-background-color, 20%);

// SelectBox

$selectbox-border-radius: 4px;
$selectbox-border-color:  #9e9e9e; 
$selectbox-text-color:  #333333;
$selectbox-background-color:  lighten(#F4F4F4,20%);
$selectbox-background-color-2:  darken($selectbox-background-color,30%);
$selectbox-active-background-color:  lighten(#3D72C9, 20%);
$selectbox-active-background-color-2:  darken($selectbox-active-background-color, 30%);
$selectbox-active-text-color:  white;
$selectbox-item-selected-text-color:  white;
$selectbox-item-selected-background-color:  #3D72C9;

// Slider

$slider-height: 10px;
$slider-background-color:  darken(white,10%);
$slider-background-color-2:  white;
$slider-active-area-color:  lighten(#3D72C9,10%);
$slider-active-area-color-2:  #3D72C9;
$slider-border-radius:  20px; 
$slider-border-color:  #9e9e9e;
$slider-knob-border-radius: 4px;
$slider-knob-width: 30px;
$slider-knob-height: 30px;
$slider-knob-color:  #cfcfcf;
$slider-knob-color-2:  #fdfdfd;
$slider-knob-border-color:  #9e9e9e;
$slider-shadow: rgba(0,0,0,0.4);
$slider-font-size:  0.8em;
$slider-font-color:  #888;

// Toolbar  

$toolbar-text-color:  #333333;
$toolbar-background-color:  lighten(#F4F4F4, 10%);
$toolbar-background-color-2:  darken($toolbar-background-color, 20%);
$toolbar-active-background-color:  lighten(#3D72C9, 20%);
$toolbar-active-background-color-2:  darken($toolbar-active-background-color, 20%);
$toolbar-active-text-color:  white;
$toolbar-border-color:  #999;
$toolbar-border-radius: 4px;

// Menu

$menu-item-selected-text-color:  white;
$menu-item-selected-background-color:  #3D72C9;

// Picker 

$picker-spinning-wheel-overlay-color-1:  rgba(#F4F4F4, 1);
$picker-spinning-wheel-overlay-color-2: rgba(#F4F4F4, 0);
$picker-spinning-wheel-text-color:  #333333; 
$picker-spinning-wheel-background-color:  #F4F4F4;
$picker-highlight-color:  rgba(#3D72C9, 0.5);
$picker-highlight-border-width:  2px;
$picker-spinning-wheel-border-radius:  4px;
$picker-spinning-wheel-divider-color:  #888;
$picker-spinning-wheel-divider-width:  2px;
$picker-label-height: 25px;
$picker-height: 150px;

// Drawer

$drawer-border-color:  #45484d; 
$drawer-above-background-color:  #F4F4F4;
$drawer-below-background-color:  #808080;

// Collapsible

$collapsible-border-radius: 4px;
$collapsible-header-border-color: #888888;
$collapsible-header-text-color: #333333;
$collapsible-header-active-text-color: white;
$collapsible-header-background-color: lighten(#F4F4F4, 10%);
$collapsible-header-background-color-2: darken($collapsible-header-background-color, 20%);
$collapsible-header-active-background-color: lighten(#3D72C9, 10%);
$collapsible-header-active-background-color-2: darken($collapsible-header-active-background-color, 20%);
$collapsible-header-padding: 10px;
$collapsible-header-content-distance: 10px;
$collapsible-content-border-color: #DDDDDD;
$collapsible-content-padding: 10px;
$collapsible-content-background-color:  white;
$collapsible-arrow-size:  8px;
$collapsible-arrow-color:  #333333;
$collapsible-active-arrow-color: white;