//
// THEME SPECIFIC VARIABLES
//

$border-thickness: 1px;
$dialog-border-thickness: 2px;
$shadow-color: rgba(0,0,0,0.5);
 
body {
  background-color: $navigationpage-background-color;
}

//
// ROOT
//

.root, .scroll {
  background-color: $navigationpage-background-color;
  font-family: $application-font;
  color:  $application-text-color;
}

.form-title {
  color: $group-title-text-color;
  font-weight:normal;
  font-size:16px;
}

//
// ANIMATION
//

.animationChild {
  background-color: $navigationpage-background-color;
}

//
// GROUP
//

.group {
  margin:10px;
}

.bordered {
  @include border-radius($group-border-radius);

  border: $border-thickness solid $group-border-color;
  background-color:$group-background-color;
  padding:10px;
}

//
// SCROLL CONTAINER
//

$scShadowOffset:10px;
$scShadowColor:rgba(0,0,0,0.3);
$scShadowColorLight:rgba(0,0,0,0.2);
$scGradientVerticalOffset:15px;

.scroll-container {
  background-color:white;

  @include border-radius($input-border-radius);
  @include box-inset-multi-shadow(
        0px $scShadowOffset $scShadowOffset -1*$scShadowOffset $scShadowColorLight, 
        0px -1*$scShadowOffset $scShadowOffset -1*$scShadowOffset $scShadowColorLight
  );

  border: $border-thickness solid $navigationpage-border-color;
}

.scroll-container:before {
  @include border-radius-top($input-border-radius);
  @include box-inset-multi-shadow(
      0px $scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  position:absolute;
  top:0px;
  z-index:500;
  content:"";
  width:100%;
  height:0px;
}

.scroll-container.scrollable-top:before {
  height:30px;
}

.scroll-container:after {
  content:"";

  @include border-radius-bottom($input-border-radius);
  @include box-inset-multi-shadow(
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px -1*$scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor
  );
  
  position:absolute;
  bottom:0px;
  z-index:500;
  width:100%;
  height:0px;
}

.scroll-container.scrollable-bottom:after {
  height:30px;
}


//
// INPUT FIELDS
//

.text-field:not(.selectbox), .password-field, .number-field, .text-area {
  @include border-radius($input-border-radius);

  border: $border-thickness solid $input-border-color;
  color:  $input-text-color;
}

input.invalid {
  border: $border-thickness solid $input-invalid-border-color !important;
}

input, .text-area { 
  font-family: $application-font; 
}

.scroll-container .text-area {
  @include border-radius(0);
  border: 2px solid transparent;
  background: none;
}

//
// NAVIGATIONBAR
//

.navigationbar {
   @include gradient-vertical($navigationbar-background-color, $navigationbar-background-color-2);
   color: $navigationbar-text-color; 
   height: $navigationbar-height;
}

// 
// NAVIGATIONBAR BUTTON
//

.navigationbar-button, .navigationbar-backbutton {
  @include gradient-vertical($navigationbarbutton-background-color, $navigationbarbutton-background-color-2);
  @include border-radius($navigationbarbutton-border-radius);

  color: $navigationbarbutton-text-color;
  border: $border-thickness solid $navigationbarbutton-border-color;
}

.navigationbar-button.active, .navigationbar-backbutton.active {
  @include gradient-vertical($navigationbarbutton-active-background-color, $navigationbarbutton-active-background-color-2);
  color: $navigationbarbutton-active-text-color;
  border: $border-thickness solid $navigationbarbutton-active-border-color;
}

//
// LIST
//

.list {
  @include border-radius($list-border-radius);
  border: $border-thickness solid $list-border-color;
  background-color: $list-background-color;
}

.list .list-item {
  position:relative;
  color: $list-title-text-color;
}

.list-item + .list-item {
  border-top: $border-thickness solid $list-border-color;
}

.list-item:last-child, .list-item:last-child a {
  @include border-radius-bottom($list-border-radius);
}

.list .list-item .subtitle {
  color: $list-subtitle-text-color;
}

.list .list-item.active * {
  color: $list-active-text-color;
}

.list .list-item.arrow:after {
  content:"";
  @include transform(rotate(45deg));
  @include transform-origin(50% 50%);

  border-top: $list-arrow-thickness solid $list-arrow-color;
  border-right: $list-arrow-thickness solid $list-arrow-color;
  
  width: $list-arrow-size*2;
  height: $list-arrow-size*2;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1.5*($list-arrow-size);
}

.list .list-item.arrow.active:after {
  border-color: $list-active-arrow-color;
}

.list .list-item.active {
  @include gradient-vertical($list-active-background-color, $list-active-background-color-2);
}

.list-item:first-child, .list-item:first-child a {
  @include border-radius-top($list-border-radius);
}

.list-item:last-child, .list-item:last-child a {
  @include border-radius-bottom($list-border-radius);
}

//
// FORM RENDERING
//

.form-separation-row {
  background-color: $list-border-color;
  height: 1px; 
}

.form-row-group-title {
  color: $form-title-text-color;
  font-weight:normal;
  font-size:16px;

  margin-bottom:10px;
  border:none;
  padding-bottom:0px;
} 

.form-row-content, .form-element-error {
  background-color: $form-background-color;
  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
}

.form-row-group-first {
  @include border-radius-top($form-border-radius);

  background-color: $form-background-color;
  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
  border-top:1px solid $form-border-color;
  padding:2px;
  position:relative;
  top:2px;
}

.form-row-group-last {
  @include border-radius-bottom($form-border-radius);

  background-color: $form-background-color;
  border-top:0px transparent;
  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
  border-bottom:1px solid $form-border-color;
  padding:2px;
  position:relative;
  top:-2px;
}

.form-row-group-title:nth-child(n+2) {
  margin-top:20px;
}

.form-row-content .label {
  color: $form-label-text-color;
}

//
// BUTTON
//

.button {
  @include gradient-vertical($button-background-color,$button-background-color-2);
  @include border-radius($button-border-radius);

  color: $button-text-color;
  border: $border-thickness solid $button-border-color;
}

.button.active {
  @include gradient-vertical($button-active-background-color, $button-active-background-color-2);

  color:  $button-active-text-color;
  border: $border-thickness solid $button-active-border-color;
}

//
// DIALOG
//

$title-background-gradient-1:lighten($dialog-background-color, 15%);
$title-background-gradient-2:darken($dialog-background-color, 5%);

.dialog, .popup {
  // Fallback if no gradient could be set.
  background-color: $dialog-background-color;

  @include gradient-vertical-three($title-background-gradient-1, $title-background-gradient-2, $title-background-gradient-2, 20px);
  @include border-radius($dialog-border-radius);
  @include box-shadow(0px 2px 7px 0px $shadow-color);

  border: $dialog-border-thickness solid $dialog-border-color;
  color: $dialog-title-text-color; 
}


@mixin arrow {
  position:absolute;
  content:"";
}

$arrow-size: 12px;

// ARROW TOP

.anchor.top:before, .anchor.top.right:before
{
  @include arrow;
  @include triangle-up($arrow-size+2, $dialog-border-color);
}

.anchor.top:after, .anchor.top.right:after
{
  @include arrow;
  @include triangle-up($arrow-size, $title-background-gradient-1);
}

// ARROW BOTTOM

.anchor.bottom:before,.anchor.bottom.right:before
{
  @include arrow;
  @include triangle-down($arrow-size+2, $dialog-border-color);
}

.anchor.bottom:after,.anchor.bottom.right:after
{
  @include arrow;
  @include triangle-down($arrow-size, $title-background-gradient-2);
}

.dialogTitleUnderline:after {
  display: none;
}

//
// TAB BAR
//

.tabBar {
  border-bottom: 3px solid $tabbar-active-background-color-2;
  padding-top: $tabbar-button-distance;
  padding-left: $tabbar-button-distance;
  padding-right: $tabbar-button-distance;
}

.tabButton {
  @include gradient-vertical($tabbar-inactive-background-color, $tabbar-inactive-background-color-2);
  @include border-radius-top($tabbar-border-radius);

  color:  $tabbar-inactive-text-color;

  height:  $tabbar-height;
  line-height:  $tabbar-height;

  $tab-button-border: $border-thickness solid $tabbar-inactive-border-color;  
  border-top: $tab-button-border;
  border-left: $tab-button-border;
  border-right: $tab-button-border;
}

.tabButton + .tabButton {
  margin-left: $tabbar-button-distance;
}

.tabButton.active, .tabButton.selected {
  @include gradient-vertical($tabbar-active-background-color, $tabbar-active-background-color-2);

  border: $border-thickness solid $tabbar-active-border-color;
  border-bottom: 0px solid transparent;
}

//
// CHECKBOX
//

.checkbox {
  @include border-radius($checkbox-border-radius * 3);
  @include gradient-vertical($checkbox-background-color, $checkbox-background-color-2);

  position:relative;
  border:$border-thickness solid $checkbox-border-color;

  box-sizing:border-box;
}

.checkbox:after {
  @include transform(rotate(-45deg));
  @include box-shadow(-1px 1px 1px 0px rgba(0,0,0,0.3));

  display:inline-block;
  opacity: 0;
  content:"";
  width: 14px;
  height: 8px; 
  background: 
  transparent;
  border: 4.5px solid $checkbox-tick-color;
  margin-top: 6px;
  border-top: 0;
  border-right: 0;
}

.checkbox.checked:after {
  opacity: 1;
}

//
// RADIOBUTTON
//

// Border style
.radio {
  @include gradient-vertical($radiobutton-background-color,$radiobutton-background-color-2);
  border: $border-thickness solid $radiobutton-border-color;
  box-sizing:border-box;
}

// Color dot
.radio.checked:after {
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.3));
  background: $radiobutton-dot-color; 
}

// 
// MASTER DETAIL
// 

.master-detail-master {
  border-right: $border-thickness solid darken($navigationpage-border-color, 40%);
}

.master-detail.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px $shadow-color);
}

//
// SCROLLBAR
//

.scrollbarV > div {
  background-color: #888888;
}

//
// TOOLBAR
// 

.toolbar-button {
  @include gradient-vertical($toolbar-background-color,$toolbar-background-color-2);
  @include border-radius($toolbar-border-radius); 

  color: $toolbar-text-color;
  border: $border-thickness solid $toolbar-border-color;
}

.toolbar-button.active {
  @include gradient-vertical($toolbar-active-background-color,$toolbar-active-background-color-2); 
  
  color: $toolbar-active-text-color;
}

//
// MENU
//

.item-selected {
  @include gradient-vertical(lighten($menu-item-selected-background-color, 20%), $menu-item-selected-background-color);
  
  color: $menu-item-selected-text-color !important;
}

//
// SELECT BOX
//

.selectbox {
  @include border-radius($selectbox-border-radius); 
  @include gradient-vertical($selectbox-background-color, $selectbox-background-color-2);

  border: $border-thickness solid $selectbox-border-color;
  color: $selectbox-text-color;
}

.selectbox.active {
  @include gradient-vertical($selectbox-active-background-color,$selectbox-active-background-color-2);
  color: $selectbox-active-text-color;
}

// Tick
.selectbox-selected > div > .list-itemlabel:after {
  border: 0px solid transparent;
}

.selectbox-selected {
  @include gradient-vertical($list-active-background-color, $list-active-background-color-2);
  color: $selectbox-item-selected-text-color !important;
}

//
// CAROUSEL
//

$pagination-label-size:8px;

.carousel-pagination-label {
  @include border-radius($carousel-pagination-border-radius);

  border: 1px solid white;
  opacity:0.6;
  background-color: $carousel-pagination-background-color;

  width:$pagination-label-size;
  height:$pagination-label-size;
  text-align:center;
  line-height:$pagination-label-size;
  font-size:1px;
  color:rgba(0,0,0,0);
}

.carousel-pagination-label.active {
  background-color:$carousel-pagination-active-background-color;
  opacity:1.0;
}

.carousel-pagination {
  top: -($pagination-label-size+15px);
}

//
// DRAWER
//

.root.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px $shadow-color);
}

.drawer.below {
  background-color: $drawer-below-background-color;
}

.drawer.above {
  background-color: $drawer-above-background-color;
}

.drawer:not(.master-detail-master):not(.hidden) {
  @include box-shadow(0px 0px 10px 5px $shadow-color);
}

.drawer.top:not(.master-detail-master) {
  border-bottom:1px solid $drawer-border-color;
}

.drawer.left:not(.master-detail-master) {
  border-right:1px solid $drawer-border-color;
}

.drawer.right:not(.master-detail-master) {
  border-left:1px solid $drawer-border-color;
}

.drawer.bottom:not(.master-detail-master) {
  border-top:1px solid $drawer-border-color;
}

.drawer.below.left:before, .drawer.below.right:before, .drawer.below.top:before, .drawer.below.bottom:before {
  @include box-inset-shadow(0px 0px 10px 5px $shadow-color);

  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:500;
  pointer-events:none;
}