//
// THEME SPECIFIC VARIABLES
//

$border-thickness: 1px;
$dialog-border-thickness:2px;
$shadow-color: rgba(0,0,0,0.5);
 
body {
  background-color: $navigationpage-background-color;
}

//
// ROOT
//

.root, .scroll {
  background-color: $navigationpage-background-color;
  font-family: $application-font;
  color:  $application-text-color;
}

.form-title {
  color: $group-title-text-color;
  font-weight:normal;
  font-size:16px;
}

//
// ANIMATION
//

.animationChild {
  background-color: $navigationpage-background-color;
}

//
// GROUP
//

.group {
  margin:10px;
}

.bordered {
  border: $border-thickness solid $group-border-color;
  background-color:$group-background-color;
  @include border-radius($group-border-radius);
  padding:10px;
}

//
// SCROLL CONTAINER
//

$scShadowOffset:10px;
$scShadowColor:rgba(0,0,0,0.3);
$scShadowColorLight:rgba(0,0,0,0.2);
$scGradientVerticalOffset:15px;

.scroll-container {
  border: $border-thickness solid $navigationpage-border-color;
  background-color:white;

  @include border-radius($input-border-radius);

  @include box-inset-multi-shadow(
        0px $scShadowOffset $scShadowOffset -1*$scShadowOffset $scShadowColorLight, 
        0px -1*$scShadowOffset $scShadowOffset -1*$scShadowOffset $scShadowColorLight
  );
}

.scroll-container:before {
  @include border-radius-top($input-border-radius);
  position:absolute;
  top:0px;
  z-index:500;

  @include box-inset-multi-shadow(
      0px $scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  content:"";
  width:100%;
  height:0px;
}

.scroll-container.scrollable-top:before {
  height:30px;
}

.scroll-container:after {
  @include border-radius-bottom($input-border-radius);
  position:absolute;
  bottom:0px;
  z-index:500;

  @include box-inset-multi-shadow(
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px -1*$scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  content:"";
  width:100%;
  height:0px;
}

.scroll-container.scrollable-bottom:after {
  height:30px;
}


//
// INPUT FIELDS
//

.text-field:not(.selectbox), .password-field, .number-field, .text-area {
  border: $border-thickness solid $input-border-color;
  color:  $input-text-color;
  @include border-radius($input-border-radius);
}

input.invalid {
  border: $border-thickness solid $input-invalid-border-color !important;
}

input, .text-area { 
  font-family: $application-font; 
}

.scroll-container .text-area {
  @include border-radius(0);
  border:2px solid transparent;
  background:none;
}

//
// NAVIGATIONBAR
//

.navigationbar {
   @include gradient-vertical(lighten($navigationbar-background-color, 10%), darken($navigationbar-background-color, 10%));
   color: $navigationbar-text-color; 
   height: $navigationbar-height;
}

// 
// NAVIGATIONBAR BUTTON
//

.navigationbar-button, .navigationbar-backbutton {
  color: $navigationbarbutton-text-color;

  @include gradient-vertical(lighten($navigationbarbutton-background-color, 10%), darken($navigationbarbutton-background-color, 10%));
  border: $border-thickness solid $navigationbarbutton-border-color;

  @include border-radius($navigationbarbutton-border-radius);
}

.navigationbar-button.active, .navigationbar-backbutton.active {
  color: $navigationbarbutton-active-text-color;
  @include gradient-vertical(lighten($navigationbarbutton-active-background-color, 20%), $navigationbarbutton-active-background-color);
  border: $border-thickness solid $navigationbarbutton-active-border-color;
}

//
// LIST
//

.list {
  @include border-radius($list-border-radius);
  border: $border-thickness solid $list-border-color;
  background-color: $list-background-color;
}

.list .list-item {
  position:relative;
  color: $list-title-text-color;
}

.list-item + .list-item {
  border-top: $border-thickness solid $list-border-color;
}

.list-item:last-child, .list-item:last-child a {
  @include border-radius-bottom($list-border-radius);
}

.list .list-item .subtitle {
  color: $list-subtitle-text-color;
}

.list .list-item.active * {
  color: $list-active-text-color;
}

.list .list-item.arrow:after {
  content:"";
  @include transform(rotate(45deg));
  @include transform-origin(50% 50%);

  border-top: $list-arrow-size solid $list-arrow-color;
  border-right: $list-arrow-size solid $list-arrow-color;
  
  width: $list-arrow-size*2;
  height: $list-arrow-size*2;
  position: absolute;
  right:15px;
  top: 50%;
  margin-top: -1.5*($list-arrow-size);
}

.list .list-item.arrow.active:after {
  border-color: $list-active-arrow-color;
}

.list .list-item.active {
  @include gradient-vertical(lighten($list-active-background-color, 20%), $list-active-background-color);
}

.list-item:first-child, .list-item:first-child a {
  @include border-radius-top($list-border-radius);
}

.list-item:last-child, .list-item:last-child a {
  @include border-radius-bottom($list-border-radius);
}

//
// FORM RENDERING
//

.form-separation-row {
  background-color: $list-border-color;
  height: 1px; 
}

.form-row-group-title {
  color: $form-title-text-color;
  font-weight:normal;
  font-size:16px;

  margin-bottom:10px;
  border:none;
  padding-bottom:0px;
} 

.form-row-content, .form-element-error {
  background-color: $form-background-color;
  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
}

.form-row-group-first {
  background-color: $form-background-color;

  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
  border-top:1px solid $form-border-color;

  @include border-radius-top($form-border-radius);

  padding:2px;
  position:relative;
  top:2px;
}

.form-row-group-last {
  background-color: $form-background-color;
  border-top:0px transparent;
  border-left:1px solid $form-border-color;
  border-right:1px solid $form-border-color;
  border-bottom:1px solid $form-border-color;

  @include border-radius-bottom($form-border-radius);

  padding:2px;
  position:relative;
  top:-2px;
}

.form-row-group-title:nth-child(n+2) {
  margin-top:20px;
}

//
// BUTTON
//

.button {
  color: $button-text-color;

  @include gradient-vertical(lighten($button-background-color, 10%), darken($button-background-color, 10%));

  @include border-radius($button-border-radius);

  border: $border-thickness solid $button-border-color;
}

.button.active {
  color:  $button-active-text-color;

  @include gradient-vertical(lighten($button-active-background-color, 20%), $button-active-background-color);

  border: $border-thickness solid $button-active-border-color;
}

//
// DIALOG
//

$title-background-gradient-1:lighten($dialog-background-color, 15%);
$title-background-gradient-2:darken($dialog-background-color, 5%);

.dialog, .popup {
  // Fallback if no gradient could be set.
  background-color:$dialog-background-color;

  @include gradient-vertical-three($title-background-gradient-1, $title-background-gradient-2, $title-background-gradient-2, 20px);
  border: $dialog-border-thickness solid $dialog-border-color;

  @include border-radius($dialog-border-radius);
  @include box-shadow(0px 2px 7px 0px $shadow-color);

  color: $dialog-title-text-color; 
}


@mixin arrow {
  position:absolute;
  content:"";
}

$arrow-size: 12px;

// ARROW TOP

.popupAnchorPointerTop:before, .popupAnchorPointerTopRight:before
{
  @include arrow;
  @include triangle-up($arrow-size+2, $dialog-border-color);
}

.popupAnchorPointerTop:after, .popupAnchorPointerTopRight:after
{
  @include arrow;
  @include triangle-up($arrow-size, $title-background-gradient-1);
}

// ARROW BOTTOM

.popupAnchorPointerBottom:before,.popupAnchorPointerBottomRight:before
{
  @include arrow;
  @include triangle-down($arrow-size+2, $dialog-border-color);
}

.popupAnchorPointerBottom:after,.popupAnchorPointerBottomRight:after
{
  @include arrow;
  @include triangle-down($arrow-size, $title-background-gradient-2);
}

// ARROW LEFT

.popupAnchorPointerLeft:before
{
  @include arrow;
  @include triangle-left($arrow-size+2, $dialog-border-color);
}

.popupAnchorPointerLeft:after
{
  @include arrow;
  @include triangle-left($arrow-size, $title-background-gradient-2);
}

// ARROW RIGHT

.popupAnchorPointerRight:before
{
  @include arrow;
  @include triangle-right($arrow-size+2, $dialog-border-color);
}

.popupAnchorPointerRight:after
{
  @include arrow;
  @include triangle-right($arrow-size, $title-background-gradient-2);
}

.dialogTitleUnderline:after {
  display: none;
}

//
// TAB BAR
//

.tabBar {
  border-bottom: 3px solid $tabbar-active-background-color;
}

.tabButton {
  color:  $tabbar-inactive-text-color;
  
  @include gradient-vertical(lighten($tabbar-inactive-background-color,5%), darken($tabbar-inactive-background-color,15%));

  $tab-button-border: $border-thickness solid lighten($tabbar-inactive-background-color, 10%);  
  border-top: $tab-button-border;
  border-left: $tab-button-border;
  border-right: $tab-button-border;

  @include border-radius-top($tabbar-border-radius);
}

.tabButton.active, .tabButton.selected {
  border: $border-thickness solid $tabbar-active-background-color;
 
  $tab-stop-1: lighten($tabbar-active-background-color, 20%);
  $tab-stop-2: lighten($tabbar-active-background-color, 5%);
  $tab-stop-3: $tabbar-active-background-color;
  
  @include gradient-vertical-five($tab-stop-1, $tab-stop-2, $tab-stop-2, $tab-stop-3, $tab-stop-3, 4%, 49%, 53%);
}

//
// SLIDER
//


.slider {
  @include border-radius($slider-border-radius);
  @include box-inset-multi-shadow(0 2px 2px rgba(0,0,0,0.4), 0 8px 1px rgba(0,0,0,0.1));

  background-color: $slider-background-color;
  border: $border-thickness solid $slider-border-color;
}

.slider > div {
  $color-stop-active-1: lighten($slider-active-area-color, 20%);
  $color-stop-active-2: $slider-active-area-color;
  @include gradient-vertical($color-stop-active-1, $color-stop-active-2);
}

.slider > div:after {
  @include border-radius($slider-knob-border-radius);
  @include box-shadow(0 0 2px $shadow-color);
  @include gradient-vertical(#cfcfcf, #fdfdfd);
  
  border: $border-thickness solid $slider-border-color;

}

//
// TOGGLEBUTTON
//

.toggleButton {
  background-color: $togglebutton-background-color;

  // Light inset border.
  @include box-inset-multi-shadow(0 2px 2px rgba(0,0,0,0.4), 0 14px 1px rgba(0,0,0,0.1));
  border: $border-thickness solid #9e9e9e;

  @include border-radius($togglebutton-border-radius);
}

.toggleButton.checked {
  @include box-inset-multi-shadow(0px 3px 2px rgba(0,0,0,0.4), 0px 14px 0px rgba(0,0,0,0.1));
  background-color:$togglebutton-active-background-color;
}

.toggleButton.checked .toggleButtonSwitch {
  @include box-shadow(-1px 0px 2px rgba(0,0,0,0.7));
}

.toggleButton.checked:before {
  color: $togglebutton-active-text-color;
}

.toggleButton:not(.checked):before  {
  color: $togglebutton-text-color;
}

.toggleButtonSwitch {
  @include border-radius($togglebutton-border-radius);
  
  border: $border-thickness solid #E8E8E8;

  @include box-shadow(1px 0 2px rgba(0,0,0,0.7));

  background: #cfcfcf;
  @include gradient-vertical (#cfcfcf, #fdfdfd);
}

//
// CHECKBOX
//

.checkbox {
  position:relative;
  border:$border-thickness solid $checkbox-border-color;

  box-sizing:border-box;
  background-color: #929292;
  
  @include border-radius($checkbox-border-radius * 3);
  @include gradient-vertical($checkbox-background-color, $checkbox-background-color-2);
}

.checkbox:after {
  display:inline-block;
  opacity: 0;
  content:"";
  width: 14px;
  height: 8px; 
  background: 
  transparent;
  border: 4.5px solid $checkbox-tick-color;
  margin-top: 6px;
  border-top: 0;
  border-right: 0;

  @include transform(rotate(-45deg));
  @include box-shadow(-1px 1px 1px 0px rgba(0,0,0,0.3));
}

.checkbox.checked:after {
  opacity: 1;
}

//
// RADIOBUTTON
//

// Border style
.radio {
  @include gradient-vertical($radiobutton-background-color,$radiobutton-background-color-2);
  border: $border-thickness solid $radiobutton-border-color;
  box-sizing:border-box;
}

// Color dot
.radio.checked:after {
  background: $radiobutton-dot-color; 
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.3));
}

// 
// MASTER DETAIL
// 

.master-detail-master {
  border-right: $border-thickness solid darken($navigationpage-border-color, 40%);
}

.master-detail.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px $shadow-color);
}

//
// SCROLLBAR
//

.scrollbarV > div {
  background-color: #888888;
}

//
// TOOLBAR
// 

.toolbar-button {
  color: $toolbar-text-color;
 
  @include gradient-vertical(lighten($toolbar-background-color, 10%), darken($toolbar-background-color, 10%));
  border: $border-thickness solid $toolbar-border-color;

  @include border-radius($toolbar-border-radius); 
}

.toolbar-button.active {
  color: $toolbar-active-text-color;
  @include gradient-vertical(lighten($toolbar-active-background-color, 20%),$toolbar-active-background-color); 
}

//
// MENU
//

.item-selected {
  color: $menu-item-selected-text-color !important;
  @include gradient-vertical(lighten($menu-item-selected-background-color, 20%), $menu-item-selected-background-color);
}

//
// SELECT BOX
//

.selectbox {
  @include border-radius($selectbox-border-radius); 
  @include gradient-vertical(lighten($selectbox-background-color, 20%), darken($selectbox-background-color, 20%));
  border: $border-thickness solid $selectbox-border-color;
  color: $selectbox-text-color;
}

.selectbox:active {
  @include gradient-vertical(lighten($selectbox-active-background-color, 20%),$selectbox-active-background-color);
  color: $selectbox-active-text-color;
}

// Tick
.selectbox-selected > div > .list-itemlabel:after {
  border: 0px solid transparent;
}

.selectbox-selected {
  @include gradient-vertical(lighten($list-active-background-color, 20%), $list-active-background-color);
  color: $selectbox-item-selected-text-color !important;
}

//
// CAROUSEL
//

$pagination-label-size:8px;

.carousel-pagination-label {
  border: 1px solid white;
  opacity:0.6;
  background-color: $carousel-pagination-background-color;

  width:$pagination-label-size;
  height:$pagination-label-size;
  text-align:center;
  line-height:$pagination-label-size;
  @include border-radius($carousel-pagination-border-radius);

  font-size:1px;
  color:rgba(0,0,0,0);
}

.carousel-pagination-label.active {
  background-color:$carousel-pagination-active-background-color;
  opacity:1.0;
}

.carousel-pagination {
  top: -($pagination-label-size+15px);
}

//
// PICKER
//

.picker-container {
  background-color: $picker-spinning-wheel-background-color;
  @include border-radius($picker-spinning-wheel-border-radius);
}

.picker-slot {
  @include border-radius($picker-spinning-wheel-border-radius);
}

.picker-label {
  color:  $picker-spinning-wheel-text-color;
}

.picker-slot:after {
  background-color: $picker-spinning-wheel-divider-color;
}

// Spinning Wheel Overlay Gradient
.picker-container:after {
  @include border-radius($picker-spinning-wheel-border-radius);
  @include gradient-vertical-four($picker-spinning-wheel-overlay-color-1,$picker-spinning-wheel-overlay-color-2,$picker-spinning-wheel-overlay-color-2,$picker-spinning-wheel-overlay-color-1,40%,60%);
}

// Selected Area Overlay
.picker-container:before {
  top: 35px;
  height: 23px; 

  border-top: 2px solid $picker-highlight-color;
  border-bottom: 2px solid $picker-highlight-color;
}

//
// DRAWER
//

.root.portrait .master-detail-master:not(.hidden) {
  @include box-shadow(0px 0px 10px 5px $shadow-color);
}

.drawer.below {
  background-color: $drawer-below-background-color;
}

.drawer.above {
  background-color: $drawer-above-background-color;
}

.drawer:not(.master-detail-master):not(.hidden) {
   @include box-shadow(0px 0px 10px 5px $shadow-color);
}

.drawer.top:not(.master-detail-master) {
  border-bottom:1px solid $drawer-border-color;
}

.drawer.left:not(.master-detail-master) {
  border-right:1px solid $drawer-border-color;
}

.drawer.right:not(.master-detail-master) {
  border-left:1px solid $drawer-border-color;
}

.drawer.bottom:not(.master-detail-master) {
  border-top:1px solid $drawer-border-color;
}

.drawer.below.left:before, .drawer.below.right:before, .drawer.below.top:before, .drawer.below.bottom:before {
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:500;

  pointer-events:none;
  
  @include box-inset-shadow(0px 0px 10px 5px $shadow-color);
}