//
// CHECKBOX
//

$checkbox-size:32px;


.checkbox {
  display:inline-block;
  cursor:pointer;
  width:$checkbox-size;
  height:$checkbox-size;
  text-align:center;
}

.root.android.v2 .checkbox {
  @include transform(scale(1));
} 
