.drawer {
  position:absolute;
}

.drawer.front {
  z-index:100;
  @include transition(all .5s ease-in-out );
}


.drawer.back {
  z-index:-1;
}

.drawer-parent {
  @include transition(all .5s ease-in-out );
}

.drawer.left {
  left:0;
  top:0;
  height:100%;
}

.drawer.right {
  right:0;
  top:0;
  height:100%;
}

.drawer.top {
  width:100%;
  left:0;
  top:0;
}

.drawer.bottom {
  width:100%;
  left:0;
  bottom:0;
}

.drawer.left.front.hidden {
  @include transform(translateX(-100%));
}

.drawer.right.front.hidden {
  @include transform(translateX(100%));
}

.drawer.top.front.hidden {
  @include transform(translateY(-100%));
}

.drawer.bottom.front.hidden {
  @include transform(translateY(100%));
}

.root.drawer-parent {
  overflow:visible !important;
}

.drawer-parent.blocked:not(.root) > *:first-child > * {
  pointer-events:none;
}


