.drawer {
  position:absolute;
}

.drawer.above {
  z-index: 1;
}

.drawer.below {
  z-index:-1;
}

.drawer.left {
  left:0;
  top:0;
  height:100%;
}

.drawer.right {
  right:0;
  top:0;
  height:100%;
}

.drawer.top {
  width:100%;
  left:0;
  top:0;
}

.drawer.bottom {
  width:100%;
  left:0;
  bottom:0;
}

.drawer.left.above.hidden {
  @include transform(translateX(-100%));
}

.drawer.right.above.hidden {
  @include transform(translateX(100%));
}

.drawer.top.above.hidden {
  @include transform(translateY(-100%));
}

.drawer.bottom.above.hidden {
  @include transform(translateY(100%));
}

.root.drawer-parent {
  overflow:visible !important;
}

.drawer-parent.blocked:not(.root) > *:first-child > * {
  pointer-events:none;
}

.animationChild .drawer {
  display:none;
}