//
// FORM 
//

.form {
  @include background-clip(padding-box);

  margin-bottom: 10px;
  background-color:transparent;
  border:none;

  font: bold 17px $application-font;
  padding: 0;
  cursor:pointer;
}

.form-row {
  list-style-type: none;
  padding: 10px 25px 10px 10px;
}

.form .form-row.form-separation-row:last-child {
  background-color:transparent;
  margin-bottom:0px;
}

.form .list .form-row.error {
  border: 2px solid red;
}

.form .form-row.error + .form-row.error {
  border-top: 0;
}

.form .form-row * {
  white-space: normal;
  text-overflow: ellipsis;
}

.form .text-field, .form .number-field, .form .password-field {
  display:block;
  width:50%;
}

.text-field:not(.selectbox),.number-field, .password-field {
  @include border-radius(.4em);
  @include background-clip(padding-box);
  text-indent:4px;
  height:1.7em;
}

input, select {
  vertical-align: middle;
}

input, select, .text-area {
  font-size: 0.9em;
}

.text-field {
  @include box-sizing(border-box);
}

.text-field, .password-field, .number-field, .text-area {
  @include appearance(textarea);
  width: 100%;
  outline: none;
}

.text-field.invalid, .password-field.invalid, .text-area.invalid {
  border: 1px solid red;
}

.text-area {
  resize: none;
  padding-top:4px;

  @include border-radius(none);
  @include background-clip(padding-box);

  text-indent:4px; 
  height:1.7em;
  overflow:hidden;
}

//
// RENDERING
//

.form-row-group-first, .form-row-group-last {
  height: 0px;
}

.form-element-error {
  color: red;
  text-align:right;
  border-top:0;
  padding: 0px 10px 10px 10px;
}

.form-separation-row {
  padding:0px;
}

.form-row-content {
  border-top:0;
  padding: 10px 10px 10px 10px;
}

.form-row-content + .form-row-content {
  padding-top:0px;
}

// If one row is excluded: hide its separationRow
.form-row-content.exclude + .form-separation-row {
  border-top: 0;
}

.form-row label {
  padding-right: 10px;
}

