//
// LIST
//

.list {
  @include background-clip(padding-box);
  padding: 0;
  font: bold 17px $application-font;
  cursor:pointer;
}

.list .list-item {
  list-style-type: none;
  padding: 10px 25px 10px 10px;
}

.list .list-item .subtitle {
  font-weight: normal;
  font-size: 0.8em;
}

.list img[src] {
  display: block;
}