html {
  font-size: $application-font-size;
}

.root {
  font-weight: normal;
  background-color: $navigationpage-background-color;
}

.page {
  /* Disable touch behaviors, like pan and zoom for IE10*/
  -ms-touch-action: none; 
}

.content:not(.group) .form-title {
  text-indent:pxToEm(15);
}

.root, .scroll {
  background-color: $navigationpage-background-color;
  font-family: $application-font;
  color:  $application-text-color;
}

.group {
   margin:pxToEm(10);
}

.group.bordered {
  @include border-radius($group-border-radius);

  border: pxToEm(1) solid $group-border-color;
  background-color:$group-background-color;
  padding:pxToEm(10);
}

//
// ANIMATION
//

.animationChild {
  background-color: $navigationpage-background-color;
}