//
// NAVIGATIONBAR 
//

.navigationbar {
  @include backface-visibility(hidden);
  @include background($navigationbar-background);

  height: $navigationbar-height;
  color: $navigationbar-text-color; 

  padding-left: pxToEm(16);
  padding-right: pxToEm(16);
  position: relative;

  -ms-touch-action: pan-x;
}

.title {
  font-weight: bold;
  font-size: $navigationbar-text-size;
  text-align: center;
}

.navigationbar > .label {
  height:  $navigationbar-height;
  line-height:  $navigationbar-height;
}

.navigationbar-button, .navigationbar-backbutton {
  @include background($navigationbarbutton-background);
  @include border-radius($navigationbarbutton-border-radius);
  @include background-clip(padding-box);
  @include box-sizing(border-box);

  display:block;

  color: $navigationbarbutton-text-color;
  border: pxToEm(1) solid $navigationbarbutton-border-color;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  font-weight:bold;
  font-size: pxToEm(12);

  padding-left: pxToEm(5);
  padding-right: pxToEm(5);

  height: $navigationbar-height - $navigationbar-padding * 2;
  margin: $navigationbar-padding;

  min-width: pxToEm(50);
}

.navigationbar-button > div, .navigationbar-backbutton > div {
  height: 100%;
  line-height: 100%;
}

.navigationbar-button.active, .navigationbar-backbutton.active {
  @include background($navigationbarbutton-active-background);
  color: $navigationbarbutton-active-text-color;
  border: pxToEm(1) solid $navigationbarbutton-active-border-color;
}

