//
// Picker
// 

.picker {
  @extend .popup;
}

.picker-slot {
  @include transition(all ease-in-out);

  position:relative;
  top: -($picker-height/2);

  padding-top: $picker-height;
  padding-bottom:  $picker-height;
}

.picker-slot * {
  -webkit-backface-visibility:hidden;
}

.picker-label {
  color:  $picker-spinning-wheel-text-color;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
  height: $picker-label-height;
  line-height: $picker-label-height;
  position: relative;
  top: -$picker-label-height/2;
}

.picker-container {
  @include border-radius($picker-spinning-wheel-border-radius);
  background-color: $picker-spinning-wheel-background-color;
  overflow:hidden;
  position:relative;
  height: $picker-height;
}

// Spinning Wheel Overlay Gradient
.picker-container:after {
  pointer-events:none;

  content:"";
  
  width:100%;
  height:100%;
  z-index:1000;
  position:absolute;
  top:0px;
  left:0px;

  @include border-radius($picker-spinning-wheel-border-radius);
  @include gradient-vertical-four(
              $picker-spinning-wheel-overlay-color-1,
              $picker-spinning-wheel-overlay-color-2,
              $picker-spinning-wheel-overlay-color-2,
              $picker-spinning-wheel-overlay-color-1,
              40%,
              60%
           );

  background-size: 100% $picker-height;
}

// Divider
.picker-slot:not(:last-child) {
  border-right:  $picker-spinning-wheel-divider-width solid $picker-spinning-wheel-divider-color;
}

// Selected Area Overlay 
.picker-container:before {
  pointer-events:none;

  content:"";
  
  position:absolute;
  width:100%;
  z-index:1001;

  top: 50%;
  left: 0px;

  height: $picker-label-height; 
  margin-top: -($picker-label-height/2)-($picker-highlight-border-width);

  border-top:  $picker-highlight-border-width solid $picker-highlight-color;
  border-bottom:  $picker-highlight-border-width solid $picker-highlight-color;
}