//
// POPUP
//

.popup {
  @include border-radius(.5em);
  position: absolute;
  width: auto;
  padding: 6px;
  max-width: 90%;
  z-index: 101;
  clear: both;

  -ms-touch-action: none;
}

.popup-title {
  font-weight: 800;
  font-size: 16px;
  margin: 0 0 3px 0;
} 

$arrow-size: 12px;
$arrow-space: 2;
$arrow-position-offset:15px;

.anchor.top.left:before {
  top:-($arrow-size + 3);
  left: $arrow-position-offset;
}

.anchor.top.left:after {
  top:-($arrow-size);
  left: $arrow-position-offset + 2;
}

.anchor.bottom.left:before {
  bottom:-($arrow-size + 3);
  left: $arrow-position-offset;
}

.anchor.bottom.left:after {
  bottom: -($arrow-size);
  left: $arrow-position-offset + 2;
}

.anchor.top.right:before {
  right: $arrow-position-offset;
  top:-($arrow-size + 3);
}

.anchor.top.right:after {
  right: $arrow-position-offset + 2;
  top:-($arrow-size);
}

.anchor.bottom.right:before {
  bottom:-($arrow-size + 3);
  right: $arrow-position-offset;
}

.anchor.bottom.right:after {
  bottom: -($arrow-size);
  right: $arrow-position-offset + 2;
} 


.popup-content {
  height : 100%;
}
