// Background
.radio {
  display:inline-block;
  content:"";
  width: 30px;
  height: 30px; 

  position: relative;

  z-index:10;

  margin: 2px auto;

  @include border-radius(50px);
  text-align:center;
}

// Color dot
.radio:after {
  display:inline-block;
  opacity: 0;
  content:"";;

  z-index:11;

  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;

  @include border-radius(50px);
}

.radio.checked:after {
  opacity: 1;
}