// Background
.radio {
  @include background($radiobutton-background);
  @include border-radius($radiobutton-size);
  
  display:inline-block;
  content: "";

  width: $radiobutton-size;
  height: $radiobutton-size; 
  border: pxToEm(1) solid $radiobutton-border-color;

  text-align: center;
  position: relative;

  z-index: 10;

  margin: pxToEm(2) auto;

  box-sizing: border-box;
}

// Color dot
.radio:after {
  @include border-radius($radiobutton-size);
  @include box-shadow(pxToEm(1) pxToEm(1)  pxToEm(1) 0 rgba(0,0,0,0.3));

  position: absolute;
  display: block;

  opacity: 0;
  content: "";

  z-index: 11;

  width: $radiobutton-size/2;
  height: $radiobutton-size/2;

  top: 50%;
  left: 50%;
  margin-top: -1*$radiobutton-size/4;
  margin-left: -1*$radiobutton-size/4;

  background: $radiobutton-dot-color; 
}

.radio.checked:after {
  opacity: 1;
}