//
// SCROLLBAR 
//

.scrollbarV > div {
  @include background-clip(padding-box);
  @include box-sizing(border-box);
  @include border-radius(4px);
  
  position: absolute;
  z-index: 100;
  width: 100%;
}

.scrollbarV {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 7px;
  width: 6px;
  z-index: 100;
}
