//
// SLIDER
//

.ios .slider {
  // iOS6 flickering bug fix
  -webkit-backface-visibility: hidden;
}

.slider {
  position: relative;
  top:6px;
  overflow: visible;
  margin-bottom:12px;

  @include border-radius(.6em);
  height: 15px;
}

// Progress Indicator
.slider > div {
  @include border-radius(.6em);

  height: 100%;
  pointer-events:none;
  position:relative;
}

// Knob
.slider > div:after { 
  content: "";
  display: block;

  position: absolute;
  background-color:#fff;

  $size:25px;
  height:$size;
  width:$size;

  top: -6px;
  right: -1*$size/2;

  @include border-radius($size*2);
}
