//
// SLIDER
//

.ios .slider {
  // iOS6 flickering bug fix
  -webkit-backface-visibility: hidden;
}

.slider {
  @include border-radius($slider-border-radius);
  @include gradient-vertical($slider-background-color, $slider-background-color-2);
  
  position: relative;
  top: ($slider-knob-height/2);
  overflow: visible;
  margin-bottom: $slider-knob-height;
  margin-left: ($slider-knob-width/2); 
  margin-right: ($slider-knob-width/2);

  height: $slider-height;

  border: 1px solid $slider-border-color;
}

// Extended touch area
.slider:before {
  content: "";
  height: ($slider-knob-height);
  position: absolute;
  top: -($slider-knob-height/2) + ($slider-height/2);
  left:  -($slider-knob-width/2);
  padding-right:  ($slider-knob-width);
  display: block;
  width: 100%;
}

// Progress Indicator
.slider > div {
  @include border-radius($slider-border-radius);
  @include gradient-vertical($slider-active-area-color, $slider-active-area-color-2);

  height: 100%;
  pointer-events: none;
  position: relative;
}

// Knob
.slider > div:after { 
  @include border-radius($slider-knob-border-radius);
  @include box-shadow(0px 0px 3px $slider-shadow);
  @include gradient-vertical($slider-knob-color, $slider-knob-color-2);
  
  position: absolute;
  display: block;
  text-align: center;
  content: "";

  border: 1px solid $slider-knob-border-color;

  height: $slider-knob-height;
  line-height:  $slider-knob-height;
  width: $slider-knob-width;

  font-weight: normal;
  font-size:  $slider-font-size;
  color: $slider-font-color;
  overflow: hidden;
  text-overflow: ellipsis;

  top: -($slider-knob-height/2) + ($slider-height/2) - 1;
  right: -1*$slider-knob-width/2;
}

.slider.percent > div:after {
   content: ""attr(data-percent);
}

.slider.value > div:after {
   content: ""attr(data-value);
}
