//
// TOOLBAR
//

.toolbar-button {
  @extend .button;
  @extend .hbox;
  @include background-clip(padding-box);
  @include background($toolbar-background);
  @include border-radius($toolbar-border-radius); 

  color: $toolbar-text-color;
  border: pxToEm(1) solid $toolbar-border-color;

  cursor: pointer;
  font-weight: bold;
  
  width:0;

  padding-left: pxToEm(4);
  padding-right: pxToEm(4);
  
  overflow: hidden;
  
  line-height:normal;

  height: 100%;
}

.toolbar-button.active {
  @include background($toolbar-active-background); 
  color: $toolbar-active-text-color;
}

.toolbar-separator {
  width: pxToEm(4);
}

.toolbar {
  @include box-align(stretch);
  
  z-index: 1;
  padding: pxToEm(2);
  height: pxToEm(50);
  height: -moz-calc(pxToEm(50) + pxToEm(4));
}

.toolbar-button img {
  vertical-align: middle;
}

.toolbar-button > div {
  @extend .boxFlex;
}

.toolbar-button .label {
  height: auto;
  padding-top:pxToEm(2);
  text-align:center;
  // For displaying ellipsis correctly.
  max-width:100%;
}

.toolbar-separator {
  width: pxToEm(5);
}

.list-itemimage {
  margin-right: pxToEm(8);
}