//
// ATOM
//

.atom > .hbox:not(.boxReverse) > img {
  margin-right: rem(5);
}

.atom > .hbox.boxReverse > img {
  margin-left: rem(5);
}

.atom > .vbox:not(.boxReverse) > img {
  margin-bottom: rem(5);
}

.atom > .vbox.boxReverse > img {
  margin-top: rem(5);
}