//
// LIST
//

.list {
  @include background-clip(padding-box);
  @include border-radius($list-border-radius);
  @include background($list-background);
  padding: 0;
  font-weight: $list-title-font-weight;
  font-style: $application-font;
  cursor:pointer;
}

.list .list-item {
  list-style-type: none;
  padding: rem(10) rem(25) rem(10) rem(10);
  position:relative;
  color: $list-title-text-color;
  border: rem(1) solid $list-border-color;
}

.list .list-item .list-itemlabel {
  font-size: $list-title-font-size;
}

.list .list-item .subtitle {
  color: $list-subtitle-text-color;
  font-weight: normal;
  font-size: $list-subtitle-font-size;
}

.list img[src] {
  display: block;
}

.list-item + .list-item {
  border-top: none;
}


.list .list-item.active {
  @include background($list-active-background);
}

.list .list-item.active * {
  color: $list-active-text-color;
}

.list .list-item.arrow:after {
  @include transform(rotate(45deg));
  @include transform-origin(50% 50%);

  content:"";
  
  border-top: $list-arrow-thickness solid $list-arrow-color;
  border-right: $list-arrow-thickness solid $list-arrow-color;
  
  width: $list-arrow-size*2;
  height: $list-arrow-size*2;
  
  position: absolute;
  right: rem(16);
  top: 50%;
  margin-top: -1.5*($list-arrow-size);
}

.list .list-item.arrow.active:after {
  border-color: $list-active-arrow-color;
}

.list-item:first-child, .list-item:first-child a {
  @include border-radius-top($list-border-radius);
}

.list-item:last-child, .list-item:last-child a {
  @include border-radius-bottom($list-border-radius);
}