//
// NAVIGATION CONTAINER
//

.navigation {
  @include transition(-webkit-transform 0.8s ease-in-out);
  @include transform(translateY(0px));
  
  height: 100%;
  overflow:hidden;
  margin-bottom:0px;
  -webkit-backface-visibility:hidden;
}

.navigation.blocked {
  @include pointer-none();
}

.navigation.hidden {
  margin-bottom:-($navigationbar-height);
  @include transition(-webkit-transform 0.8s ease-in-out );
  @include transform(translateY(-($navigationbar-height)));
}

.left-container {
  position:absolute;
  left: 0;
  top: 0;
  width:auto;
  height: $navigationbar-height;
}

.right-container {
  position:absolute;
  right: 0;
  top: 0;
  width:auto;
  height: $navigationbar-height;
}