//
// PICKER
//

.picker {
  position:relative;
  display: inline-block;
  overflow:hidden;
  background: $picker-spinning-wheel-background;

  .list-item {
    @include border-radius(0);
    padding: rem(10);
    border-top: none;
    border-bottom: none;
    border: none;
    background: none;
    margin-top: 0 !important;
  }

  .scrollbarV {
    display:none;
  }

  .placeholder-item {
    box-sizing:border-box;
  }

  .list {
    background: none;
    border: none !important;
  }

  .list-item * {
    color: $picker-spinning-wheel-text-color;
  }

  .scroll {
    display: block;
    float:left;
    width: auto;
  }

  .scroll + .scroll {
    border-left: $picker-spinning-wheel-divider-width solid $picker-spinning-wheel-divider-color;
  }
}

.picker:after {
  @include background($picker-spinning-wheel-overlay);
  @include pointer-none();
  content :"";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:transparent !important;
}

.picker:before {
  @include transform(translate3d(0,-50%,0));
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: none;
  border-top: $picker-highlight-border-width solid $picker-highlight-color;
  border-bottom: $picker-highlight-border-width solid $picker-highlight-color;
  background-color:transparent !important;
}

.picker[data-items="3"]:before {
  display: block;
  height: 33.3%;
}

.picker[data-items="5"]:before {
  display: block;
  height: 20%;
}

.picker[data-items="7"]:before {
  display: block;
  height: 14.28%;
}

.picker[data-items="9"]:before {
  display: block;
  height:  11.11%;
}