//
// PICKER
// 

.picker {
  @extend .popup;
}

.picker-slot {
  @include transition(all no-ease);

  position:relative;
  top: -($picker-height/2);

  padding-top: $picker-height;
  padding-bottom:  $picker-height;
}

.picker-slot * {
  -webkit-backface-visibility:hidden;
}

.picker-label {
  position: relative;

  color:  $picker-spinning-wheel-text-color;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $picker-label-font-size;
  line-height: $picker-label-height;
  padding-left: rem(5);
  padding-right: rem(5);
  
  top: -$picker-label-height / 2;
}

.picker-container {
  @include border-radius($picker-spinning-wheel-border-radius);
  @include background($picker-spinning-wheel-background);
  @include flex-justify-content(flex-start);
  overflow:hidden;
  position:relative;
  height: $picker-height;
}

// Spinning Wheel Overlay Gradient
.picker-container.css-pointer-true:after {
  @include border-radius($picker-spinning-wheel-border-radius);
  @include background($picker-spinning-wheel-overlay);
  @include pointer-none();

  content:"";

  background-color:transparent !important;
  background-size: 100% $picker-height;

  
  width: 100%;
  height: 100%;
  z-index: 1000;
  position:absolute;
  top: 0px;
  left: 0px;
}

// Divider
.picker-slot:not(:last-child) {
  border-right:  $picker-spinning-wheel-divider-width solid $picker-spinning-wheel-divider-color;
}

// Selected Area Overlay 
.picker-container:before {
  @include pointer-none();

  content:"";
  
  position:absolute;
  width:100%;
  z-index:1001;

  top: $picker-height/2;
  left: 0px;

  height: $picker-label-height; 
  margin-top: -($picker-label-height/2) - ($picker-highlight-border-width);

  border-top:  $picker-highlight-border-width solid $picker-highlight-color;
  border-bottom:  $picker-highlight-border-width solid $picker-highlight-color;
}