//
// SCROLL CONTAINER
//

$scShadowOffset: rem(10);
$scShadowColor: rgba(0,0,0,0.3);
$scShadowColorLight: rgba(0,0,0,0.2);

.scroll-container {
  @include background($input-background);
  border: rem(1) solid $input-border-color;

   // iOS6 flickering bug fix
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
 
  position:relative;
  overflow:hidden;

  -ms-touch-action:none;
}

.scroll-container-child {
  position:relative;
}

.scroll-container.scrollable-top:before, .scroll-container.scrollable-bottom:after {
  pointer-events:none;
}

.scroll-container:before {
  @include box-inset-multi-shadow(
      0px $scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor
  );

  position:absolute;
  content:"";
  top: 0px;
  left: 100%;
  z-index:500;
  width:100%;
  height:rem(30);
}

.scroll-container.scrollable-top:before {
  left:0;
}

.scroll-container:after {
  @include box-inset-multi-shadow(
      0px 0px $scShadowOffset -1*$scShadowOffset $scShadowColor, 
      0px -1*$scShadowOffset*1.4 $scShadowOffset -1*$scShadowOffset $scShadowColor
  );
  
  position:absolute;
  content:"";
  bottom:0px;
  left:100%;
  z-index:500;
  width:100%;
  height:rem(30);
}

.scroll-container.scrollable-bottom:after {
  left:0px;
}

.scroll-container .text-area {
  @include border-radius(0);
  padding:rem(10);

  border:0px solid transparent;
  background: none;
  box-sizing:border-box;
  width:100%;
}

.momentum-ease {
  @include transition(all 1500ms cubic-bezier(0.000, 0.075, 0.000, 1.00));
}

.bounce-ease {
  @include transition(all 400ms cubic-bezier(0.33, 0.66, 0.66, 1));
}

.scroll-bounce-ease {
  @include transition(all 1000ms cubic-bezier(0.000, 0.075, 0.000, 1.50));
}