body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, "sans-serif";
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.1em;
  padding: 8px 10px;
  margin: 0 0 15px 0;
  background-color: #E8E8E8;
  border-bottom: 1px solid #B5B5B5;
  color: #000;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fff;
}

input[type=submit] {
  color: #fff;
  background-color: #B5B5B5;
  font-weight: bold;
  padding: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-width: 0;
}

input[type=text] {
  border: 1px solid #B5B5B5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
}

input[type=checkbox] {
  margin: 5px 8px;
}

label {
  font-size: 0.9em;
}

#controls {
  margin: 0 10px 15px 10px;
}

#run {
  margin-right: 10px;
  background-color: #007F00;
}

#run:disabled {
  background-color: #659E67;
  color: #fff !important
}

#stop {
  margin-right: 10px;
  background-color: #9E0000;
}

#stop:disabled {
  background-color: #9E5E5E;
  color: #fff !important;
}

#framelogcontainer {
  height: 150px;
  margin: 0 10px 10px 10px;
}

#framecontainer {
  height: 150px;
  float: left;
  width: 50%;
}

#log {
  width: 49%;
  height: 150px;
  float: right;
  overflow: auto;
  font-family: Courier, monotype;
  font-size: 0.8em;
  border: 1px solid #B5B5B5;
}

#autframe {
  display: inline-block;
  border: 1px solid #B5B5B5;
  margin-top: 5px;
  max-height: 120px;
  width: 99%;
}

#iframesrc {
  width: 83%;
  margin-right: 10px;
}

#setiframesrc {
  background-color: #777777;
  padding-top: 2px;
  padding-bottom: 2px;
}

#testcontrols {
  clear: both;
  font-size: 1em;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

#testcontrols input {
  margin-left: 10px;
}

#testscontainer {
}

#tests {
  float: left;
  width: 50%;
  padding-bottom: 30px;
  font-size: 0.9em;
}

#tests ul {
  border-top: 1px solid #E5E5E5;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#tests ul li {
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #fff;
  background-color: #F4F4F4;
}

#results {
  float: right;
  width: 49%;
  margin: 0 0 30px 0;
  font-size: 0.9em;
}

#results ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#results ul li {
  margin: 0 0 2px 0;
  padding: 2px;
  font-family: "Consolas", "Courier New", monospace;
  font-weight: bold;
  font-size: 1em;
  color: #134275;  
}

#results ul li ul li {
  margin: 3px 0 3px 10px;
}

.stacktrace {
  font-weight: normal;
}

.success {
  background-color: #FAFFED;
  border-left: 2px solid #DEFF83;
}

.t_success {
  color: #007F00;
}

.wait {
  background-color: #FFFBC4;
  border-left: 2px solid #FFFFD8;
}

.t_wait {
  color: #FF7F00;
}

.skip {
  background-color: #F4F4F4;
  border-left: 2px solid #E5E5E5;
  color: #6EA4BC;
}

.t_skip {
  color: #666666;
}

.failure,
.error {
  background-color: #FEF4F4;
  border-left: 2px solid #9D1111;
}

.t_failure,
.t_error {
	color: #9E0000;
}

#aut iframe {
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  
  background-color: #E8E8E8;
  border-top: 1px solid #B5B5B5;
  color: #000;
}

#status {
  margin: 6px 8px;
  font-size: 0.9em;
}

#status .error {
  color: #FF0000;
}
