.qx-button[disabled] {
  border: rem(1) solid $border-color;
  color: $highlight-color-disabled;
}

.qx-button[disabled] img {
  opacity: 0.4;
}

.qx-button {
  display: inline-block;
  padding: rem(8) rem(12);
  margin: rem(3);
  border: rem(1) solid $border-color;
  @include background-clip(padding-box);
  @include border-radius(rem(2));
  cursor: pointer;
  font-size: rem(14);
  outline: none;
  background: $background-color;
  color: $highlight-color;
  line-height: normal;
  min-height: rem(35);
}

.qx-button:hover {
  border: rem(1) solid $highlight-color;
}

.qx-button:active {
  border: rem(1) solid darken($highlight-color, 20%);
  background: darken($background-color, 10%);
}

.qx-button:focus {
  border-color: $highlight-color;
}

.qx-button img {
  margin-left: rem(3);
}

.qx-button img,span {
  vertical-align: middle;
}
