@import "variables"; 

@function checkMissing() {
  $missing: false;
  @each $theme-variable in $theme-variables {
    #{unquote($theme-variable)}: false !default;
    @if (#{unquote($theme-variable)} == false) {
      $missing: true;
      $error-message: $theme-variable + ' is missing in your "_styles.scss". Please add this variable and trigger the watch-job again.';
      @warn $error-message;
      @include warning($error-message);
    }
  }
  @return $missing;
}

@mixin warning($error-message) {
  .root:after {
    content: 'SCSS Compilation Error: '+$error-message;

    display:inline-block;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    background-color: white !important;
    border: 2px solid red;
    padding: 10px;
    margin: 5px;
  }
}