html,body{
  padding: 0;
  margin: 0;
  background: #fff;
  color: #000;
}

html,body,td{
  font-family: Verdana;
  font-size: 12px;
}

body{
  padding: 20px;
}

p{
  line-height: 140%;
}

a:link,
a:visited{
  color: #0A328C;
  text-decoration: underline;
}

a:hover,
a:active{

}

h1{
  font-size: 18px;
  color: #0A328C;
  text-transform: uppercase;
  margin-top: 40px;
}

h2{
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  margin-top: 30px;
  margin-bottom: 8px;
}

h3{
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 4px;
}

h4{
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 11px;
  text-decoration: underline;
}

ul{
  list-style: square;
  margin-left: 20px;
  padding-left: 0;
}

#navigation{
  position: absolute;
  top: 10px;
  left: 10px;
}

#quickselect{
  position: absolute;
  right: 10px;
  top: 10px;
}

#quickselect, 
#navigation{
  padding: 5px 10px 5px 10px;
}


#navigation a{
  text-decoration: none;
}

div.preview{
  margin: 20px 0 20px;
}

div.preview div{

}

ul.propertylist .haspreview,
ul.propertylist .haspreview a{
  color: #3B9E65;
}

ul.propertylist .hasnopreview,
ul.propertylist .hasnopreview a{
  color: #BC381A;
}

table.overview{
  width: 100%;
}

table.list{
  width: 100%;
  background: #fff;
  border: 1px solid #7F91B9;
}

table.list a{
  font-weight: normal;
  text-decoration: none;
}

table.list tr:target td{
/*
  border-top: 1px solid #455EB3;
  border-bottom: 1px solid #455EB3;
  */
  font-weight: bold;
  background: #E0E9F2 !important;
}

table.list th{
  text-align: left;
  background: #AE2D31;
  color: #fff;
  padding: 3px 4px 3px 4px;
  font-size: 14px;
}

table.list th.nr,
table.list td.nr{
  width: 20px;
  text-align: right;
}

table.list th.properties,
table.list th.rules,
table.list th.group{
  width: 80px;
}

table.list th.details{
  width: 80px;
}

table.list tr td{
  font-size: 11px;
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}

table.list tr.group td{
  font-weight: normal;
  background: #ADCBEF;
  font-size: 12px;
}

table.list tr.maingroup td{
  font-weight: bold;
  background: #A0C0E6;
  color: #000;  
  font-size: 12px;
  padding: 3px 4px 3px 4px;
  border-top: 1px solid #7F91B9;
  border-bottom: 1px solid #7F91B9;
}

table.list tr.odd td{
  background: #E9F0FA;
}

table.list tr.even td{
  background: #F3F3F3;
}

table.navigation{
  border: 1px solid #D3DBEB;
  background: #F5F8FB;
  width: 100%;
}

table.navigation td{
  padding: 2px 4px;
}

table.navigation td.next,
table.navigation td.prev{
  width: 100px;
  background: #D3DBEB;
}

table.navigation td.next{
  text-align: right;
}

table.navigation td.next a,
table.navigation td.prev a
{
  text-decoration: none;
}

table.navigation td.current{
  font-weight: bold;
  text-align: center;
}

div.preframe{
  margin-top: 6px;
  margin-bottom: 20px;
  background: #F5F8FB;
  border: 1px solid #D3DBEB;
  text-align: right;
}

div.colorpreview{
  width: 50px;
}

div.smallcolorpreview{
  height: 12px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

div.smallcolorpreview div{
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  float: left;
}


.semicolon{
  color: #38428C;
}

.funcname{
  color: #424E0C;
  font-weight: bold;
}

.agrafe{
  color: #B80E22;
}

.object{
  color: #637612;
}

.dot{
  color: #B80E22;
}

.mandatory{
  font-weight: bold;
  color: #8C385E;
}

pre{
  border: 1px solid #D5DBEB;
  background: #F5F8FB;
  padding: 4px 8px;
}

div#info{
  float: right;
  padding: 14px 12px 18px;
  margin: 10px 0px 10px 20px;
  border: 1px solid #D5DBEB;
  background: #F5F8FB;
  width: 220px;
}

div#info ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

div#info ul li{
  padding: 2px 0;
}

div#title{
  font-size: 14px;
  font-weight: bold;
  color: #0A328C;
  border-bottom: 1px solid #D5DBEB;
  padding-top: 20px;
  padding-bottom: 10px;
}

div#description{
  font-weight: bold;
  color: #565656;
}



.jsclasstree,
.jsclasstree ul{
  list-style: none;
  margin-left: 30px;
  padding: 0;
  border-left: 1px solid #D3DBEB;
  margin-bottom: 16px;
}

.jsclasstree{
  margin-left: 20px;
}

.jsclasstree li code {
  border: 1px solid #D3DBEB;
  text-decoration: none;
  color: black;
  position: relative;
  left: -15px;
  background:  white;
  display: block;
  width: 200px;
}

.jsclasstree li code a {
  text-decoration: none;
  padding: 3px 5px;
  display: block;
  width: 200px;
}

.jsclasstree li code a:hover,
.jsclasstree li code a:active{
  color: red;
}

.jsclasstree li {
  margin-bottom: 4px;
  margin-top:  4px;
}

.jsclasstree .none{
  font-style: italic;
}



.cname{
  width: 130px;
}

.ctype{
  width: 70px;
}


