//
// Default Theme for qx.Mobile
//

//
// Settings
//
 
$main-theme-color: #3D72C9;

$light-grey: #F4F4F4;
$dark-grey: #45484d;
$grey: #808080;

$border-color: #DDDDDD;
$widget-border-color: darken($border-color, 40%);

$dialog-color:#323335;

$font-color-dark-background: white;
$font-color-light-background: #333333;

$border-radius: 4px; 

// Page

$navigationpage-background-color: $light-grey;
$navigationpage-border-color: $border-color;

// NavigationBar

$navigationbar-background-color:  $dialog-color;
$navigationbar-text-color:  white;
$navigationbar-height:  45px;

// NavigationBar Button

$navigationbarbutton-border-radius: $border-radius;
$navigationbarbutton-background-color:  lighten($dialog-color,5%);
$navigationbarbutton-border-color:  $widget-border-color;
$navigationbarbutton-text-color:  $font-color-dark-background;

$navigationbarbutton-active-background-color:  $main-theme-color;
$navigationbarbutton-active-text-color:  white;
$navigationbarbutton-active-border-color:  $widget-border-color;
 
// Dialog

$dialog-border-color: $main-theme-color; 
$dialog-background-color: $dialog-color;
$dialog-border-radius: $border-radius;
$dialog-title-text-color: $font-color-dark-background;

// Group

$group-background-color:  white;
$group-border-color:  $border-color;
$group-title-text-color:  $main-theme-color;
$group-border-radius: $border-radius;

// List

$list-background-color: white;
$list-title-text-color: $font-color-light-background;
$list-subtitle-text-color:  $main-theme-color;
$list-border-color: $border-color;
$list-active-background-color:  $main-theme-color;
$list-active-text-color:  white;
$list-border-radius:  $border-radius;

// Form

$form-background-color:  white;
$form-title-text-color:  $main-theme-color;
$form-border-color:  $border-color;
$form-border-radius:  $border-radius;

// Input

$input-text-color:  $font-color-light-background;
$input-border-radius: $border-radius;
$input-border-color: $border-color;

// Checkbox

$checkbox-tick-color: $main-theme-color;
$checkbox-border-radius:  0.1em;
$checkbox-border-color:  $widget-border-color;
$checkbox-background-inner-color: $dark-grey; 
$checkbox-background-color: $light-grey; 

// Radiobutton

$radiobutton-dot-color: $main-theme-color;
$radiobutton-background-color: $light-grey;
$radiobutton-border-color: $widget-border-color;
$radiobutton-background-inner-color: $dark-grey;

// Tabbar

$tabbar-active-background-color:  $main-theme-color;
$tabbar-inactive-background-color:  $grey;
$tabbar-active-text-color:  $font-color-dark-background;
$tabbar-inactive-text-color:  $font-color-dark-background;
$tabbar-border-radius:  $border-radius;

// ToggleButton

$togglebutton-active-background-color:  $main-theme-color;
$togglebutton-active-text-color:  $font-color-dark-background;
$togglebutton-border-radius:  30px;

// Carousel

$carousel-pagination-background-color: white;
$carousel-pagination-active-background-color: $main-theme-color;
$carousel-pagination-border-radius: 15px;

// Button

$button-text-color:  $font-color-light-background;
$button-active-text-color:  $font-color-dark-background;
$button-border-radius:  $border-radius;
$button-border-color:  $widget-border-color;
$button-active-border-color:  $widget-border-color;
$button-background-color: $light-grey;
$button-active-background-color:  $main-theme-color;

// SelectBox

$selectbox-border-radius: $border-radius;
$selectbox-border-color:  $border-color;
$selectbox-text-color:  $font-color-light-background;
$selectbox-background-color:  $light-grey;
$selectbox-active-background-color:  $main-theme-color;
$selectbox-active-text-color:  $font-color-dark-background;
$selectbox-item-selected-text-color:  $font-color-dark-background;
$selectbox-item-selected-background-color:  $main-theme-color;

// Slider

$slider-active-area-color:  $main-theme-color;
$slider-border-radius:  20px;
$slider-knob-border-radius: 20px;

// Toolbar 

$toolbar-text-color:  $font-color-light-background;
$toolbar-background-color:  $light-grey;
$toolbar-active-background-color:  $main-theme-color;
$toolbar-active-text-color:  $font-color-dark-background;
$toolbar-border-color:  $widget-border-color;
$toolbar-border-radius: $border-radius;

// Menu

$menu-item-selected-text-color:  $font-color-dark-background;
$menu-item-selected-background-color:  $main-theme-color;

// Picker 

$picker-spinning-wheel-text-color:  $font-color-light-background;
$picker-spinning-wheel-background-color:  white;
$picker-highlight-color:  $main-theme-color;

// Drawer

$drawer-border-color: $dark-grey; 
$drawer-background-color: $light-grey; 