#description {
  font-family: Verdana,"Bitstream Vera Sans","Lucida Grande",Tahoma,"Lucida Sans Unicode",Arial,sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 140%;
  padding-left: 10px;
}

#description a {
  text-decoration: underline;
  color: #444444;
}

#description a:hover, #description a:active {
  color: #83B300;
}

#description h2 {
  color: rgb(131, 179, 0);
  padding: 10px 0px 5px 0px;
  font-size: 15px;
  font-weight: bold;
}

#description h1 {
  font-size: 24px;
  line-height: 130%;
  margin: 10px 0 4px 0;
  color: rgb(16, 66, 117);
  font-weight: bold;
}

#description ul {
  padding-left: 20px;
}

#description li {
  color: #444444;
}