/* MAIN */

.root {
    background: rgb(197,204,211) url(../../icon/ios/pinstripes.png);
    font-family: Helvetica;
    color : #666;
    font-weight:normal;
    font-size:0.8em;
}

.root > * {
    background: rgb(197,204,211) url(../../icon/ios/pinstripes.png);
}

.content {
  padding: 10px;
}

/* FONTS */

.fontNormal {
  color : #666;
  font-weight:normal;
  font-size:0.8em;
}

/* HEADINGS */

h1, h2 {
    font-weight: bold;
}


h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  margin-left:4px;
  margin-right:4px;
}


h2 {
   font-size: 18px;
   margin-left: 5px;
   margin-top: 10px;
   margin-bottom:10px;
   text-shadow: rgba(255,255,255,.2) 0 1px 1px;
   color: rgb(76, 86, 108);
}


/* LINKS */

a:hover, a:active { outline: none; }
a, a:active, a:visited {  color: rgb(76, 86, 108); }
a:hover {  color:rgb(76, 86, 108); }


/* BUTTONS */

.button {
  cursor: pointer;
  font-weight: bold;
  color: black;
  background: #fff;
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  -webkit-border-radius: 8px;
  line-height : 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  -webkit-background-clip: padding-box;
}


.button.active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4583fd), color-stop(100%,#194ae4));
    color: #fff;
}

/* LISTS */

.list-itemimage {
   margin-right:7px;
}

.list-itemtext {
 
}

ul {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 17px Helvetica;
    padding: 0;
    -webkit-border-radius: 8px;
    margin-bottom: 10px;
    -webkit-background-clip: padding-box;
}

ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;
    padding: 10px 25px 10px 10px;
}

ul li * {
}

ul li.arrow {
    background: url("../../icon/ios/arrow.png") no-repeat right center;
}

ul li.active.arrow,  ul li.selected.arrow {
    background: url("../../icon/ios/arrow_pressed.png") no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#4583fd), to(#194ae4));
}

ul li.active,  ul li.selected {
    background: -webkit-gradient(linear, left top, left bottom, from(#4583fd), to(#194ae4));
    color: #fff;
}

ul li .subtitle {
  font-weight:normal;
  font-size:0.8em;
  color : #585858;
}


/* when you have a first LI item on any list */

li:first-child, li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

li:last-child, li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}


/* FORMS */

input, select { vertical-align:middle; }
input, select, textarea { 
  font-family: Helvetica;
  font-size:.9em;
}

select {
  text-indent: 0;
  background: transparent no-repeat right center;
  -webkit-appearance: textfield;
  margin-left: -6px;
  width: 100%;
  color: #777;
  border: none;
}

ul.form {
  margin-bottom: 10px;
}

ul.form ul li {
    padding: 10px 10px 10px 10px;
}

ul.form ul li.error {
    border: 2px solid red;
}

ul.form ul li.error + li.error {
    border-top: 0;
}

ul.form ul li * {
    white-space: normal;
    text-overflow: ellipsis;
}

 input[type="text"], input[type="password"], textarea {
    color: #777;
    background: #fff url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
    outline: none;
}

textarea {
    height: 120px;
    padding: 0;
    resize: none;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0;
    color: rgb(50,79,133);
    padding: 10px 10px;
}

/* TOGGLE BUTTON */

.toggleButton {
    width: 94px;
    height: 27px;
    display: block;
    overflow: hidden;
    position:relative;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
}

.toggleButton > div.checked {
    left: 0px;
}

.toggleButton > div {
    margin: 0;
    -webkit-border-radius: 5px;
    background: #fff url(../../icon/ios/on_off.png) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    width: 149px;
    border: 0;
    background-color: transparent;
    -webkit-transition: left .15s;
    position: absolute;
    top: 0px;
    left: -55px;
    -webkit-background-clip: padding-box;
}


/* SLIDER */

.slider {
  position:relative;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #929292;
  border-left:  1px solid #b5b5b5;
  border-right:  1px solid #b5b5b5;
  height: 15px;
  background: -webkit-gradient(linear,left top,left bottom,from(#929292), color-stop(0.05, #bbbbbb), color-stop(0.5, #f6f6f6), to(#f9f9f9)) 0px 0px no-repeat, -webkit-gradient(linear,left top,left bottom,from(#093887), color-stop(0.05, #2a5db1), color-stop(0.9, #6ca9f7), to(#4e8ad4)) 0px 0px no-repeat;
  background: -webkit-linear-gradient(top, #929292, #bbbbbb 5%,#f6f6f6 50%, #f9f9f9) 0px 0px no-repeat, -webkit-linear-gradient(top, #093887, #2a5db1 5%,#6ca9f7 90%, #4e8ad4) 0px 0px no-repeat;
  -webkit-border-radius: .6em;
  overflow: visible;
  -webkit-background-clip: padding-box;
}

.slider > div {
  position:absolute;
  top: -8px;
  left: 0%;
  background-color:#fff;
  -webkit-box-shadow: 0 0 2px 1px #a9a9a9;
  width: 30px;
  height: 30px;
  background: -webkit-gradient(radial, 15 33, 6, 15 30, 29, from(#FCFCFC), color-stop(95%, #D1D1D1), to(#fff) );
  background: -webkit-radial-gradient(50% 135%, 30px 44px, #fff, #fdfdfd, #d1d1d1 83%, #fff 95%);
  -webkit-border-radius: 1em;
  -webkit-background-clip: padding-box;
}

input[type="text"].invalid, input[type="password"].invalid, textarea.invalid {
  border: 1px solid red;
}

.formElementError {
  color: red;
}

/* TABBAR */

.tabBar {
  height:45px;
  border-top:1px solid #333333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(50%,#111111), color-stop(51%,#000000), color-stop(100%,#000000));
  
}

.tabButton {
  height:42px !important;
  text-align: center;
  line-height: 45px;
  -webkit-box-sizing: border-box;
}

.tabButton.active, .tabButton.selected {
  color:#ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393939), color-stop(50%,#292929), color-stop(51%,#1d1d1d),color-stop(100%,#1c1c1c));
}


/* NAVIGATIONBAR */



.navigationbar {
    border-bottom: 1px solid #2d3642;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdd5df), to(#6d84a2), color-stop(0.5, #8195af));    
}


.navigationbar-button, .navigationbar-backbutton {
    text-align: center;
    cursor: pointer;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-decoration: none;
    background: none;
    -webkit-border-image: url(../../icon/ios/toolButton.png) 0 5 0 5;
}

.navigationbar-button.active {
    -webkit-border-image: url(../../icon/ios/toolButton_pressed.png) 0 5 0 5;
}

.navigationbar-backbutton {
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../../icon/ios/backButton.png) 0 8 0 14;
}

.navigationbar-backbutton.active {
    -webkit-border-image: url(../../icon/ios/backButton_pressed.png) 0 8 0 14;
}


/* SCROLLBAR */

.scrollbarV {
  position:absolute;
  z-index:100;
  width:6px;bottom:7px;top:2px;right:2px
}

.scrollbarV > div {
  border: none;
  background:-webkit-gradient(linear, 0 0, 100% 0, from(#62666a), to(#65696c));
  -webkit-background-clip:padding-box;
  -webkit-box-sizing:border-box;
  -webkit-border-radius:4px;
}

/* CHECKBOX */

input[type="checkbox"] {
  background-color: #929292;
  -webkit-appearance : none;
  width: 30px;
  height: 30px;
  -webkit-border-radius: .5em;
  border: 2px solid #4c4c4c;
  background: -webkit-gradient(linear,left top,left bottom,from(#fefefe), to(#cecece));
  background: -webkit-linear-gradient(top, #fefefe, #cecece);
}

input[type="checkbox"]:checked {
  background: url(../../icon/ios/checkbox.png) 50% 50% no-repeat, -webkit-gradient(linear,left top,left bottom,from(#353535), to(#8f8f8f)) 0px 0px no-repeat;
  background: url(../../icon/ios/checkbox.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #353535, #8f8f8f) 0px 0px no-repeat;
}

.disabled input[type="checkbox"]:disabled {
  border: 2px solid #b8b8b8;
  background: -webkit-gradient(linear,left top,left bottom,from(#ffffff), to(#ebebeb));
  background: -webkit-linear-gradient(top, #ffffff, #ebebeb);
}

/*  TOOLBAR  */

.toolbar-button {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  -webkit-border-radius: 4px;
  font: bold 17px Helvetica;
  height : 50px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  width: 0; /* this is for equal sizes od the buttons when aded in a toolbar or other container with flex :1*/
}

.toolbar-button.active {
  font-weight: bolder;
}

.toolbar-button img {
  vertical-align: middle;
}

.toolbar-button > div {
  height: 50px;
  overflow: hidden;
}

.toolbar-button .label {
  height: auto;
}

.toolbar-separator {
  width: 5px;
}

.toolbar {
  width: 100%;
  z-index: 1;
  /*
  border-top: 1px solid #2d3033;
  background: -webkit-gradient(linear,left top,left bottom,from(#d8dee6), color-stop(0.05, #b0bbce), color-stop(0.5, #8e9fb6), color-stop(0.5, #8195af), to(#778ca8));
  background: -webkit-linear-gradient(top, #d8dee6, #b0bbce 5%,#8e9fb6 50%, #8195af 50%, #778ca8);
  */
  border-top: 1px solid #2d3642;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cdd5df), to(#6d84a2), color-stop(0.5, #8195af));
  -webkit-transition: bottom .65s;
}


/*  BLOCKER  */
.blocker {
  position : absolute;
  z-index:100;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color:gray;
  opacity : 0.7;
  color: black;
}


/*  SPINNER  */
.spinnerContainer {
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.spinner {
  height: 20px;
  width: 20px;
  background-image: url(../../icon/ios/spinner.png);
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  margin: 0 auto;
  vertical-align: middle;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}


/*  SPLITPANE  */

.splitPane {
  
}

.splitPaneLeft {
  width : 25%;
}

.splitPaneRight {
  
}


/*  POPUP  */

.popup {
  position: absolute;
  background: -webkit-gradient(radial,100 -180,215,100 -180,225,from(#637396),to(#1d3566));
  background: -webkit-radial-gradient(100px -195px,230px 230px,#637396 99%,#1D3566);
  width: auto;
  padding: 6px;
  border: 2px solid #c7d1e3;
  -webkit-border-radius: .7em;
  z-index: 99;
  clear: both;
  color: #fff;
}


.popupAnchorPointer {
  height: 0;
  width: 0;
  float: left;
}

.popupAnchorPointerBottom {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
}

.popupAnchorPointerTop {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

.popupAnchorPointerLeft {
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.popupAnchorPointerRight {
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}


/*  DIALOG  */
.dialog {
  position: fixed;
  background: -webkit-gradient(radial,100 -180,215,100 -180,225,from(#637396),to(#1d3566));
  background: -webkit-radial-gradient(100px -195px,230px 230px,#637396 99%,#1D3566);
  width: auto;
  padding: 6px;
  border: 2px solid #c7d1e3;
  -webkit-border-radius: .7em;
  z-index: 99;
  min-width: 200px;
  color: #fff;
}

.dialogButton {
  width:0;
  margin-top:6px;
  margin-left:1px;
  margin-right:1px;
}

.dialogTitleUnderline {
  font-weight: 800;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.dialogTitleUnderline:after {
  display: none;
}